mqtt/nodered/.node-red/data/.flows.json.backup
[{"id":"5878e260.04cb9c","type":"tab","label":" Smart Tomada","disabled":false,"info":""},{"id":"d63edcac.7d259","type":"tab","label":" Power","disabled":false,"info":""},{"id":"1a910664.f749aa","type":"tab","label":"FR433MHZ-Light","disabled":false,"info":""},{"id":"7aabb44.59a2a4c","type":"tab","label":"Alarme","disabled":false,"info":""},{"id":"68169bf7.7ccc54","type":"tab","label":"Json_MQTT","disabled":false,"info":""},{"id":"b1e7287a.6870b8","type":"tab","label":" Boot","disabled":false,"info":""},{"id":"b0b92433.d70e68","type":"tab","label":"Push (Interno)","disabled":false,"info":""},{"id":"c2f5996c.1328c8","type":"tab","label":"MQTT_SERVIDOR","disabled":false,"info":""},{"id":"161b75ee.b22baa","type":"tab","label":" Multiplus Topicos","disabled":false,"info":""},{"id":"1987b2.fe76484e","type":"tab","label":" 433MHZ_PERSIANA","disabled":false,"info":""},{"id":"ca9e1adb.bc6a58","type":"tab","label":" 433MHZ_Garagem","disabled":false,"info":""},{"id":"537ac06c.7221e","type":"tab","label":"433MHZ_Alarmes","disabled":false,"info":""},{"id":"e8b80ae9.697808","type":"tab","label":"Infrared AR","disabled":false,"info":""},{"id":"fa125156.f17d2","type":"tab","label":"Zigbee2Mqtt","disabled":false,"info":""},{"id":"c863174.f708ae8","type":"tab","label":"ifttt","disabled":false,"info":""},{"id":"da0d8189.8877","type":"tab","label":"Cena","disabled":false,"info":"Recebe o Comando da Cena e toma providencia em ativar"},{"id":"9cf9f63c.cd0358","type":"tab","label":"OpenALPR","disabled":false,"info":""},{"id":"8890c82a.0dfa48","type":"tab","label":"FireBase","disabled":false,"info":""},{"id":"51413e3.3101cc","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"a8a27c9a.91072","type":"tab","label":"TuyaDevices","disabled":false,"info":""},{"id":"21b80430.90483c","type":"tab","label":"Alarmes Hikvision","info":"Alarmes Cameras Hikvision"},{"id":"827f49e3.691098","type":"tab","label":"Tago.Io","info":""},{"id":"8b47545.6bac3a8","type":"mqtt-broker","z":"","name":"","broker":"mqttautodomo","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0c945b2.5c70f8","type":"mqtt-broker","z":"","name":"","broker":"201.30.92.199","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ee719ed.d612f8","type":"mqtt-broker","z":"","name":"GBridge","broker":"mqtt.gbridge.io","port":"8883","tls":"57c7b754.7b6058","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57c7b754.7b6058","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true},{"id":"e2f44265.69a06","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"autohome","tz":""},{"id":"8b50591a.fb7e18","type":"hikcamera-credentials","z":"","screen_name":"Camera1"},{"id":"8beeacd5.765bf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"568a1485.52352c","type":"ui_group","z":"","name":"Default","tab":"8beeacd5.765bf","disp":true,"width":"6","collapse":false},{"id":"d0668766.7ad418","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d4f4598.3c4108","type":"mqtt-broker","z":"","name":"","broker":"192.168.10.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19342f51.a68f81","type":"firebase config","z":"","firebaseurl":"autodomo-73076","loginType":"none"},{"id":"9643ad35.7a3b4","type":"firebase admin","z":"","name":"AutoDomoDB"},{"id":"d3c8442d.b94d08","type":"nora-config","z":"","name":"AutoDomoToken","group":"","notify":false},{"id":"63ba13ce.aff614","type":"Hikvision-config","z":"","host":"192.168.10.200","port":"80","name":"Camera1","authentication":"digest","protocol":"http","heartbeattimerdisconnectionlimit":"2","deviceinfo":"[object Object]"},{"id":"ed9e6cbc.e10e7","type":"mqtt-broker","z":"","name":"TAGO","broker":"mqtt.tago.io","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62219c7b.0d2294","type":"mqtt out","z":"5878e260.04cb9c","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":930,"y":160,"wires":[]},{"id":"e847c031.8e23b","type":"function","z":"5878e260.04cb9c","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\nvar carga;\nconst fimCarga =  msg.fimCarga;\n\nif (!msg.payload) {\n  //no results\n} else {\n    \n    if(fimCarga == \"ON\" || fimCarga == \"OF\"){\n        if (fimCarga == \"ON\")\n        {\n           for(let i =0; i<keys.length;i++)\n            {\n        \n              carga = \"1\";\n              if (msg.payload[i].estado == \"1\") carga = \"1\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n             // outputMsgs.push();\n        \n            }\n           return [outputMsgs];\n        }\n        if (fimCarga == \"OF\")\n        {\n           for(let i =0; i<keys.length;i++) \n            {\n        \n              carga = \"0\";\n              if (msg.payload[i].estado == \"0\") carga = \"0\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n              // outputMsgs.push({payload:\"1\"});\n        \n            }\n           return [outputMsgs];\n        }\n    \n        \n    }else{\n        if (msg.payload[0].carga == \"1\")\n        {\n           for(let i =0; i<keys.length;i++)\n            {\n        \n              carga = \"0\";\n              if (msg.payload[i].estado == \"1\") carga = \"1\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n             // outputMsgs.push();\n        \n            }\n           return [outputMsgs];\n        }\n        if (msg.payload[0].carga == \"0\")\n        {\n           for(let i =0; i<keys.length;i++) \n            {\n        \n              carga = \"1\";\n              if (msg.payload[i].estado == \"0\") carga = \"0\";\n               outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n              // outputMsgs.push({payload:\"1\"});\n        \n            }\n           return [outputMsgs];\n        }\n    }\n\n        msg.topic =  \"/house/lixo\";\n        msg.payload =  \"1\";\n        return msg;\n\n}","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["62219c7b.0d2294"]]},{"id":"ba662660.461818","type":"mysql","z":"5878e260.04cb9c","mydb":"e2f44265.69a06","name":"AutoDomum","x":510,"y":160,"wires":[["e847c031.8e23b"]]},{"id":"2f5d1afb.ca4e06","type":"function","z":"5878e260.04cb9c","name":"Select RX433mhz","func":"const carga = msg.payload.trim();\n\nconst fimCarga = carga.substr(-2);\n\n\nif(fimCarga == \"ON\" || fimCarga == \"OF\"){\n    const d = new Date();\n    const time_click = d.getTime();\n    const cargaCorrigida = carga.substr(0, carga.length -2);\n    msg.fimCarga = fimCarga;\n    msg.cargaCorrigida = cargaCorrigida;\n    msg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + cargaCorrigida + \"' and ('\" + time_click + \"' - data_ms > 50) ORDER BY data_ms DESC\";\nreturn msg; \n}else{\n    const d = new Date();\n    const time_click = d.getTime();\n    msg.fimCarga = \"\";\n    msg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + carga + \"' and ('\" + time_click + \"' - data_ms > 50) ORDER BY data_ms DESC\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["ba662660.461818","d8be48c0.6e4728"]]},{"id":"63124374.4f7ddc","type":"mqtt in","z":"d63edcac.7d259","name":"","topic":"/house/powersend/#","qos":"2","broker":"8b47545.6bac3a8","x":105,"y":86,"wires":[["b9e7045f.0cfa58"]]},{"id":"b9e7045f.0cfa58","type":"function","z":"d63edcac.7d259","name":"Insert Power","func":"var topico = msg.topic;\nvar carga = msg.payload;\n\nvar corrente;\nvar potencia;\nvar tensao;\n\n\n\nvar n1 = carga.indexOf(\"V\");\n\n\n\npotencia = carga.substring(1, n1);\ntensao = carga.substring(n1+1);\ncodigo = topico.substring(17);\n\n\n\nif (msg.payload) {\n\n   msg.topic = \"INSERT INTO `autohome`.`power` (`id`, `codigo_dispositivo`, `potencia`, `tensao`, `horario`) VALUES (NULL, '\" + codigo + \"', '\" + potencia + \"', '\" + tensao + \"', CURRENT_TIMESTAMP);\";\n //  msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"'\";\n   return msg;\n}\n","outputs":1,"noerr":0,"x":339,"y":87,"wires":[["c3d46c32.7eb82"]]},{"id":"c3d46c32.7eb82","type":"mysql","z":"d63edcac.7d259","mydb":"e2f44265.69a06","name":"AutoDomum","x":573,"y":87,"wires":[[]]},{"id":"bcdb3742.577a88","type":"mqtt in","z":"1a910664.f749aa","name":"RX433MHZ","topic":"/house/rx433mhz/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":110,"y":80,"wires":[["88ca4dd4.9f9ee"]]},{"id":"88ca4dd4.9f9ee","type":"function","z":"1a910664.f749aa","name":"Select RX433mhz","func":"const carga = msg.payload.trim();\n// const fimCarga = carga.substring(2);\n// msg.fimCarga = fimCarga;\n\nvar d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT id, codigo, habilitado, carga, topico, descricao, estado, carga_provavel FROM `rx433mhz` WHERE habilitado = 1 and codigo = '\" + carga + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":174,"y":194,"wires":[["2c752ef1.87bd02"]]},{"id":"1c651851.cc8cb8","type":"function","z":"1a910664.f749aa","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\nvar carga=\"\";\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\nif (msg.payload[0].carga == \"1\")\n{\n\n //  msg.topic =  msg.payload[0].topico;\n //  msg.payload =  \"0\";\n   for(var i =0; i<keys.length;i++)\n    {\n\n      carga = \"0\";\n      if (msg.payload[i].estado == \"1\") {carga = \"1\"}\n       outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n     // outputMsgs.push();\n\n    }\n   return [outputMsgs];\n //  return msg;\n}\nif (msg.payload[0].carga == \"0\")\n{\n//   msg.topic =  msg.payload[0].topico;\n//   msg.payload =  \"1\";\n\n   for(var i =0; i<keys.length;i++) \n    {\n\n      carga = \"1\";\n      if (msg.payload[i].estado == \"0\") {carga = \"0\"}\n      \n      \n       outputMsgs.push({payload:carga,topic:msg.payload[keys[i]].topico});\n      // outputMsgs.push({payload:\"1\"});\n\n    }\n   return [outputMsgs];\n//   return msg;\n}\n \nmsg.topic =  \"/house/lixo\";\nmsg.payload =  \"1\";\nreturn msg;\n\n}","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["484a05ba.81eacc","2f5bdc6a.ea1d14"]]},{"id":"484a05ba.81eacc","type":"mqtt out","z":"1a910664.f749aa","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":770,"y":200,"wires":[]},{"id":"2c752ef1.87bd02","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"AutoDomum","x":390,"y":200,"wires":[["1c651851.cc8cb8"]]},{"id":"20fe288a.616578","type":"mqtt in","z":"1a910664.f749aa","name":"Confirma Iluminação","topic":"/house/confirma/#","qos":"2","broker":"8b47545.6bac3a8","x":170,"y":300,"wires":[["6b56e0d0.506b1"]]},{"id":"6b56e0d0.506b1","type":"function","z":"1a910664.f749aa","name":"Update RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (!msg.payload) {\n  //no results\n} else {\nif (msg.payload == \"On\")\n{\n   msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '0';  SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n //  msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"'\";\n   return msg;\n}\nif (msg.payload == \"Off\")\n{\n\tmsg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '0', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '1'; SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n // msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '0', data_ms = \"+ time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"'\";\n   return msg;\n}\nmsg.topic =  \"SELECT now()\";\nreturn msg;\n\n}\n","outputs":1,"noerr":0,"x":403,"y":302,"wires":[["7ea0299.7df41d8"]]},{"id":"7ea0299.7df41d8","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":640,"y":300,"wires":[["a126199b.947508"]]},{"id":"a126199b.947508","type":"function","z":"1a910664.f749aa","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (msg.payload[0].changedRows == 1) \n{\n    msg.topic = \"SELECT alerta.id, habilitar, carga, descricao, data_ms FROM `alerta`, `rx433mhz` where tipo_alerta = 'iluminacao' and quantidade_dia > 0 and ((TIME_TO_SEC(TIMEDIFF(now(), data_ultima_alerta))/60) > tempo_entre) and ( '\" + time_click + \"' - data_ms < 1000) order by data_ms DESC\";\n   // msg.payload = \"A Iluminação foi Acionada\";\n    return msg\n}else\n{\n    return;\n}\n\nreturn\n","outputs":1,"noerr":0,"x":162,"y":406,"wires":[["e3ef7a8a.627608"]]},{"id":"e3ef7a8a.627608","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":367,"y":406,"wires":[["9407b8f1.1fbf28","fac430d0.7f108"]]},{"id":"fac430d0.7f108","type":"function","z":"1a910664.f749aa","name":"Atualizar Historico","func":"if (msg.payload[0].habilitar == 1) \n{\n    if (msg.payload[0].carga == \"1\") \n    {\n    var mensagem = \"A \" + msg.payload[0].descricao + \" foi Ligada\";\n    msg.topic = \"INSERT INTO `autohome`.`historico_alerta` (`int`, `tipo_alerta`, `data_alerta`) VALUES (NULL, '\" + mensagem + \"', now());\";\n    return msg\n    }\n    else if (msg.payload[0].carga == \"0\") \n    {\n   var mensagem = \"A \" + msg.payload[0].descricao + \" foi Desligada\";\n    msg.topic = \"INSERT INTO `autohome`.`historico_alerta` (`int`, `tipo_alerta`, `data_alerta`) VALUES (NULL, '\" + mensagem + \"', now());\";\n    return msg\n    }\n}else\n{\n    return;\n}","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["b0966264.6676a"]]},{"id":"9407b8f1.1fbf28","type":"function","z":"1a910664.f749aa","name":"Update Alarme","func":"if (!msg.payload) {\n  return;\n} else {\nmsg.topic = \"UPDATE `autohome`.`alerta` SET `data_ultima_alerta` = now(), Quantidade_dia = (Quantidade_dia -1)  WHERE `alerta`.`id` = '\" +  msg.payload[0].id + \"'\";\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["b0966264.6676a"]]},{"id":"b0966264.6676a","type":"mysql","z":"1a910664.f749aa","mydb":"e2f44265.69a06","name":"autohome","x":860,"y":400,"wires":[[]]},{"id":"8ccc5d51.2e5ee","type":"mqtt in","z":"7aabb44.59a2a4c","name":"Alarme Persiana","topic":"/house/alerta/persiana","qos":"2","broker":"8b47545.6bac3a8","x":260,"y":360,"wires":[["1dedd436.ac273c"]]},{"id":"b758b716.4dd398","type":"mqtt in","z":"7aabb44.59a2a4c","name":"Alerta Violação","topic":"/house/alerta/violacao","qos":"2","broker":"8b47545.6bac3a8","x":283.0833282470703,"y":239,"wires":[["2fb9a8f3.11c048"]]},{"id":"7e284a8b.fb5204","type":"mqtt in","z":"7aabb44.59a2a4c","name":"Alerta Iluminação","topic":"/house/alerta/iluminacao","qos":"2","broker":"8b47545.6bac3a8","x":285.0833282470703,"y":141,"wires":[["28b175c4.5b287a"]]},{"id":"28b175c4.5b287a","type":"function","z":"7aabb44.59a2a4c","name":"Alerta Ilumicação","func":"msg.topic = \"UPDATE `autohome`.`alerta` SET habilitar = '\" + msg.payload + \"' where tipo_alerta = 'iluminacao'; UPDATE `alerta` SET Quantidade_dia = IF(DATEDIFF(now(), data_ultima_alerta) > 0 , 5, Quantidade_dia), data_ultima_alerta = (now() - INTERVAL (tempo_entre - 5) MINUTE) WHERE tipo_alerta = 'iluminacao'; \";\nreturn msg;","outputs":1,"noerr":0,"x":497.0833282470703,"y":141,"wires":[["e7fe13ab.6cee7"]]},{"id":"2fb9a8f3.11c048","type":"function","z":"7aabb44.59a2a4c","name":"Alerta Violação","func":"msg.topic = \"UPDATE `autohome`.`alerta` SET habilitar = '\" + msg.payload + \"' where tipo_alerta = 'violacao'; UPDATE `alerta` SET Quantidade_dia = IF(DATEDIFF(now(), data_ultima_alerta) > 0 , 5, Quantidade_dia), data_ultima_alerta = (now() - INTERVAL (tempo_entre - 5) MINUTE) WHERE tipo_alerta = 'violacao';\";\nreturn msg;","outputs":1,"noerr":0,"x":485.0833282470703,"y":239,"wires":[["e7fe13ab.6cee7"]]},{"id":"1dedd436.ac273c","type":"function","z":"7aabb44.59a2a4c","name":"Function Alarme Persiana","func":"var mensagem = msg.payload;\nmsg.topic = \"INSERT INTO `autohome`.`historico_alerta` (`int`, `tipo_alerta`, `data_alerta`) VALUES (NULL, '\" + mensagem + \"', now());\";\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["e7fe13ab.6cee7"]]},{"id":"e7fe13ab.6cee7","type":"mysql","z":"7aabb44.59a2a4c","mydb":"e2f44265.69a06","name":"autohome","x":824.0833129882812,"y":239,"wires":[[]]},{"id":"25726fbf.9e37b","type":"mqtt in","z":"68169bf7.7ccc54","name":"MQTT GERAL","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":260,"y":160,"wires":[["6458654e.4497bc"]]},{"id":"6458654e.4497bc","type":"function","z":"68169bf7.7ccc54","name":"Update Push Violação","func":"msg.url = \"http://supervisorio/topico_mqtt.php?valor=\" + msg.payload + \"&topico=\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":541.5,"y":159.11666870117188,"wires":[["44c2140c.8bbacc"]]},{"id":"44c2140c.8bbacc","type":"http request","z":"68169bf7.7ccc54","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":805.5,"y":157.11666870117188,"wires":[[]]},{"id":"8376baa9.27d628","type":"inject","z":"68169bf7.7ccc54","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1800","crontab":"","once":false,"x":219.5,"y":486.1166687011719,"wires":[["c3950ba6.421ef8"]]},{"id":"c3950ba6.421ef8","type":"rpi-gpio out","z":"68169bf7.7ccc54","name":"Pino PDN","pin":"15","set":true,"level":"1","out":"out","x":500,"y":480,"wires":[]},{"id":"f8b35bcb.92b198","type":"function","z":"b1e7287a.6870b8","name":"Insert Sensoriamento","func":"var d = new Date();\nvar time_click = d.getTime();\n\nif (!msg.payload) \n{\n        return\n}else\n{\nglobal.set(\"chavedispositivo\",msg.payload[0].chavedispositivo);\nglobal.set(\"chavelocal\",msg.payload[0].chavelocal);\nglobal.set(\"pin\",msg.payload[0].pin);\nglobal.set(\"usu_bb\",msg.payload[0].usu_bb);\nglobal.set(\"se_bb\",msg.payload[0].se_bb);\nglobal.set(\"user_gbridge\",msg.payload[0].user_gbridge);\n\n    return\n}\n\nreturn\n","outputs":1,"noerr":0,"x":698,"y":85,"wires":[[]]},{"id":"eb5e08a5.f259f8","type":"inject","z":"b1e7287a.6870b8","name":"TIME_HASH","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"60","x":125,"y":85,"wires":[["4145dcef.734374"]]},{"id":"4145dcef.734374","type":"function","z":"b1e7287a.6870b8","name":"Update_ChaveLocal","func":"msg.topic = 'SELECT * FROM `servidor` WHERE 1';\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":85,"wires":[["4722f7db.2bca18"]]},{"id":"4722f7db.2bca18","type":"mysql","z":"b1e7287a.6870b8","mydb":"e2f44265.69a06","name":"autohome","x":515,"y":85,"wires":[["f8b35bcb.92b198"]]},{"id":"6320b49a.75263c","type":"mqtt in","z":"c2f5996c.1328c8","name":"AutoDomum Servidor","topic":"/servidor/comando/geral2","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":260,"y":180,"wires":[["88914aad.6eaa58","e9039d1a.0f089"]]},{"id":"e9039d1a.0f089","type":"function","z":"c2f5996c.1328c8","name":"Hash","func":"\nvar d = new Date();\nvar topico = msg.topic;\nvar time_click = d.getTime();\nvar diferenca_timestamp = global.get(\"diferenca_timestamp\");\nvar numeroserial =  global.get(\"pin\");\nvar timestamp = (time_click * 10) + diferenca_timestamp;\nvar payload = msg.payload.trim();\nvar chavelocal = global.get(\"chavelocal\");\n\ntraco_1 = payload.indexOf(\"-\" , 1); \ntraco_2 = payload.indexOf(\"-\" , traco_1+1); \ntraco_3 = payload.indexOf(\"-\" , traco_2+1);\n\ntopico_local =  payload.substring(0, traco_1); \ntimestamp_servidor = payload.substring(traco_3 + 1);\n\nmsg.payload =  numeroserial + \"\" + timestamp_servidor + \"\" +  topico_local + \"\" + chavelocal  + \"salgadinhodevolta\";\nmsg.valores = payload;\nmsg.timestamp =  timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["c54e109f.15aa5"]]},{"id":"c54e109f.15aa5","type":"md5","z":"c2f5996c.1328c8","name":"","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"md5","hashFieldType":"msg","x":630,"y":180,"wires":[["ee9b4785.bf1cd8"]]},{"id":"ee9b4785.bf1cd8","type":"function","z":"c2f5996c.1328c8","name":"Executando_Comando","func":"\nvar d = new Date();\nvar valores = msg.valores;\nvar timestamp = msg.timestamp;\nvar md5 = msg.md5;\nvar topico;\nvar hash_servidor;\nvar timestamp_servidor;\nvar comando;\n\n///house/iluminacao/0112253652-2-08a4415e9d594ff960030b921d42b91e-23456789076\nvar traco_1;\nvar traco_2;\nvar traco_3;\n\n\ntraco_1 = valores.indexOf(\"-\" , 1); \ntraco_2 = valores.indexOf(\"-\" , traco_1+1); \ntraco_3 = valores.indexOf(\"-\" , traco_2+1); \n\ntopico =  valores.substring(0, traco_1); \ncomando = valores.substring(traco_1 + 1 , traco_2); \nhash_servidor = valores.substring(traco_2 + 1 , traco_3); \ntimestamp_servidor = valores.substring(traco_3 + 1); \n\nif (timestamp_servidor > timestamp) \n{\n\tdiferenca_timestamp = (timestamp_servidor - timestamp);\n}\nelse \n{\n\tdiferenca_timestamp = (timestamp - timestamp_servidor);\n}\n\nif ( (md5 == hash_servidor) && (diferenca_timestamp <= 10000000))\n\t{\n\tmsg.topic = topico;\n\tmsg.payload = comando;\n\treturn msg;\n\t}\n\n//msg.saida = topico + \"-\" + comando + \"-\" + hash_servidor + \"-\" + timestamp_servidor;\n\n//msg.saida = md5 + \"-\" + hash_servidor;\n","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["c2f96489.c837a8","68a7f887.7ccc98"]]},{"id":"68a7f887.7ccc98","type":"mqtt out","z":"c2f5996c.1328c8","name":"","topic":"","qos":"0","retain":"true","broker":"8b47545.6bac3a8","x":1110,"y":240,"wires":[]},{"id":"c2f96489.c837a8","type":"debug","z":"c2f5996c.1328c8","name":"","active":true,"tosidebar":true,"console":false,"complete":"topic","x":1100,"y":120,"wires":[]},{"id":"1d0e436f.8406ad","type":"mqtt in","z":"161b75ee.b22baa","name":"/house/iluminacao/","topic":"/house/iluminacao/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":102,"y":27,"wires":[["e50c5476.112c78"]]},{"id":"e50c5476.112c78","type":"function","z":"161b75ee.b22baa","name":"Multiplos rele","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1);  \n\n\nvar letra = codigo.substring(3,4);\nvar letras = codigo.substring(2,4);\nvar seguencial = codigo.substring(4);\nvar tipodispositivo = codigo.substring(0,2);\nvar topico_corrigido;\nvar carga_corrigida;\nvar semi_topico = topico.substring(0, fim_sub_topico+1); \n\n\nif (msg.payload) {\n\nletra =  letra.toUpperCase();\n\nif (letras != \"AA\" && letras != \"FF\" && letras != \"EE\")\n{\n    topico_corrigido = semi_topico + tipodispositivo  + \"AA\" + seguencial;\n    carga_corrigida = \"R\" + letra + carga;\n    msg.topic =  topico_corrigido;\n    msg.payload = carga_corrigida;\n    return msg;\n}\n\nif (letras == \"EE\")\n{\n    topico_corrigido = semi_topico + tipodispositivo  + \"AA\" + seguencial;\n    carga_corrigida = \"RX\" + carga;\n    msg.topic =  topico_corrigido;\n    msg.payload = carga_corrigida;\n    return msg;\n}\n\n}","outputs":1,"noerr":0,"x":301,"y":79,"wires":[["42efff76.9838a","1138776e.a5e699"]]},{"id":"42efff76.9838a","type":"debug","z":"161b75ee.b22baa","name":"","active":true,"console":"false","complete":"topic","x":491,"y":119,"wires":[]},{"id":"1138776e.a5e699","type":"mqtt out","z":"161b75ee.b22baa","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":488,"y":20,"wires":[]},{"id":"cdbc093d.099588","type":"mqtt in","z":"161b75ee.b22baa","name":"Agrupado","topic":"/house/agrupamento/#","qos":"2","broker":"8b47545.6bac3a8","x":78,"y":231,"wires":[["fc5d7e41.b67f4"]]},{"id":"fc5d7e41.b67f4","type":"function","z":"161b75ee.b22baa","name":"Select Agrupado","func":"if (!msg.payload) {\n  //no results\n} else {\nvar topico = msg.topic;\nvar codigo = topico.substring(19);\nvar carga = msg.payload;\nmsg.carga = carga;\nmsg.codigo_confirma = \"/house/confirma/\" + codigo;\n msg.topic =  \"SELECT widget.username_iphone, widget.setPubTopic0 FROM `associar_widget`, widget WHERE REPLACE (associar_widget.pin_dispositivo, ':', '')  = '\" + codigo +\"' AND widget.id = associar_widget.id_widget2\";\n return msg;\n\n}","outputs":1,"noerr":0,"x":243,"y":231,"wires":[["171aa62.2019f5a","12417433.3bc29c"]]},{"id":"171aa62.2019f5a","type":"debug","z":"161b75ee.b22baa","name":"","active":true,"console":"false","complete":"topic","x":413,"y":279,"wires":[]},{"id":"a17d9ef.6cced6","type":"mqtt out","z":"161b75ee.b22baa","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":793,"y":242,"wires":[]},{"id":"12417433.3bc29c","type":"mysql","z":"161b75ee.b22baa","mydb":"e2f44265.69a06","name":"autohome","x":409,"y":184,"wires":[["77a302e0.73a34c"]]},{"id":"77a302e0.73a34c","type":"function","z":"161b75ee.b22baa","name":"Publicar multiplus Comandos","func":"var outputMsgs = [];\nvar keys = Object.keys(msg.payload);\nvar carga_confirma;\n\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n   for(var i =0; i<keys.length;i++)\n    {\n        \n               outputMsgs.push({payload:msg.carga,topic:msg.payload[keys[i]].setPubTopic0});\n\n    }\n    if (msg.carga == '0')\n    {\n        carga_confirma = 'Off';\n    }else\n    {\n        carga_confirma = 'On'\n    }\n    \n    outputMsgs.push({payload:carga_confirma,topic:msg.codigo_confirma});\n   return [outputMsgs];\n   \n}","outputs":1,"noerr":0,"x":613,"y":183,"wires":[["a17d9ef.6cced6"]]},{"id":"f5010521.d18138","type":"mqtt in","z":"161b75ee.b22baa","name":"/house/switch/","topic":"/house/switch/#","qos":"2","broker":"8b47545.6bac3a8","x":82,"y":87,"wires":[["e50c5476.112c78"]]},{"id":"d61de0a9.a92e9","type":"mqtt in","z":"161b75ee.b22baa","name":"/house/rgb/","topic":"/house/rgb/#","qos":"2","broker":"8b47545.6bac3a8","x":82,"y":147,"wires":[["e50c5476.112c78"]]},{"id":"d570e3ed.02bed","type":"mqtt in","z":"1987b2.fe76484e","name":"RX433MHZ_PERSIANA","topic":"/house/rx433mhz/#","qos":"2","broker":"8b47545.6bac3a8","x":350,"y":140,"wires":[["638c1ec2.5eabe"]]},{"id":"638c1ec2.5eabe","type":"function","z":"1987b2.fe76484e","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_persiana` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":254,"wires":[["e6617ca1.55545"]]},{"id":"e6617ca1.55545","type":"mysql","z":"1987b2.fe76484e","mydb":"e2f44265.69a06","name":"AutoDomum","x":590,"y":260,"wires":[["90a2222b.0d62e"]]},{"id":"90a2222b.0d62e","type":"function","z":"1987b2.fe76484e","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":790,"y":260,"wires":[["43718a6c.226db4","21f073e5.25743c"]]},{"id":"43718a6c.226db4","type":"mqtt out","z":"1987b2.fe76484e","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":970,"y":260,"wires":[]},{"id":"21f073e5.25743c","type":"debug","z":"1987b2.fe76484e","name":"","active":true,"console":"false","complete":"false","x":1013,"y":380,"wires":[]},{"id":"ee422125.c770c","type":"mqtt in","z":"5878e260.04cb9c","name":"SmartInterruptor","topic":"/house/smartinterruptor/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":80,"y":160,"wires":[["2f5d1afb.ca4e06"]]},{"id":"38304b7d.6c37c4","type":"mqtt in","z":"ca9e1adb.bc6a58","name":"RX433MHZ_PERSIANA","topic":"/house/rx433mhz/#","qos":"2","broker":"8b47545.6bac3a8","x":121,"y":29,"wires":[["8d3e66ab.bc3888"]]},{"id":"a937befe.e2476","type":"function","z":"ca9e1adb.bc6a58","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_garage` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":29,"wires":[["51224b80.facb04"]]},{"id":"51224b80.facb04","type":"mysql","z":"ca9e1adb.bc6a58","mydb":"e2f44265.69a06","name":"AutoDomum","x":685,"y":29,"wires":[["64119138.a41f2"]]},{"id":"64119138.a41f2","type":"function","z":"ca9e1adb.bc6a58","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":139,"y":199,"wires":[["57cd92c6.a4d85c","8f572379.871bd"]]},{"id":"57cd92c6.a4d85c","type":"mqtt out","z":"ca9e1adb.bc6a58","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":360,"y":146,"wires":[]},{"id":"8f572379.871bd","type":"debug","z":"ca9e1adb.bc6a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":371,"y":238,"wires":[]},{"id":"8d3e66ab.bc3888","type":"delay","z":"ca9e1adb.bc6a58","name":"2men/seg","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":319,"y":29,"wires":[["a937befe.e2476"]]},{"id":"bf597b7a.a125f8","type":"mqtt in","z":"e8b80ae9.697808","name":"","topic":"/house/ifredarc/#","qos":"2","broker":"8b47545.6bac3a8","x":80,"y":60,"wires":[["2fbc9c3c.877544"]]},{"id":"2fbc9c3c.877544","type":"function","z":"e8b80ae9.697808","name":"Separa_Comandos","func":"var tipo_protocolo;\nvar numerodebits;\nvar codigo_infravermelho;\nvar topico = msg.topic;\nvar carga = msg.payload;\nmsg.cargaantiga = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nvar retorno = carga.split(\"!\");\nmsg.topic = \"/house/ifredar/\" + codigo;\ntipo_protocolo = retorno[0];\nnumerodebits = retorno[1];\ncodigo_infravermelho = retorno[2];\ntemperatura = codigo_infravermelho.substring(1);\n\nif (tipo_protocolo == \"XX\")\n{\n    \n\tmsg.topic = \"SELECT controle_ir.codigo, equipamento_infrared.numerobit, equipamento_infrared.tipoprotocolo, equipamento_infrared.repeticao FROM `controle_ir`, widget, equipamento_infrared WHERE  (REPLACE (widget.username_iphone, ':', '')) = '\" + codigo + \"' AND equipamento_infrared.id = widget.setPrimaryColor3 AND controle_ir.dispositivo = widget.setPrimaryColor3 AND (controle_ir.comando = '\" + codigo_infravermelho + \"'  OR controle_ir.comando = 'T\" + temperatura  + \"' ) ORDER BY controle_ir.id DESC LIMIT 1\";\n    msg.topico = \"/house/ifredar/\" + codigo;\n    msg.codigo_infravermelho = codigo_infravermelho;\n    return [ msg,  null, null ];\n}\nelse if (tipo_protocolo == \"00\")\n{\n   // msg.payload = carga + \"#\";\n   msg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-0-\" + codigo_infravermelho + \"#\";\n    return [ null,  msg, null ];\n}\nelse\n{\n   // msg.payload = carga + \"#\";\n   msg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-0-\" + codigo_infravermelho + \"#\";\n    return [ null,  null, msg ];\n}\n","outputs":3,"noerr":0,"x":270,"y":60,"wires":[["951c7b9a.612088"],["765bd5ce.069a0c"],["765bd5ce.069a0c"]]},{"id":"765bd5ce.069a0c","type":"mqtt out","z":"e8b80ae9.697808","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":796,"y":29,"wires":[]},{"id":"951c7b9a.612088","type":"mysql","z":"e8b80ae9.697808","mydb":"e2f44265.69a06","name":"autohome","x":466,"y":29,"wires":[["7fe6bc89.04bfc4"]]},{"id":"7fe6bc89.04bfc4","type":"function","z":"e8b80ae9.697808","name":"Func3. Notificacao","func":"var keys = Object.keys(msg.payload);\nvar codigo_infravermelho_original = msg.codigo_infravermelho; \nmsg.topic = msg.topico;\nif (!msg.payload) {\n\n} else {\n\tif( keys.length === 0)\n\t{\n\t\tmsg.payload = \"00\" + \"-\" + \"XXX\"  + \"-0-\" + codigo_infravermelho_original + \"#\";\n\t\treturn msg;\n\t}\n\telse\n\t{\n\t\tvar tipo_protocolo = msg.payload[0].tipoprotocolo;\n\t\tvar numerodebits = msg.payload[0].numerobit;\n\t\tvar codigo_infravermelho = msg.payload[0].codigo;\n\t\tvar repeticao = msg.payload[0].repeticao;\n\t\tmsg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-\" + repeticao + \"-\"+ codigo_infravermelho + \"#\";\n\t}\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":636,"y":29,"wires":[["765bd5ce.069a0c"]]},{"id":"88914aad.6eaa58","type":"debug","z":"c2f5996c.1328c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":320,"wires":[]},{"id":"7bce0519.f7433c","type":"mqtt in","z":"e8b80ae9.697808","name":"","topic":"/house/ifredtvc/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":80,"y":140,"wires":[["84f7a2ef.cc323"]]},{"id":"84f7a2ef.cc323","type":"function","z":"e8b80ae9.697808","name":"Separa_Comandos","func":"var carga = JSON.parse(msg.payload);\n\n\ncommand = carga.command.toString();\ndevice = carga.device.toString();\npayload = carga.payload.toString();\n\nif (command == \"CH\") command = \"CH\" + payload;\n\nconst topic = \"SELECT equipamento_infrared.Descricao, numerobit, tipoprotocolo, repeticao, comando, codigo FROM `equipamento_infrared`, controle_ir WHERE Marca = '\" + device + \"' AND equipamento_infrared.id = controle_ir.dispositivo AND controle_ir.comando = '\" + command +\"'\";\n\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["7aa84ca7.fc8844"]]},{"id":"ade462a6.0d917","type":"mqtt out","z":"e8b80ae9.697808","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":850,"y":140,"wires":[]},{"id":"7aa84ca7.fc8844","type":"mysql","z":"e8b80ae9.697808","mydb":"e2f44265.69a06","name":"autohome","x":460,"y":140,"wires":[["d82b401e.f5e","ca6eeacc.d40818"]]},{"id":"d82b401e.f5e","type":"function","z":"e8b80ae9.697808","name":"Func3. Notificacao","func":"var tipo_protocolo = msg.payload[0].tipoprotocolo;\nvar numerodebits = msg.payload[0].numerobit;\nvar codigo_infravermelho = msg.payload[0].codigo;\nconst Descricao = msg.payload[0].Descricao;\nconst repeticao = msg.payload[0].repeticao;\nmsg.topic = \"/house/ifredar/\" + Descricao;\nmsg.payload = tipo_protocolo + \"-\" + numerodebits  + \"-\" + repeticao + \"-\"+ codigo_infravermelho;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["ade462a6.0d917"]]},{"id":"7202dba1.9109f4","type":"mqtt in","z":"537ac06c.7221e","name":"RX433MHZ_ALARMES","topic":"/house/rx433mhz/#","qos":"2","broker":"8b47545.6bac3a8","x":123,"y":32,"wires":[["ee229c25.ed3d8","a78dadf5.6c7b2"]]},{"id":"5b7bbbe3.496ee4","type":"function","z":"537ac06c.7221e","name":"Select RX433mhz","func":"var d = new Date();\nvar time_click = d.getTime();\nmsg.topic = \"SELECT * FROM `rx433mhz_alarmes` WHERE habilitado = 1 and codigo = '\" + msg.payload.trim() + \"' and ('\" + time_click + \"' - data_ms > 1000) ORDER BY data_ms DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":33,"wires":[["46d50ae0.122754"]]},{"id":"46d50ae0.122754","type":"mysql","z":"537ac06c.7221e","mydb":"e2f44265.69a06","name":"AutoDomum","x":679,"y":33,"wires":[["9ecfab07.235a48"]]},{"id":"9ecfab07.235a48","type":"function","z":"537ac06c.7221e","name":"Trata Query MQTT","func":"var d = new Date();\nvar outputMsgs = [];\nvar time_click = d.getTime();\nvar keys = Object.keys(msg.payload);\n\n\nif (!msg.payload) {\n  //no results\n} else {\n\n\n\n   for(var i =0; i<keys.length;i++)\n    {\n\n       outputMsgs.push({payload:msg.payload[keys[i]].carga,topic:msg.payload[keys[i]].topico});\n\n\n    }\n   return [outputMsgs];\n\n \n\n\n}","outputs":1,"noerr":0,"x":154,"y":180,"wires":[["9d8e6e8b.8bb88"]]},{"id":"ee229c25.ed3d8","type":"delay","z":"537ac06c.7221e","name":"2men/seg","pauseType":"rate","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":308,"y":32,"wires":[["5b7bbbe3.496ee4"]]},{"id":"e171a6dc.4311b8","type":"mqtt in","z":"537ac06c.7221e","name":"Habilitar Alarme","topic":"/house/alarmes/#","qos":"2","broker":"8b47545.6bac3a8","x":103,"y":332,"wires":[["70621f.464e7de"]]},{"id":"70621f.464e7de","type":"function","z":"537ac06c.7221e","name":"Function Alarme","func":"var topico = msg.topic;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9);\nvar codigo_dispositivo = topico.substring(fim_sub_topico + 1); \n  \nif (codigo_dispositivo == \"210000000000\")\n{\n    if (msg.payload == \"1\" ||msg.payload == \"0\")\n    {\n    var msg2 = { topic: \"/house/confirma/210000000000\",  payload: msg.payload }; // Não utilizar esse codigo para outra coisa\n    msg.topic = \"UPDATE `rx433mhz_alarmes` SET `habilitado` = '\" + msg.payload +  \"' WHERE 1=1\";\n    return [ msg,  msg2];\n    }\n}else\n{\n    if (msg.payload == \"1\" ||msg.payload == \"0\")\n    {\n    var part_codigo_dispositivo = codigo_dispositivo.substring(4); \n    var topico_modificado = \"/house/confirma/21AB\" + part_codigo_dispositivo;\n    var topico_modificado2 = \"/house/alarme/\" + codigo_dispositivo;\n    var msg2 = { topic: topico_modificado ,  payload: msg.payload }; // Não utilizar esse codigo para outra coisa\n    msg.topic = \"UPDATE `rx433mhz_alarmes` SET `habilitado` = '\" + msg.payload +  \"' WHERE `rx433mhz_alarmes`.`topico` = '\" + topico_modificado2  + \"';\";\n    return [ msg,  msg2];\n    }\n    \n}\n","outputs":2,"noerr":0,"x":346,"y":331,"wires":[["d5c83669.bd3c18"],["85c402a1.72b47"]]},{"id":"d5c83669.bd3c18","type":"mysql","z":"537ac06c.7221e","mydb":"e2f44265.69a06","name":"AutoDomum","x":556,"y":312,"wires":[[]]},{"id":"85c402a1.72b47","type":"mqtt out","z":"537ac06c.7221e","name":"Mqtt Alarme","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":530,"y":380,"wires":[]},{"id":"c584910b.21d1","type":"mqtt in","z":"c863174.f708ae8","name":"MQTT Acão","topic":"/house/#","qos":"2","broker":"8b47545.6bac3a8","x":75,"y":197,"wires":[["3589810e.bba34e","ebd40480.25c168"]]},{"id":"f5e127ea.b77e18","type":"function","z":"c863174.f708ae8","name":"IFTTT Data 1","func":"//var topico = msg.topic;\n//var carga = msg.payload;\n//var fim_sub_topico = topico.indexOf(\"/\" , 9); \n//var codigo = topico.substring(fim_sub_topico + 1);  \n\n//msg.topic = \"SELECT ifttt.*, widget.setPubTopic0 FROM `ifttt`, widget WHERE ifttt.username_iphone = '\" + codigo + \"' AND (id_widget_atuador = widget.id);\";\n//msg.topic = \"SELECT ifttt.*, widget.setPubTopic0 FROM `ifttt`, widget WHERE ifttt.data_executado < now() AND (id_widget_atuador = widget.id);\";\nmsg.topic = \"SELECT ifttt.*, widget.setPubTopic0 FROM `ifttt`, widget WHERE ifttt.data_executado < DATE_SUB(now(), INTERVAL 11 MINUTE) AND (id_widget_atuador = widget.id) AND tipo_acao = '1';\";\nreturn msg;\n","outputs":1,"noerr":0,"x":246,"y":32,"wires":[["708bf482.6c28dc"]]},{"id":"708bf482.6c28dc","type":"mysql","z":"c863174.f708ae8","mydb":"e2f44265.69a06","name":"autohome 1","x":409,"y":32,"wires":[["88502a1a.ed2788"]]},{"id":"88502a1a.ed2788","type":"function","z":"c863174.f708ae8","name":"IFTTT Geral 1","func":"\nvar keys = Object.keys(msg.payload);\nvar msg1=[];\nvar msg2=[];\nvar id;\nvar username_iphone;\nvar compara_sensor;\nvar valor_sensor;\nvar id_widget_atuador;\nvar valor_atuador;\nvar data_inicio;\nvar hora_inicio;\nvar data_fim;\nvar hora_fim;\nvar habilitado;\nvar setPubTopic0;\nvar data_inicio_js;\nvar hora_inicio_js;\nvar hora_inicio_segundo;\nvar hora_fim_segundo;\nvar hora_agora_segundo;\nvar data_agora;\nvar hora_agora;\nvar hora_defazada;\nvar topico;\n\nif (!msg.payload) {\n\n} else {\n                \tif( keys.length === 0)\n                \t{\n                \n                \t}\n                \telse\n                \t{\n                \t  for(var i =0; i<keys.length;i++)\n            \t\t\t{\n                \t                id = msg.payload[i].id;\n                            \t\tusername_iphone = msg.payload[i].username_iphone;\n                            \t\tcompara_sensor = msg.payload[i].compara_sensor;\n                            \t\tvalor_sensor = msg.payload[i].valor_sensor;\n                            \t\tid_widget_atuador = msg.payload[i].id_widget_atuador;\n                            \t\tvalor_atuador = msg.payload[i].valor_atuador;\n                            \t\tdata_inicio = msg.payload[i].data_inicio;\n                            \t\tdata_fim  = msg.payload[i].data_fim;\n                            \t\thabilitado = msg.payload[i].habilitado;\n                            \t\tsetPubTopic0 = msg.payload[i].setPubTopic0;\n                            \t\tdata_inicio_js = RetornaDataSqlJs(data_inicio);\n                            \t\thora_inicio_js =  RetornaHoraSqlJs(data_inicio);\n                            \t\thora_agora = RetornaHoraAtual();\n                            \t\thora_inicio_segundo = RetornaHoraemsegundos(data_inicio);\n                            \t\thora_fim_segundo = RetornaHoraemsegundos(data_fim);\n                            \t\tdata_agora = RetornaDataAtual();\n                            \t\tvar Agora_ = new Date();\n                            \t\thora_agora_segundo = RetornaHoraemsegundos(Agora_); \n                            \t\thora_defazada = RetornaHoraAtualdefazada();\n                            \t\tmsg.datasistema = data_agora +\"  \"+ hora_defazada + \"<\" + hora_inicio_js  + \"<\" + hora_agora ;\n                            \t\t\n                                    \t\t if (data_inicio_js == \"5-5-1979\")\n                                    \t\t{\n                                    \t\t        \n                                    \t\t        if (Comparativo_hora())\n                                    \t\t        {\n\n                                    \t\t           topico = \"UPDATE `ifttt` SET `data_executado` = now() WHERE `ifttt`.`id` = \" + id + \";\";\n                                    \t\t           msg2.push({topic:topico});\n                                    \t\t           publica_acao();\n                                    \t\t        }\n                                    \t\t        else\n                                    \t\t        {\n                                    \t\t          //  msg2.payload = \"Hora Fora 1979\";\n                                    \t\t        //    msg2.push({payload:\"Hora fora 1979\"});\n                                    \t\t        }\n                                    \t\t    //\treturn msg;\n                                    \t\t    //\treturn [ msg1, msg2 ];\n                                    \t\t}\n                                    \t\t\n                                    \t\telse if (data_inicio_js == data_agora)\n                                    \t\t{\n                                    \t\t        if (Comparativo_hora())\n                                    \t\t        {\n                                    \t\t           topico = \"UPDATE `ifttt` SET `data_executado` = now() WHERE `ifttt`.`id` = \" + id + \";\";\n                                    \t\t           msg2.push({topic:topico});\n                                    \t\t            publica_acao();\n                                    \t\t        }\n                                    \t\t        else\n                                    \t\t        {\n                                    \t\t         //   msg.payload = data_agora;\n                                    \t\t         //   msg2.push({payload:\"Hora fora 2019\"});\n                                    \t\t        }\n                                    \t\t  //  \treturn [ msg1, msg2 ];\n                                    \t\t}\n                                    \t\telse\n                                    \t\t{\n                                    \t\t //       msg.payload = \"Nada \" + data_inicio_js;\n                                    \t\t //   \treturn msg;\n                                    \t\t}\n                \t}     \n                \treturn [ msg1, msg2 ];\n                \t}\n}\n\nfunction RetornaDataHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();\n  return localdate;\n}\n\nfunction RetornaDataAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getHours() + ':' + dNow.getMinutes() + ':' + dNow.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraAtualdefazada(){\n  var dNow = new Date();\n  var hnow = dNow.getHours();\n  var mnow = dNow.getMinutes();\n  var snow = dNow.getSeconds();\n  \n  if (mnow < 10)\n  {\n      var localdate = (hnow - 1)  + ':' + (dNow.getMinutes() + 50) + ':' + dNow.getSeconds();\n  }\n  else\n  {\n      localdate = hnow + ':' + (mnow - 10) + ':' + snow; \n  }\n  \n  \n  return localdate;\n}\n\n\nfunction RetornaDataSqlJs(DataofSQl){\n  var localdate =  DataofSQl.getDate() + '-' + (DataofSQl.getMonth()+1) + '-' + DataofSQl.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraSqlJs(DataofSQl){\n  var localdate = DataofSQl.getHours() + ':' + DataofSQl.getMinutes() + ':' + DataofSQl.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraemsegundos(DataofSQl){\n  var localdate = (DataofSQl.getHours() * 3600)  + DataofSQl.getMinutes() * 60 + (DataofSQl.getSeconds() * 1);\n  return localdate;\n}\n\nfunction Comparativo_hora(){\n         if ((hora_agora_segundo > hora_inicio_segundo)  && ((hora_agora_segundo - 600) < hora_inicio_segundo))\n          {\n              return true;\n          }\n          return false;\n}\n\nfunction Comparativo_hora_faixa(){\n    if (hora_inicio_segundo < hora_fim_segundo)\n    {\n         if ((hora_agora_segundo > hora_inicio_segundo)  && (hora_agora_segundo < hora_fim_segundo))\n          {\n              return true;\n          }\n          return false;\n    }\n    else\n    {\n        if( (hora_agora_segundo > hora_inicio_segundo))\n        {\n            return true;\n        }\n        \n         if( (hora_agora_segundo < hora_fim_segundo))\n        {\n            return true;\n        }\n    }\n    \n    return false;\n\n}\n\n\nfunction publica_acao(){\n//msg1.payload = valor_atuador;\n//msg1.topic = setPubTopic0;\n//return msg;\nmsg1.push({payload:valor_atuador, topic:setPubTopic0});\n//return [ null,  msg];\n}\n\n","outputs":2,"noerr":0,"x":582,"y":31,"wires":[["65f5733a.f7ae5c","2f87f65.5e69e0a"],["4881914b.00fbb"]]},{"id":"65f5733a.f7ae5c","type":"mqtt out","z":"c863174.f708ae8","name":"Saida IFTTT","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":825,"y":89,"wires":[]},{"id":"4881914b.00fbb","type":"mysql","z":"c863174.f708ae8","mydb":"e2f44265.69a06","name":"autohome 2","x":832,"y":302,"wires":[[]]},{"id":"fbf0dfad.0c66","type":"inject","z":"c863174.f708ae8","name":"Tempo","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":94,"y":32,"wires":[["f5e127ea.b77e18"]]},{"id":"3589810e.bba34e","type":"function","z":"c863174.f708ae8","name":"IFTTT Data 2","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1);  \nmsg.valor_sensor_recebido = carga; \n\nmsg.topic = \"SELECT ifttt.*, widget.setPubTopic0 FROM `ifttt`, widget WHERE ifttt.data_executado < DATE_SUB(now(), INTERVAL 11 MINUTE) AND  ifttt.username_iphone = '\" + codigo + \"' AND (id_widget_atuador = widget.id) AND ifttt.quant_exec > 0  AND tipo_acao = '2';\";\nreturn msg;\n","outputs":1,"noerr":0,"x":235,"y":97,"wires":[["ba1f10e9.1233e"]]},{"id":"ba1f10e9.1233e","type":"mysql","z":"c863174.f708ae8","mydb":"e2f44265.69a06","name":"autohome 1","x":415,"y":97,"wires":[["11c38b3d.98f6e5"]]},{"id":"11c38b3d.98f6e5","type":"function","z":"c863174.f708ae8","name":"IFTTT Geral 2","func":"\nvar keys = Object.keys(msg.payload);\nvar msg1=[];\nvar msg2=[];\nvar id;\nvar username_iphone;\nvar compara_sensor;\nvar valor_sensor;\nvar id_widget_atuador;\nvar valor_atuador;\nvar data_inicio;\nvar hora_inicio;\nvar data_fim;\nvar hora_fim;\nvar habilitado;\nvar setPubTopic0;\nvar data_inicio_js;\nvar hora_inicio_js;\nvar hora_inicio_segundo;\nvar hora_fim_segundo;\nvar hora_agora_segundo;\nvar data_agora;\nvar hora_agora;\nvar hora_defazada;\nvar topico;\nvar quant_exec;\nvar valor_sensor_recebido = msg.valor_sensor_recebido;\n\nif (!msg.payload) {\n\n} else {\n                \tif( keys.length === 0)\n                \t{\n                \n                \t}\n                \telse\n                \t{\n                \t  for(var i =0; i<keys.length;i++)\n            \t\t\t{\n                \t                id = msg.payload[i].id;\n                            \t\tusername_iphone = msg.payload[i].username_iphone;\n                            \t\tcompara_sensor = msg.payload[i].compara_sensor;\n                            \t\tvalor_sensor = msg.payload[i].valor_sensor;\n                            \t\tid_widget_atuador = msg.payload[i].id_widget_atuador;\n                            \t\tvalor_atuador = msg.payload[i].valor_atuador;\n                            \t\tdata_inicio = msg.payload[i].data_inicio;\n                            \t\tdata_fim  = msg.payload[i].data_fim;\n                            \t\thabilitado = msg.payload[i].habilitado;\n                            \t\tsetPubTopic0 = msg.payload[i].setPubTopic0;\n                            \t\tquant_exec  = msg.payload[i].quant_exec;\n                            \t\tdata_inicio_js = RetornaDataSqlJs(data_inicio);\n                            \t\thora_inicio_js =  RetornaHoraSqlJs(data_inicio);\n                            \t\thora_agora = RetornaHoraAtual();\n                            \t\thora_inicio_segundo = RetornaHoraemsegundos(data_inicio);\n                            \t\thora_fim_segundo = RetornaHoraemsegundos(data_fim);\n                            \t\tdata_agora = RetornaDataAtual();\n                            \t\tvar Agora_ = new Date();\n                            \t\thora_agora_segundo = RetornaHoraemsegundos(Agora_); \n                            \t\thora_defazada = RetornaHoraAtualdefazada();\n                            \t\tmsg.datasistema = data_agora +\"  \"+ hora_defazada + \"<\" + hora_inicio_js  + \"<\" + hora_agora ;\n                            \t\t\n                                    if (comparativo())\n                                    {\n                                        topico = \"UPDATE `ifttt` SET `data_executado` = now() WHERE `ifttt`.`id` = \" + id + \";\";\n                                        msg1.push({payload:valor_atuador, topic:setPubTopic0});\n                                    \tmsg2.push({topic:topico});\n                                    \treturn [ msg1, msg2 ];\n                                    }\n\n                \t}     \n                \t}\n}\n\nfunction RetornaDataHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();\n  return localdate;\n}\n\nfunction RetornaDataAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getHours() + ':' + dNow.getMinutes() + ':' + dNow.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraAtualdefazada(){\n  var dNow = new Date();\n  var hnow = dNow.getHours();\n  var mnow = dNow.getMinutes();\n  var snow = dNow.getSeconds();\n  \n  if (mnow < 10)\n  {\n      var localdate = (hnow - 1)  + ':' + (dNow.getMinutes() + 50) + ':' + dNow.getSeconds();\n  }\n  else\n  {\n      localdate = hnow + ':' + (mnow - 10) + ':' + snow; \n  }\n  \n  \n  return localdate;\n}\n\n\nfunction RetornaDataSqlJs(DataofSQl){\n  var localdate =  DataofSQl.getDate() + '-' + (DataofSQl.getMonth()+1) + '-' + DataofSQl.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraSqlJs(DataofSQl){\n  var localdate = DataofSQl.getHours() + ':' + DataofSQl.getMinutes() + ':' + DataofSQl.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraemsegundos(DataofSQl){\n  var localdate = (DataofSQl.getHours() * 3600)  + DataofSQl.getMinutes() * 60 + (DataofSQl.getSeconds() * 1);\n  return localdate;\n}\n\nfunction Comparativo_hora(){\n         if ((hora_agora_segundo > hora_inicio_segundo)  && ((hora_agora_segundo - 600) < hora_inicio_segundo))\n          {\n              return true;\n          }\n          return false;\n}\n\nfunction Comparativo_hora_faixa(){\n    if (hora_inicio_segundo < hora_fim_segundo)\n    {\n         if ((hora_agora_segundo > hora_inicio_segundo)  && (hora_agora_segundo < hora_fim_segundo))\n          {\n              return true;\n          }\n          return false;\n    }\n    else\n    {\n        if( (hora_agora_segundo > hora_inicio_segundo))\n        {\n            return true;\n        }\n        \n         if( (hora_agora_segundo < hora_fim_segundo))\n        {\n            return true;\n        }\n    }\n    \n    return false;\n\n}\n\nfunction  comparativo()\n{\n\n        if (compara_sensor == \">\")\n            {\n                if ( valor_sensor_recebido > valor_sensor )\n                {\n                    return true;\n                }\n            }\n        else if (compara_sensor == \"<\")\n            {\n                if ( valor_sensor_recebido < valor_sensor)\n                {\n                    return true;\n                }\n            }\n        else if (compara_sensor == \"=\")\n            {\n                \n                if (valor_sensor == valor_sensor_recebido)\n                {\n                    return true;\n                }\n            }\n            \n            return false;\n}\n\nfunction publica_acao(){\n//msg1.payload = valor_atuador;\n//msg1.topic = setPubTopic0;\n//return msg;\nmsg1.push({payload:valor_atuador, topic:setPubTopic0});\n//return [ null,  msg];\n}\n\n","outputs":2,"noerr":0,"x":605,"y":97,"wires":[["65f5733a.f7ae5c"],["4881914b.00fbb"]]},{"id":"ebd40480.25c168","type":"function","z":"c863174.f708ae8","name":"IFTTT Data 3","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1);  \nmsg.valor_sensor_recebido = carga; \n\nmsg.topic = \"SELECT ifttt.*, widget.setPubTopic0 FROM `ifttt`, widget WHERE ifttt.data_executado < DATE_SUB(now(), INTERVAL 11 MINUTE) AND  ifttt.username_iphone = '\" + codigo + \"' AND (id_widget_atuador = widget.id) AND ifttt.quant_exec > 0  AND tipo_acao = '3';\";\nreturn msg;\n","outputs":1,"noerr":0,"x":235,"y":296,"wires":[["832d86f2.f1bb68"]]},{"id":"832d86f2.f1bb68","type":"mysql","z":"c863174.f708ae8","mydb":"e2f44265.69a06","name":"autohome 1","x":415,"y":297,"wires":[["be94b3ad.1b765"]]},{"id":"be94b3ad.1b765","type":"function","z":"c863174.f708ae8","name":"IFTTT Geral 3","func":"\nvar keys = Object.keys(msg.payload);\nvar msg1=[];\nvar msg2=[];\nvar id;\nvar username_iphone;\nvar compara_sensor;\nvar valor_sensor;\nvar id_widget_atuador;\nvar valor_atuador;\nvar data_inicio;\nvar hora_inicio;\nvar data_fim;\nvar hora_fim;\nvar habilitado;\nvar setPubTopic0;\nvar data_inicio_js;\nvar hora_inicio_js;\nvar hora_inicio_segundo;\nvar hora_fim_segundo;\nvar hora_agora_segundo;\nvar data_agora;\nvar hora_agora;\nvar hora_defazada;\nvar topico;\nvar quant_exec;\nvar valor_sensor_recebido = msg.valor_sensor_recebido;\n\nif (!msg.payload) {\n\n} else {\n                \tif( keys.length === 0)\n                \t{\n                \n                \t}\n                \telse\n                \t{\n                \t  for(var i =0; i<keys.length;i++)\n            \t\t\t{\n                \t                id = msg.payload[i].id;\n                            \t\tusername_iphone = msg.payload[i].username_iphone;\n                            \t\tcompara_sensor = msg.payload[i].compara_sensor;\n                            \t\tvalor_sensor = msg.payload[i].valor_sensor;\n                            \t\tid_widget_atuador = msg.payload[i].id_widget_atuador;\n                            \t\tvalor_atuador = msg.payload[i].valor_atuador;\n                            \t\tdata_inicio = msg.payload[i].data_inicio;\n                            \t\tdata_fim  = msg.payload[i].data_fim;\n                            \t\thabilitado = msg.payload[i].habilitado;\n                            \t\tsetPubTopic0 = msg.payload[i].setPubTopic0;\n                            \t\tdata_inicio_js = RetornaDataSqlJs(data_inicio);\n                            \t\thora_inicio_js =  RetornaHoraSqlJs(data_inicio);\n                            \t\thora_agora = RetornaHoraAtual();\n                            \t\thora_inicio_segundo = RetornaHoraemsegundos(data_inicio);\n                            \t\thora_fim_segundo = RetornaHoraemsegundos(data_fim);\n                            \t\tdata_agora = RetornaDataAtual();\n                            \t\tvar Agora_ = new Date();\n                            \t\thora_agora_segundo = RetornaHoraemsegundos(Agora_); \n                            \t\thora_defazada = RetornaHoraAtualdefazada();\n                            \t\tmsg.datasistema = data_agora +\"  \"+ hora_defazada + \"<\" + hora_inicio_js  + \"<\" + hora_agora ;\n                            \t\t\n                                    \t\t if (data_inicio_js == \"5-5-1979\")\n                                    \t\t{\n                                    \t\t        \n                                    \t\t        if (Comparativo_hora_faixa() && comparativo())\n                                    \t\t        {\n\n                                    \t\t           topico = \"UPDATE `ifttt` SET `data_executado` = now() WHERE `ifttt`.`id` = \" + id + \";\";\n                                    \t\t           msg2.push({topic:topico});\n                                    \t\t           publica_acao();\n                                    \t\t        }\n                                    \t\t        else\n                                    \t\t        {\n                                    \t\t          //  msg2.payload = \"Hora Fora 1979\";\n                                    \t\t        //    msg2.push({payload:\"Hora fora 1979\"});\n                                    \t\t        }\n                                    \t\t    //\treturn msg;\n                                    \t\t    //\treturn [ msg1, msg2 ];\n                                    \t\t}\n                                    \t\t\n                                    \t\telse if (data_inicio_js == data_agora)\n                                    \t\t{\n                                    \t\t        if (Comparativo_hora_faixa() && comparativo())\n                                    \t\t        {\n                                    \t\t           topico = \"UPDATE `ifttt` SET `data_executado` = now() WHERE `ifttt`.`id` = \" + id + \";\";\n                                    \t\t           msg2.push({topic:topico});\n                                    \t\t            publica_acao();\n                                    \t\t        }\n                                    \t\t        else\n                                    \t\t        {\n                                    \t\t         //   msg.payload = data_agora;\n                                    \t\t         //   msg2.push({payload:\"Hora fora 2019\"});\n                                    \t\t        }\n                                    \t\t  //  \treturn [ msg1, msg2 ];\n                                    \t\t}\n                                    \t\telse\n                                    \t\t{\n                                    \t\t //       msg.payload = \"Nada \" + data_inicio_js;\n                                    \t\t    \treturn msg;\n                                    \t\t}\n                \t}     \n                \treturn [ msg1, msg2 ];\n                \t}\n}\n\nfunction RetornaDataHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();\n  return localdate;\n}\n\nfunction RetornaDataAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getDate() + '-' + (dNow.getMonth()+1) + '-' + dNow.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraAtual(){\n  var dNow = new Date();\n  var localdate = dNow.getHours() + ':' + dNow.getMinutes() + ':' + dNow.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraAtualdefazada(){\n  var dNow = new Date();\n  var hnow = dNow.getHours();\n  var mnow = dNow.getMinutes();\n  var snow = dNow.getSeconds();\n  \n  if (mnow < 10)\n  {\n      var localdate = (hnow - 1)  + ':' + (dNow.getMinutes() + 50) + ':' + dNow.getSeconds();\n  }\n  else\n  {\n      localdate = hnow + ':' + (mnow - 10) + ':' + snow; \n  }\n  \n  \n  return localdate;\n}\n\n\nfunction RetornaDataSqlJs(DataofSQl){\n  var localdate =  DataofSQl.getDate() + '-' + (DataofSQl.getMonth()+1) + '-' + DataofSQl.getFullYear();\n  return localdate;\n}\n\nfunction RetornaHoraSqlJs(DataofSQl){\n  var localdate = DataofSQl.getHours() + ':' + DataofSQl.getMinutes() + ':' + DataofSQl.getSeconds();\n  return localdate;\n}\n\nfunction RetornaHoraemsegundos(DataofSQl){\n  var localdate = (DataofSQl.getHours() * 3600)  + DataofSQl.getMinutes() * 60 + (DataofSQl.getSeconds() * 1);\n  return localdate;\n}\n\nfunction Comparativo_hora(){\n         if ((hora_agora_segundo > hora_inicio_segundo)  && ((hora_agora_segundo - 600) < hora_inicio_segundo))\n          {\n              return true;\n          }\n          return false;\n}\n\nfunction Comparativo_hora_faixa(){\n    if (hora_inicio_segundo < hora_fim_segundo)\n    {\n         if ((hora_agora_segundo > hora_inicio_segundo)  && (hora_agora_segundo < hora_fim_segundo))\n          {\n              return true;\n          }\n          return false;\n    }\n    else\n    {\n        if( (hora_agora_segundo > hora_inicio_segundo))\n        {\n            return true;\n        }\n        \n         if( (hora_agora_segundo < hora_fim_segundo))\n        {\n            return true;\n        }\n    }\n    \n    return false;\n\n}\n\nfunction  comparativo()\n{\n\n        if (compara_sensor == \">\")\n            {\n                if ( valor_sensor_recebido > valor_sensor )\n                {\n                    return true;\n                }\n            }\n        else if (compara_sensor == \"<\")\n            {\n                if ( valor_sensor_recebido < valor_sensor)\n                {\n                    return true;\n                }\n            }\n        else if (compara_sensor == \"=\")\n            {\n                \n                if (valor_sensor == valor_sensor_recebido)\n                {\n                    return true;\n                }\n            }\n            \n            return false;\n}\n\n\nfunction publica_acao(){\n//msg1.payload = valor_atuador;\n//msg1.topic = setPubTopic0;\n//return msg;\nmsg1.push({payload:valor_atuador, topic:setPubTopic0});\n//return [ null,  msg];\n}\n\n","outputs":2,"noerr":0,"x":605,"y":297,"wires":[["65f5733a.f7ae5c"],["4881914b.00fbb"]]},{"id":"2f87f65.5e69e0a","type":"debug","z":"c863174.f708ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":797,"y":27,"wires":[]},{"id":"c59606a2.64f188","type":"mqtt in","z":"da0d8189.8877","name":"","topic":"/house/cena/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":110,"y":80,"wires":[["f43df866.b38648"]]},{"id":"f43df866.b38648","type":"function","z":"da0d8189.8877","name":"Function Cena","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar codigo_dispositivo;\n\n\n//gBridge/u959/iluminacao/01AA00000015\n//gBridge/u959/d0/grequest\ntraco_1 = topico.indexOf(\"/\" , 0); \ntraco_2 = topico.indexOf(\"/\" , traco_1+1); \ntraco_3 = topico.indexOf(\"/\" , traco_2+1);\n\nsub_topico =  topico.substring(traco_2+1, traco_3); \ncodigo_dispositivo = topico.substring(traco_3 + 1);\n\n//msg.topico = sub_topico;\n//return msg;  \nif (carga == \"1\" || carga == \"1#\")\n{\n msg.topic = \"SELECT * FROM `cena` WHERE `cena`.`codigo_cena` = '\" + codigo_dispositivo + \"'\";\n return msg;   \n}","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["d9eff3d0.ae3c"]]},{"id":"d9eff3d0.ae3c","type":"mysql","z":"da0d8189.8877","mydb":"e2f44265.69a06","name":"autohome 1","x":450,"y":80,"wires":[["621dcea0.3d8a1"]]},{"id":"621dcea0.3d8a1","type":"function","z":"da0d8189.8877","name":"Function Cena","func":"var outputMsgs = [];\nvar keys = Object.keys(msg.payload);\n\nif (!msg.payload) {\n  //no results\n} else {\n\n   for(var i =0; i<keys.length;i++)\n    {\n        \n               outputMsgs.push({payload:msg.payload[keys[i]].acao_cena,topic:msg.payload[keys[i]].topico_atuar_cena});\n\n    }\n   \n   return [outputMsgs];\n   \n}","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["d450f4df.70d7e8"]]},{"id":"d450f4df.70d7e8","type":"mqtt out","z":"da0d8189.8877","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":779,"y":79,"wires":[]},{"id":"64a7ae27.d63a6","type":"ONVIF Snapshot","z":"9cf9f63c.cd0358","name":"camera1","url":"192.168.10.200","interval":"","username":"admin","password":"","active":false,"x":100,"y":180,"wires":[["9e8eea28.7ed7e8"]]},{"id":"85e3691.00d2c98","type":"image viewer","z":"9cf9f63c.cd0358","name":"","width":160,"data":"payload","dataType":"msg","x":350,"y":180,"wires":[["c5128352.2107"]]},{"id":"c5128352.2107","type":"function","z":"9cf9f63c.cd0358","name":"trataBase64","func":"var PlacaSuja = msg.payload;\nconst country = msg.country;\nconst secret_key = msg.secret_key;\n\n//PlacaSuja= \"/9j/4AAQSkZJRgABAQEASABIAAD/4QF2RXhpZgAATU0AKgAAAAgACQEPAAIAAAAGAAAAegEQAAIAAAAHAAAAgAEaAAUAAAABAAAAiAEbAAUAAAABAAAAkAEoAAMAAAABAAIAAAExAAIAAAALAAAAmAEyAAIAAAAUAAAApAITAAMAAAABAAEAAIdpAAQAAAABAAAAuAAAAABBcHBsZQBpUGhvbmUAAAAAAEgAAAABAAAASAAAAAFwaWNuaWsuY29tAAAyMDA5OjAyOjA1IDEwOjI4OjA1AAAKgp0ABQAAAAEAAAE2kAAABwAAAAQwMjIwkAMAAgAAABQAAAE+kAQAAgAAABQAAAFSkQEABwAAAAQBAgMAoAAABwAAAAQwMTAwoAEAAwAAAAEAAQAAoAIAAwAAAAEDIAAAoAMAAwAAAAECWAAApQAABQAAAAEAAAFmAAAAAAAAAA4AAAAFMjAwOTowMjowNSAxMDoyODowNQAyMDA5OjAyOjA1IDEwOjI4OjA1AAAAAAsAAAAF/9sAQwAGBAUGBQQGBgUGBwcGCAoQCgoJCQoUDg8MEBcUGBgXFBYWGh0lHxobIxwWFiAsICMmJykqKRkfLTAtKDAlKCko/9sAQwEHBwcKCAoTCgoTKBoWGigoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgo/8IAEQgBdwH0AwEiAAIRAQMRAf/EABsAAAEFAQEAAAAAAAAAAAAAAAABAgQFBgMH/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/9oADAMBAAIQAxAAAAH1QAAAAAAAArK6qzbqbkr/AI9JtLcZ/bV9oVj05xu0ZU69Gpmtq7Gkq4m0l3YCLQAAAAAAAAAAAAAIoAczonMTljttk5bGZFvk58+casvoM/bdeeSt6Sx49ZWdvc5jbiIZntwHbIAAAAAAVCBFXf53R+b0UkLmds6uiu8iS25PtWyssDEPSLHzPdM3Ai65x5FZPOgFNcAAAAAAHGIWJVSklgKAAxzEiT40kMbssZLc3VLdUV1hATDWUbr15UPEsvP6ZWV12QxvkRDfD34rLLVUCgAAAAKkjMmq7T5PU+b05nj049uepzOjz0tfEjnXjbs7d+Xak3GD2jWidw7781HYQJa2IGsgAAAAABE5duRT3NRbJPAURQRQOHXnzOOYmVeLor2hvtwgT+Bh59m7fPCa2i0PD2XHmt5lJKckm/P6t1xE3n29BSltOvKUc+lAACNKKdQ2ObTXqP5ds/yuZGoUeqz0uM6S4PflO6Ic+sXS5fUZ3op9XN1xrZUOZZaBXaxP5eddJNVEwxloeWYfvp6LIwD88/U+3m18Tr3O6LViS6yUSU4xIlxKKQS6W8djVPRelef6mlvqG+1AAKi3ooo9DAtM9MZkdVR5lUWJ05O7Z1cXYWOCcek6jxP2XVsFR+mTrJMuzM3VTIzqx48+8DLPivHrN4wjuce2O/lwWk09Np89JdVe5nfGykdELbz3dVrPn8b0bOJQN9DZXnPberWFNpzjKM1EKRuoyHLOtfXyEmp8ROGdZ3lYyemdBJp7fMucB6B51uaWun1W82Vpk9LrFxnNHmOXXpcVliZC8o7aIpZms4GPao1TcvSZp436bb0JY32BuZY0LSVROyz322+jqJWZIlUkpZVXY1YcJfdKDRZyVbzjwnakx9ehaFWtliV6lhAVktgQnJLdCdZNWCJMISVK7V8zGrllZVxfcqPpz62WmxHXXO/l4yIel4OqmWaZ/n616mnj6V6/Vea7bn3tJPl1rrjfV0rPxaEo7Y51dlS5uy0FBcTUqplRrPPoV1QyekyvMfXprFy5su6i8dBFSobPlS183jwmranv8nrHeFc1Ws9G9Ul4cpPBGCFPVrhWOSRwhT3clHtVqIg0VGtS7zl64zHHUxqzlnIkFtX8qfh147jB7DeO9138/S2gROW42VF4y1l/Uc40tOrYYbk1MxUWXbn6ptxnbvpxhI9Er81sMylZYurV3fbKTMddOylJ1uUqAuOda2a2zcjc781YsOJvF27P8zRR6PmXa0KJfuziVo0zgaEzwaFc8JfpRBfrQBeFK9LTSY27i1ixpEr4s6uzqqrNTcTVVO0PfXOuwPpsZrzdnr/mes859FWpxvr/ALsR7VKLOuQhqdodVB+f9u365xvt+ftpWJ73G245Thc2lhl+S7akqO2daV2dLNBUx3TfGU+95+jLwd7T1nnWid/DX9JriGSuccFcljUcgk6FIHQLCDYwekcOEuMM59giuVbGHUOUid24fRn6vzvT68tqV6XjrrHAbEMb6JSZ72XJ8LXHOwdwus5OfM4JZ0OkSM6aQXxF8RMe1Tn335+hK5nPn16JyfJ6CxZkaIr5jairz5rbutJ3n+nnnW3TPfOyqZ/r+Ja09hWWdJsDukt8Z0shOYdE5ldEakOa1LFYjBOHTmc0BO7oiljNe/yfZ4TO8XfnnPgL1+fC0VdCs9I8hntr0HhRdUuu2fkJdNr1ss3VilsVpL52vDlN9+1f0V0aQEzpG7y9H8he0bghIW3uYx6bJ8vG0z2k5euEugpbjzlJMXtyRRdcUURJc6usF23amj41oW5q1ZsOmdlrcNoGpyyOvyu5z4uZYwEDpyk566VYXbh7rmPXu1zjQNXx34aaFdVOkTT0t6kS4zunTjwk8qiNmiQyYpCJxWBa0zt6tFsHu7y174vKp82l6RzdKmk61gSM2V1iqtPIrU4/Su+NWzO3V8iP6fnKgb86iFSpEVY1bMuppZeODRTMihrYmcQuKpjTlxcljU6oc58PtjtZuqI3H33krHXO+O0YJrxM59OMQYszMaMuMp31neWfmyHprcDaJpI/KckQhEufIrmujUeTJsO0ms50lzSJO7doTudJXdGOHsdxTpzynTc0zaDsWtR36VBSxRK5LFCuSzCrLNCt6ToAnN8qoxMCGkxpFTvFHN4sOnSI0bx7iQ7SJKNqvN3LbmPSzhFsGlJC0jLMhD2cWzGs1MOykn9eJYlaSq3u5eDpHVeE99jKySvTJeh1VHKoqiix5HNMzzbz3OxyU6rxU7HAs7nAJLogSkjh3byDoMSx40VUUGN6CcWyFIrZgQ0mhAkdusX6xEzqaQGFiVjbLQq0LLnXNJ3CKIRbaOlUTyqrS53X43G6dll5uVw1WsqR0iBM51nSyckRSZzjock6pTFVopzZZIIkMt0yjK1iZdTStzbTSNzbTSNzbTSNzja0bM82NC2gQvmUbS8bSIXaUqFwlOhbpUoWxUhbLUIXDKpC1SqC1WpC/WgE0Jnhb/a4HcYqxavjVn2ztRZro2TF1bMy80TKLpFuytcSuTOhz5zJJTc9NKMa3fSl82X1OQnlXX1IPNOno6nnLvQw89T0MPO2ejoebs9LK8yZ6eHl6+m8k84X0LmYI3DDFmwYZJdWhlTVBljUBlzThmDTomZXSoZo0qmZNOGYNOJhZ8bcNZbtpAz/AEugqetgSkhllEJbF8V/SZzXn1jxS2bnoVurZi4qbrnguVb1mBZW+Zgmm9bhA3SYUTcmGDcmGWtwYcNy7Cqbp2EU3jsG83r8F0N6/Cd42jcrLLeG2TZCLV5SpeLFCX61n00QZ5NEiZ8v0KAvhfNd7576hmwS07JVd55Lw7MjLNbnqU2lfhIZsaugLJ8bi4EQpQ7RxFSgAAAAAFE685eesPo2UsUclwxHNuBULHJ15SoqCKOaO6cAmyakW/mZXpWzl4iUmzdlpperWSImOiKksiqSyIHnXrfkXp81YMqKI1dXjYRoaeKCoAB1OQKJIbzVRgr2oIKhYqACoCiAogLMhGek3hxFVA1yAEAAVBVVpLJ4NAkcHStTozWUAQAH9owWkzPuXVS8jLs1L6CVJbEEMZc0yzXTkFAiwCAogK5jzs3iSqiFiiKAAAABQBABQAgAoAgAAAAAAAAAAqC9OYQAABQAgAAso4yrDqkIeS1bLeFUIBQCAAQUARRFAAAAAAAAAAAAAAsAFAEAAAAAAAAAAAAAAAAIAKFOgWMOyubCPMhQCh1qtBRtVTbKEcTo0aKCCkqCiIOFaOEaOFaOQQURBS1BQQURBQQcDRwNHA0cDRwNHoNHgwcDRwNHA0cDR6jHO6Jz6P7WdJfO0hkbokNHBMZ0c3R87+DZSstuSVqWSLXJYoQEsEK9Z6RAJ4QEnrVeWAV6WIVxYhXFgqVxYBAJwQVmhCSaEImhCJoQVmlQScEImqQSwUrlsBK9Z4QFnEQlmqROkroR+siUMe7nDEc0AJZqhdOcCOQBqAIBIgAIAiAIAKwFRApEBEAVAEQAEBQChQRAAAlUCxQIVQpQAUIFBABVQEAFagSNQIaAf//EAC8QAAEDAwMCBQUAAwEBAQAAAAIAAQMEERIFExQQISAiMDEyFSMkMzQ1QFBBJUX/2gAIAQEAAQUC9OeUtnT6h5ROUThp4xKAzLmU7u8Zu7MJG73W4PR7jGdawPDLm/8As/Nap5qrTIgKie8KF7tO+MNEz7xv9uS+3AT04VJXUr2Lc9MuUVdNBKDUVLvKOkGnipSLYm8tdRlkKqpCihppHlhxZC1nqHtGUeSiZ2k/1iewgWQ+6ky269nY9JL8ZFG4qeXKmoSZpJn+3K4gtyKWWoU72Jy9Mf8AJzsIxaapP1RkexL5NQgcSU1bOB/UZ19Qnd6evcT59OnrqdRmMgdGL7v+oT2akyeHpq/79I/i6VwsVNTPtnLNeIna8h3Ko96kvOfz9Jv8lUN5NO9zttxCRDO351OzMVd81D+2u+LEqZ7rTHd6bo541TFf05JAiFq2mT19Mo54pD8NlT/p6av+/SP4ulbfjUQjnUws8fsVKF5KmOXCobF7t6bf5KoDy6b+wviMv2ah7z0giD1n7i4yvHuZ4G9ZCqVaaX47dKj+lvn6VQ0bhLDGRyxxiMUcMUnig/U/ZcoFqvc9H/i6Vru1LRi2c/6oQaSWilCnkjlhqG1eHCXbuu929vQ//YKZ5B097y38sU2A1ZZFR5MVf+9xso284bW5NQ08jUy079I+yqu07fL0p42lE6aNxqYBA4oGjm8UP6piZha7tXmJBov8XSYNyKHTgjOtiYaXTRZ5o9JgiGm/BKolaQi7uEwTKc5xJ3swFkPid7axMTqnhkjmE7tHtqrxxoSJz1D+h5CdRm+R7tvp9QapvenkIaemMijZVX9LXy6XUhjGL6nDjFqlyn1EzQ6hMmrtsYK+NwiNpAVZlzFPLteAjYUE7nHFKakp5MhimwqAeJ9F/h8GqdqPTYXkpoq0HbUCizIbOTOzv2TVUjBDqURqKUZE5W8N2VdJt6nywd2miT4Gz07IZ7G01lVxHJLPTkLR/OYiBDrFSKpnudC6F0Dqr/oFvMqyoaCKnqCCetr3mnvd7veRic2Et4ZCESl7xVhxKlr8hqJhOsVdCU4U7uUEv6oGAVrtW0cEcrR0dD3VX8x+Orf16L/D4NY/k0L+eshGSKamEEcRyzzQYSS1F0M4SDFKDvn9Pqm1JpKuMyNd1ZV2olTzlqc1pJDmUb5C/viya6IyyaaUVynTVIuvLIpKdmrKqnpo2i/ZQrcxFtXZmqDzIZQymk2w1CdpalzXtJfuT9roL3L5yt3k/ax94JMpaqsOnOn1EpHHUJ41HWNLHIUZBXQ/aonHntUjTRSPkTe2qX5Wj/48a2QJPq8TNR1QVca1p/saG34lS9oqhaaDFQ1UUEcrpy7ZvbcN3hk89EYPFfzKriGTV9QCIab3W80aCozcXcnjjJ0VNI6KnxW01niZPEyKN2nmppSUFHNu0tG7LYFgbSKcR/GYG4uT1USIKMy2qJVARfVdqhXHoFwtPdcKhRafRO5abTk56Q5nLo8oIYZqVXOaTRYWYKmJnGnjxYYiVZ/PHRVTEfmGT5rU+9Vov+PGn3kWjSLTKV6SBa2/29Fb8Cq/VUqCpCk02Lj1wFoVUj0SsZNpNayKhrAWzKBaJLEFFzGeSI2kj1MC5k2UyFtuKUGctNy2WZO3mZTRi6uzKVzdNuo5MjkACp5p3lkazNcU0gst9b7reJbxLfJPI71m8S3iW6S3jXINb7rON0+27MQwlqI+fTYsYGhNxxZnOTvLRHKOOFM0WQyMznvxKtJin0maMKKleOOTm06eup2Zq6nd6tnqCo6uGlpiroZxqHZVku5SQzvSsRSqKokikgnuzTSI5ZcTmpJJHo6eVU1TsiRERPqMgvUSPUSk7NFTDtCU8Vt6NNVQp5AdE3cGubCN4IDVdPiI9m9Bvf0LqhksU2oR0MjazELFqVPIUmo0gs2sXQybp4TOi3WcpCFijMo5ZjhVbUuFXyjXKkQVEgHzw2p5pHn0jIpJUEc01Z9MqyVR2Yy70PmFvYFUwCSq6FlFqdTG1LHNI82lsSqaaSklgNo2kqxNmqFu4rfFRVUQOM8MhOQRI3gqVQRFBE/3JrKydvGPt6N3Yq2GOtg4kKemhZ3polwwWn04RSjU8cTn3jJjkOKJigPRglmaOGIavTaGY30ymZHpjXCnxpZoyE9DC71NZSQFLq9Wajj1Cpao/VL8dPfFs7J5VKWYam3mnDfDSdSl0+WkrYqiOpk5M+IxxkDDHmzRj8nFWsm/dJMOHAtJXyWaJsRT9C636Om7N6D9NOlsYaa06LRpEekHb6ZOyjo5AWoSCKapEGiGWrlsMUQvtUs0rzTYp2dl3u7wkgA0UxzqOkGJUtKVZWz6gFIdRIzjI3kppPsT/qeR1kSlbNN8qiHJtIms9NXQjGFZHIuVGnqAXIBb4p5xdtxkBBh2Y6l8pE3R06sreDuu67ruu68yu6v0fpdxLdxI6k77jk7ZMpawaYparegjjyVAAxQgG5Nqru1H3Z96yOou2l1UMNTq/BITM6mSmojZtgCR46dRgFmGCWZSUO20XlUcmcTR3WBKULDWQFyKd3dPeKel84xYRFvgt4Fvgt4UM7MUkzO1PPK5tVQjDJUU+T1kVucK5657rnGuaa5si5sq5kq5kq5kq5kq5sq5sq5sq50q50q50i55rnkmr0FdFePUqPZ5FMbjgxSyg48QKw30uK9PRUbvxYWUYRspTwdqoW6apnPJpxBE8hFWVVGFKAniyoRyKvlKoq2J7FIQicpSgEv3QqbNGTGIkTJpjUhi62JDKCkgZThAMJiMlQ3GZfjKR6bbqC2pHmdCTCElRPOtmTLjSLikuK6akXEXEZcVlxxXHFbArYFQUYOEtKLjsitkVsijiZlgsEQ26WVlimF3UU8kKiqoZGBwhEpiJxexxTZCzdq4XKABKZRXGI4YZH1DSd6YNIeNDpzr6fImicYB0whb6aa5bkJGTs5uyjdr5CyjqXZ3qRRzi7OdlldDITMDvljEsYlhEsIlFThK4U1NGso1VuLTbwrcBbka3gW8C3hW8K3GdZLNZKKocGkqbx5rNlusjkZ2yV0VlbqypWaxCyeIVC+VNtgtoFLXDQtQ1QVlOhaHkTWxilEW3BdOYqqk2YqCpKUcldZKN0SIle7sLrHvIrImu8YrJTXTE9snWTrJ1Dd42a7szu07fZiGF45eEycaLJXQxNbaBMAsrMrMrCrNdxs9hVhWIrEVgKIWT9YdtzNosIm8jC7k7XOOVo4GnZbyqweWo0mTi1NVVtDAU0sk9NVcnT2JZJpFuLJlmtx1uv4B9hbbdyYli92B0wKzdDu708cbtMEeTs3TTYr05Q2CEbqthxg7u7i4E8sNugk7v36WdYurErExFmZ2JWJYknZ2XdEn8DKEG2yFbIuq+Kw4Uq24rQA7S1shBNLVFPDFE7BpcnbfNly40M8bpiV1kslmtoVtgsQXZSd39njJ8e7pul1G7PMIGtiRcY1xjVBnHTkZ4QmTqruUJ3EyMjTMrdB+VlRN+VK8gsN7CFnK67q2QjHiNlrjMwXRe/gja5x/qL5YMqmLudMyOndUDMB1kmckHdPgMNE+NUns6KGMlxgWzIy/JZb8ormisnTu/RkN0bKH4pk7syKVQkwvp4rFYssWVLUSRtT5SsNPHarFwjqW+54bqiL8qoFpa4Yo5aiIsYtPu1LHE3Jt/wDUnp4+VURsVTrT9vFD7gTuvcnclE5PM7JwUkN0dId4oiCQ7xtGVqvbyRRmPpOoGZ2liIYwazXZkxMgnAUXyD3oysOaYldC9kEjs5VMhNm6qfE0bu0InHJLUQTMc1LImqIdoa6IQjkpIyOshdxrIWJ5KTPUJnqTaMkbY9LrurKnBnbbZWsnxVKTPPdXV07qoKwSzkpKh2OHUXN4tQsmqxNXhJbTuiAxWSeWy7q6Z1/7SRuanIjRE/Vgd0MF0FMKEbM3R/YRlkFopFtyLCRGx4+FpjZb5rkGt81yDXIJcg1ySXKJck1yJE80jp+728FnZOilsnlNaaX3+rqVrjK5gnd1DI8aeoJNUEyjrzFR17Ooq1NU5Krs8tmXZPZMKiMxbvt/+igFCCFkyboyl7RUziNGzjbt0Jrs9Ma48i2JFsSLZkWya2jW0a2ZFsSpqfs8DMzQ3WyS2jWya2SWya2STxEniJAz5yG6K7rzWsSoicZutk7Io0dOLoqVkdKngdPE6wdNmKjqZBTVl2ur9YGyedtuAQQgmBMLJhVlZW6VF9l3NkMsrLekTTkmnW8K3BW4KzFZis2Wa3FuLcTisUD4tmtxbi3E8qKV08hOt01c13XmVnWCgDz28Nk4pxZFGyeFkUDJ4E8LLaZbbKUHjkV1khksgN5HFkzJmTeKftGUrOshVwXlXlXlXlXlXlVmVmVlZlZlZlZlYVYV5V2XlXZeVeVeVeVdl2XZXbpGbpvbpdX8TsnFEKIFgmN6gNt00LpqZ3QUgoI2FYpmTeJkbeU27+C/h7rurOrErEsSWBLA1tmtqRbRrZkWwa2DWwa45LjkuOS47rjrjoIWEt0VviuQC5ILlCuWK5YrliuWy5S5SGpuTp2TstJbJmjWCxVlbq3T2TmzLc7bq3nTyOnjF1tAtoFtisBWIqzLsrrNbjLdFbwrfFcgFyAXJBcoFyhXLFcxlzGXMXLXLdcslyiXJJcglyCW+S3nW663FmslksmWTLcst5lvMt9lvJpVuLcWifNW6P2X/jky3ExrJXvM93Tdm6XV1dXTmzLcZboreBTVTCzyk6zdX7XT9bsrisgWYLcBbgrdFbrLdZby3VurddbrrcdbjrcdbjrN1m6zdZus3WSyWSurrJZLJ1k60V/yEUgs5VCaVyNyRVEYp6wU9aucmqwsVYirnsVabsVZInqzdFVm7FUk6ee63lurcW46YiTDOS49S6ajrE2n1jr6ZVr6VVL6TUr6TUr6TUr6VVL6ZVL6bUr6fULgzLhyLhGuEa4RLhEuE64TrhOuE64S4S4S4S4S4S4S4S4S4S4S4S4S4a4a4a0osarMbPKG6U0K5MQqSoI33Fd3VpFtzLZnTU9QuJO64Mq4EibTyTaa7odJJ0OjodHiQ6TTMh0+lFDTwimZm9ezJ4xTwgtgVx08C2nWCwWKxWKxWKxWKxWKxWKxWKxWKxULZE1GbpqB01Ay4YLjAyaJmWKjsSwZYMsE0S2U0IpgFl2WTLcZbzJ50865C5C5C5C5LLksuSy5LLksuSuSuSuSuSuSuS65TrluuWuWuUy5ILeB1mLqzOnFkQEj32WVQsqhZVCzqFnULKoWVQr1C/IX5K/JX5S/KVF/TbwWZYrBbR3aNMLdLpzZPMyKpZFWAyKvFFqCevJPWmnqpFvmt01uEsyWbrJ1k6ydZOsnWTrJ1m6zdbhLcJbpLeJb5LkEmqXTVKapTVCGoQ1ZIatNUA6YxdXWSyWSv6FL2qLq67umiJ00CaIWVmbpkyKVmUlYAqTUhR6gboqqQk8hOr+uw3ZY9rK3p3dNI6ad0M6GZDUOyGqQzi6YldXV1kslkrq6i/a0DJoxbwOTMjmZlNXgKl1J3UlTIacnfwWe3USdk/p2tGyPytkr+G726sLun7eG6Y3ZDMhmQzIah0MzOmJXV1dXV0PyH2TkzIpmZTVoAptRJ1JOZ+hl5bLsr+ruNbcZGWXo36Abgie7qONzT9vExOyGV2QzIJUM6aZlkrq/QZm25amzTagylqZJPHjbqwp/f/fZ3ZN3T+gzuyGV2QzMhkQyLd6HWEwkZE/oN3WGKyTvf/hENvUHJNIYpp26P7+iLuP/AEIR70oeaXuW2KEe5tiX/YZRNaOlawv7qqG0k7X/AOwyFk/ZvhB0qxyAWyB2/wCtZMyiHvCO5JM9y6e7SC8ckoXVlZW/51lZWVlZWQjfpGO3G/glj3Bs4OUd04rFYqysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK3S3it0srKysrKysmZMKYOkMVkb38RCxooHZOJKyxZWFWFWFWFWFeVdl263V3VyVyXnXnX3F9xfcX3FaRWkVpFaRWkVpFY1Y1Y1Y1Y1Y1Y1Y1Y15lYlYliSxJYusXWKsrKysrOmEk0ToREU7+lZliKxFYCsBWArFliyxZYsrMrMrMrXVlb/AJf/xAArEQABAwMCBQMEAwAAAAAAAAABAAIRAxIgEDEEITBAQRNQUQUiMkMVI2H/2gAIAQMBAT8BxARC+Ue3nLyn+FG/JU2gkymuaTEKqA10JzPtnsmMLiqlMtzCeNkd1S3KZ+QVebl+sI9UahpQIDbT5X4AtOjqaIjAL1FeqR5pv5Kruv1o43D40GRODXN2cqpB2UKVOEYSuaBFkIlTmPhNbJgqI2TxGpnwm3Tz1OUQnP5KVdoVtjcUTgx9plXwZUGJKL5xo285Uc0RoEdJ05DdSPhXf4gQ7rwtt1dCLlcrkCiTo3hnlHSEDCa27dWNXptQpgJw6zXWlVal+lhKjSdab3Hm5VR96LY1bEowmkBAuqCAqnC2tu6tLgfUZdKq0XUjzR0ZXLBA0OA4iGwiZXjKlWp0wGlGsx4LB5RHTCZxDKUNPhcVXbWHLsAE/hnNF5VBv9ghV22vIwJnA60W3PATuBqOJcqvBupCT1ZwZ9QAEEIfUKY2auIqio+4YSp0nChUFN1xX8g0bNVbi/UEAZRpHcA9CfZZUqfY4Uexz3kZUmXSSmMBBJUN1jtJ+FJyZVczZOrOcIOM6NgHn157iVPvs9adZwnWVPtf/8QAKBEAAgIABgIBAwUAAAAAAAAAAAECERASICEwMQNAQRMiURQyQnBx/9oACAECAQE/AdLPkSV42WL0W6WGVatz5E9ydji0uyCtWXvXoskyDvsoTvSx9i/wmPo8b2P5czeLkNb2hu6aM5GZehjhZRLcfRC62Jfv0WbmXC9DwWhp9oSKKK4dhr7iK/JRQkJY0Md0ZmQltvjGvkmoV9uMdFYXZGNscSsUuKUbJePMqZXwhQrC8fJY9kQem67OnhRRXL0bFlX0OCfZksUTKOJGvgsflitseyiy2WzMLCiiiiiitUo5tmRioqlhmovGsPJ4rexHrW0luyPkt1yy82WVCkpdYuN6sm/BKLbsSadifJKDluQhl57LPrJOiXkSW5B2sWUVjHGWyPrJbC8il0WIfHeMvBZ+nIRyqtFFFFaJrMj6D/IvFl4L9h6bLwrCy/WooooorF40UUUVpr1a12WZjMWWXhfsUUUVx1rvgrik6Gzf0K5nFMUEtbv4/pFex//EAD4QAAIBAgMFBQYEBAYCAwAAAAABAhExAxIhECIyQVEgMGFxkQQTM0KBoSNAUnJQYpKxFDRDgsHhc6JUsvD/2gAIAQEABj8C7ubhy51HmeZpmKo3SehFvoRw8N5dDf4uZoqs1w6Lz2X2dWUlRFH+a1WnIa5RSRHNGt7lZ1lD9XOPmVuib8Cq6EmtHQimJaKTeou9nCGLGKy1sTcvaNXyjG5LNiSjr8pi5ZTdVzZG1jDktZ04Ru2xzhDO1yFOUcjfIsMdCsoV+hHT8u3SvgVsaksnHTSo80lWgo0enP67M2DRP9PJmIqZZ04WeLRLisQvReJvVp1Els5d3P8A8aMTq1cn+4lXoJKeVGDiS4aEnF1RNL3dE+h/pehpLD9CntMlR2aR8T7HxPsxSjqntcfy0c19v0I+b2zqq0WhWeulyV5Kl6aEW9V0ZRbKXJW7uf8A4/8AkxDE8x+RZtGA3aiJJLQxvNliJHz2M15Pa62aXeZsSSjHqz4+H/UL8aL1pozLh4kZSpWifa1I7X5EfN7cSnQrK9CTjKjHovqVyS/2muHQ3r949V8OxO9TE2Rit2nNHs0bxaRJRr5Mxa2qLK0bt6kdIv8AcNT9kjXwYz67fQVevd0xVWOZf3EpQjTK+XkeypYcJQlJU01JLDilJ7z7cdlpCnyYvN7cSnQzO9CVHyJRv0J4UpQ/cSWHOGJS9HUaXJlzy7p+GGYkvk15UaJ7Gsq8z2fq+ZJTdWYpYj5i9/lyfzCfs84J+DGPzL7VTr3aT6pjotadT2WKqt7XUnJc0ufbj5C/cv7l/Qio8j/c9soWroZ88m6UMR1Zr+pIn7uuZ2b5HtUlFZqLdNeteuyWTI/7mBRQy5qPXw2J0a8+354ZKkUyTy0PEeata8jCarmroPOqMxTViEt0rHDj6jRLJFydeRWUXF7NXyRHWqr2HKeiQ6Zq9D8SNFTkYr997ulMkKf8nx5Z89MmXSh+LKLl5EfeySkxTjZ7PZaWzbMOq455OxqKdKKViNNdLCk5S/VRsjFRqOE+IX7n2ZGM48SkmimLuTV0zFlGTbm67NSpFOeaMZJ6m/WBuyTXbhOlkjVSRxI5Mrlr/cUUo25msSc4KqZ8OXoKonB6lKQa8iTJbLi8kLTnsb+fkj3hOMHuU02PUryG+Val/uPMov6GjlHwrUytycvI9ly67z2Yaj8uIpGHKV3FE6dD+YeHB70unQ9jrJfD4eb0Iunyi8hExfufZ/3GJ+4dVr1G7ihh6scZNt+A+rFm0yrQhGtE7lcN58N8zDoqRitSto8i+x4cYR8y5m1lKgta7d2UkRrKr8Tkb2F6F6eZq8JmGrxasRVVGXTqiWV6EtBto+BP1I4uVpZVUjrl15mbK5eRKeqVqFBeWymzRlPEbHr/APqbIO0lY/VpYayVm+FIy0jRaUJxpSdCvz0X9yc81ZswMrm9Na+QnJN6Kwp/y12Ympp1Znm80bZSssPES+g54daJ012RXiS/ft6Vb1MuRPYiqFV6FCCw9dLlNlJ6rLWnUnLJGNOGhVKm5L+xky6RQvw5ehwYn9LHuP0I7tnsrthSqFPExlKmiHFYT8yWZr6MabiqlJ+1EIe+0jTncrmlJ+TPn/pY28GTb/lZ/l5f0swVHDph/opc/wAvL0Z8Cfoz4c//AGNPeL1K+9mh5fao/UrH2iBpOH1PxIUlrQbxc3UxMVazsqkMWHzXNeZiSVKE60Rhe0OSxIRjwryMOqpotBftWzF8z6slhpLO63ZxL1HCXOVdkER8W9sMTErd6IWNFVr1NJYX9RooP/efBdPBo19nxNPCpvwlH9yoRU8SCn4sjSeG6RrWopqzFiR5H4maVPEzLLPCd40sSkqsjllJa67dTNTVCN1+pq4kJJ11KT+xRNxw46bpROVPMsjSK2XLly4pfphfZcuX2apGuHEprTzOc8J6Si3UXtCl+G6UJ6ukmRnHVa6MalWt6ChDSvMyxaQ0+USDzwWi5lfewS8z4kfUxelSk5qLzMeJPGVdVlPifY1xPsyin9mb8d1WFhYknmi3y8TLB/bZg4UeKEiUK0q60Ke9mJe8bTNRUiiuVPwJ4fteHhQd4ztmRP8Aw2InNWjUwcPI1SO8316ClhwjOvUpSK8kRzydHo6aEck5LErZH42LGvmaYn/qfFn/AEijmlXyHFTTa02UqPfiZdKrE6mWD8EadzLungYiUsJ8mSwsSOI5X3dEbscb1M0nirwpUTw3Nz/miJe8hGP8saEZRn7zxrU3cKTXkUlBp7FLLdFKepiRVLlkaEZdHWhnztr9NNfIlKtKupiZny2Uwozkk+RV4ca+LER8+w8OVpax8GTnhSSnHkj3OPKTS/VdHsuN7PiRlhtfiMk44ssxBN53cjmunXQismkVQp7sb92zWA37lVd2Lc1kOfu3lXOpKWA8s2+tSeJicdXGPkeC0/KRlHiViGNSpYt9z/s0kzNV1sUy1Y3ShlinJ9CNcSCostyM8XErFfKlcyyyLrXmZo48MLqotGntsB5faMKRkrFy8GPNFoxvof8AyJ9Fw+pSDWDHpBGeEsaWtL7ddmhTnyI40bT4vM/nVmZf9N3ixyTpS5uLRaFI3fM0asZaa7dTDa/Uhx52ML2j2Z6Yk96HQdLK35aWDLhlqiTXtE4ST1Rp7Un5xFTGhU+NA38WBDeUl18RvkLCi/dxlyXTxFh4WmHGwnP5Y6jlPmabNE2+iNdJDliYmTBV5PWvgup7n2WPu8J8ucvMWe44R0jXV9Ee4woVUehREhS8hS2yw382qLmaPESw3zJpJt831K/Y023KVI6/MfiJOrqYk4vd/wCRL695Yt3Kkrx1I4kEmprmNPDiaRfqa1+pvKDb6qxScUoJuWiM2IvJLkZkt/F/+pGHiNL5nQq0/Q4Zv6Hw5mbHrHTTQj7Rm1fyx+cVVpaMI2QnJ5GuhZsbgvxZ28y9Xzb5lsi8Tfq/MlAdTd2KXNMm8OLyXHBt6FVdGsXQk3NanEjjRxI0ZrRnIcYUcPEySmqxv4scs294HzGikaR+5wI4UWicjkXLly5c5HI5eh8voWicMTWETXD+5+JCdPBnumsSMfHU3catROppWp5cz51HpUybzmlYrl5UKwjFeRG1PEWdw100eyc1OVP01MTE9p1glSj6nSNvJFMKmbxvsz8lYeRrJhbq8+ZqVjc3qsirGJBPWuhWpozqPNh4bK1w4x8is37z6m5DI4WaZGVd2nMVZQqcWGPLKGYUsOmo7Cnj8PJK7KYacYdIlMuuy6OJHEcRxF32c8ouWtElp6sc44eVLo6rvNDTh6M4Wuu8Kj0OLQzq547G0quOplgq1ILEaz01N6EJPyK4Uowh0ocf2Pi/Y+JB+plhJKVL0KLEj6HxI+hoi7Ko1bRxTZTXZSMSlHXxZoiwqln6ln6ln6ln6lI6ebKzlHExPE0cSMq6ULo4kcRcvsv2aZpJeBlzN/Si7WvaezoYaly0OFFvuRUY5n0qLFw/qumyqyx1t1Ks3r7NTPCDn5DUs3m+3oas6C7Fu15sdDUj4E/eTan8pue+lp+pX9BUniqNH67d5l3suzmXElVt8hp1TXZ5mnY/FbUacjdbzCLlCGbxRpsiSwnaSJz5UPeJvORlLjV+9Tr2LrZYoNzvUbX22uVCuVamsIs4aMohe8iz4fkqf87abLnP0Ofoc/Qqq18hylWr8Dn6HP0LP0Ne4qxUNFzMtl7z+5xfc0x/U4lKiE46NWGnobqMSP1N7Cf0NarzRpNdxY0RRbLI1fYqNR2WLCyMdcv1SNYYTf7ESi4Rj5IdBZnWnaw69Tc1N56jeeWvVmib+pZjq5Ipmn9TmYT517aEtBGhlfOjNFslmdNNj8xp1fu9aIp1qtusEbrlHyZuYz+p8kjewvQ1jJbL7fEo+xc0Ksn2KKW70N+n9I6qHoiWVQpTp3GGRhicHu6mFFv3sfd6N+Z7NiN6QxHH6EHTWdZMh/h80nB/iYj5+Anmbrh26GDGEd6Us8mUwnKePmq5V4EYX17hW9Ba0RxMjmbem3oXFWxNwVXchL+Y3JxZrF93LWjpoRcuaqtu8aRQzUfj2boo2jl3EZpWF732eTp4kc/s+Juqi3h4eJhTlDkrUMqwsSlhSjg4qp/MZ44eIsSlMxneHiPEpTMZv8PiVrW5HLBqMeuyj7VziRxkUunZquTL259RNcimSrOJxN5Ql9j5ofc3JRkaxfbk+i0N7lHtamm1jkrI5HIsartX2cjkcjkcjkcj/o5F16Grr2tWaa7I9loalH7FjRamqNNmpuzZvRhI3FRUL9jLF3MTnQt3MvIXn2KNGnbsWLGs0jjNC3a5bN5FuxF/Tt2Rbs6M6mvZpz5Cj8z17qS8CmbQ4i6ORqXLl/yd9ly5cj591btOE1qu/cldGuHE4PucL9SzOZzLsuy7Ls4jiOI4jiOI4jiOI4jiOIuy7OZz7FtlFT8hGT4lo+xqadzYku+sWZZlmcL9DhfocLOFlj/s5epy9TkXReJxROJHEhNy7NixYsWLFjVdife2NIrZY4ThOFHCiyLIttv9y69TiRxFy5fs2LFuzcucRxMuy777EXh3X0L9zcui6NzVmr7Ny5xI4jiL7bFixY5du5cvs5nM59xdkvLZexoI1OKvkUSZYsh5q18DdcvA0qaKhdHGazNZsvI59jQ0hL0PhT9D4czgf9RZf1Hy+p8vqfJ6lo+pwr1OD7nAcBY5F0XLlziOIucRcuXLly7Lsuy7Lsuy7Lsuy7Ls16HHH1MVuaufEQ99tmr2WZwP0OBnCyx/2ci6OIuz5jWRvSZqpP6nwY/U0woL6Gi/IcKLbL7Lfk8quzVmr2WLI0R5WZqt5di223buXOIucRc4i5xHEcRcuXLly5fbbZcutu7JGkVI+EfCPhHwz4Z8M+GfDOA4DgOE4SHb0RCi538O3c4tmm25cuXLly5cuXLly5cuXLly/auXLmq2aPvcPz26FjV9riNDQuX/ACVfyNy5r3cfPZbtXN01l2a9hUXfLtrvtH3KF2NZG4ay7ilPyFi3eabX3V+3HyNXQ3dS/b5/wTQdfyCjE1fdbxov4H4d5oby73T+JMsajX8abG+xGXX+NRiJddtRx53X8Zq7Ls02Zo2/jFEeL7PiUZu/m7Fi35jXQpEzS7epoaosWLMsyzLHCcBwHAcCOBHAvQ4F6HCvQ4fsWLflLFixY4ThOE4ThOE4ThLbNe8sWLFixYsWLFuxb+G//8QAKhABAAIBBAECBgMBAQEAAAAAAQARITFBUWFxEJEggaHB8PEw0eGxQFD/2gAIAQEAAT8h/jwDNFNGYN4Q7iaawsJr/UEYXrHp9TWs1Bho4iw9ddSstzUZ4MyVh5g3pGpWo1Zf9vnNFDFlf+laLYW7cvYd+2ewcatSgq6N2+0v4XoTB/0dwTCJkTeYWunMgUau9IzQ2MOjNFVcwotiFZ0lVO5DBS5TY9v42XyDdyr45nJU8jOVmtgilkM95ttYkQF3hHq2Y8TA7Z0fTC4Vc8zetp7RXUTVOHSLSWuKgrIRmsZ4/wDOxiQXTeVLMtpXj4lwMLL6L2mku/8AkuzyzhjVj0SU3C/Ie5YKt3q/6SgLWIcxEcC2gk1hh2lGUDUzzJXgBRGChXqZfvz/AB93/aZVtlrV9FmPJn5Rg2nE0Fwl+8cKsKflDJsgtae8eb3P7mM+R/3FApdhOv7pbMuZMHTsfXBuL+fwPX/hsXF9xpfSr1WXhPxHPrl6WbEeYA4hhx+UwhSg+43gcYGhZcUQHOWqiq9YmVC9TdGv48iyYRd4WPFNwvKBU5iam42dNYKIHHcEA1zHE3mCkdTNRlYtSh49eDg+cJJi7/jckG5ElntoHC1vlf53FhJqLHwrUyzH0Hr9En5rn0uIsb4RLbCpbtvMUmzRh/OYgy2sZTFUxgWv+TMNXJiVNdGe5T/HTcseWsLG2C/SKgXcmrnaI2eW01jIZBXziFe8jKNzcqfrDABe9CF02bKFkuotrUX7RV51Kad4rPTDDiFlwyr6fxkxJSd0r6xOxW/NFh8OgBrNN/6c/r4C95WfQV44gW81GxBK6i2kSh1jWuqP+3qxm2LtcaHh/UYnq0iIDI8m5TeDodHhg8TAlSBnFx/UNVA+YX59szQvX+Ezj3dKvMADsWvA0SXu9aZbtGBalyJhYGTpmAA1a9TQmf1EpdJS1VGFYy6XNxKMtx5uxS5UF6INdEIstr5/L+OtpLl9MJKcQ2xAvsABQk8ELS7/AB/QpkEyOvSUS6tsIt5eLU0fUshocp8nhNIfLK+8vOl+kZRK6qPZEv3q9Lt+tzYJc14S1134mOlrS6UTCKhfOWNIlqWhoTUm7Cn46u3FB1MHYYLmPS1jZhoJR2YtW9K2KlmGVXq94U7YJxMPx2ikKCVdy5AnxcSIg7FJggyFMHFHmIK4wWO5TUH+0H4Bx60WhIp26YRxToiCAOocsynE0hvfMX9Y5ht5R9Veyqp0Cxt54i8rpNV6cmS18begvMA8Lv1s5jlaDK7Gv9Sq8V8qnVWO1mVFdJHE64u9JWzkrnnP3+KD8lJrI89hLKaAG8qP2GqrFV3Fais6xaBGMQnMRYInR0uJIUN3JCV2kjCQbrXwKGrUucW+Jnq6DnWKjc8kV97EGrPkYVoN+MQmXScKZhXnibbB+0F4uW0AVEbmJwO8yfvoXmMx0BsxwdZyiUdB/wBJY4hNfOD0L1Ojtg26Zy+dZp0PVUVRC40SkeG8pn5yF7oMYxAfxiXQ/rSj2Y7DZdspbwD6eil0pZpoc13Fcthe6jpMEf8AyVGTDVe2YkMOWmU24DDLcSbqLOHWHezGPjhvzn/J+Q5+FUOx/wAYcvP2kSR0nMzGbldsNpSqNhqGRvV0Tdq1Khzd+AxM3NJIrgFKLTswHshK7u/yD6xGoU4Ll7lf4E7Ky0ZN2Y5WTNYKgy7arOZe3MawDRpuOqfSOujdxaUVhSacL5w7rlemKq/oCxAWguyOSwKx1MsrVgLSblxpYtnmZ44Fl5daqgk72w0uagalY7Ew7K0kHYRZ1HyLjyG1BYVFYcWeDZhtohayaxa2VDDn+4+0lZ0QUUXvtpjx+ePnMqQx0RpUyOlnONIIS8I7X9oZYVQNALiTUto630mjX4PUw9Vik0Illhf2JcFsx3H6hj7vY+8Kk3dabofv6U85f8lTcr/hLDyS6lq0SoasBrrKEZVqlzCrsuAavcssPjiZWmojZK13mCEEa6tRANyelFfc4NIzKowat/qGGAdjF3g3XBWYKim9rTGIx+8N6TFHCgWlVaqYilWTrMT+pwx8EIVZdNyhJ1xWGVQAs4TNNTppRqOCWxifLeKJVkpCi2HMrLC3U+0QUiJZo8LCuQzAnKWGbfzj0CX2Iuz/AJQH9b/olbtu8v8AkZCXtR+8wjKDB1OQ+DIuJCx2Wu20abFHLeXyA5mAoYZJrppmCmIanXbE0KUILccHmXv0WUhfZxvMMiczwQUdWAegcr8hMz+eYNa2Oi/ESY8EsZan0h9vQxmrf2lScv619p/0mvUmDEgBatspUOGxOmXcmvxtPmUUIsinZfeU9o0Q1zOVi3CHA6XG/omw1pJoqtkGbkGbzMNu6BsSkVMNeN/nEPIMAXZcGHoqO5LDV94zg6StGDKNYLUsHN6SgM+c5Rj3OGYnYzDjSGqqxDzHAKrYvABeU6/9J9kEKaAR26S7fAN8/ETk9GHL/k7oowciAaRTvLtf8p/Ukt6BbCqXDE7KckRBvyTDHNRZOZQqX1E5huT5wEr2Uqwlu8sFvoPpB7GXSBccCf0KNQ2nmJt7BhmC0OmdZnQNnaX7B+W0FWVwfqiI8opO4yxa12SxO9c0jlrM3yhStmETO1V+bS7ap7Jl+bWUzNcUHlgFRmo1nRYWL3zB6aNpbaxTvERBaVKhQmCecaGrDJwQuyX6qvTWI3/VTCVW+RMsvI9TpIWLXNdgFbMB8WASp8pSB29Flo10pTSJqTW75mCaJb6363Bmad19PTHoTMuLLmipqgTRdfqPAWuqDpUbGXNqrVf2LgWtsSfaP2ytf1uX4kbdFFT2QtLrsQlqyEvEqy4n8+o0cG6N0LXR7TgwYKuWV0F8j6IeNgGhFdiH3zGPspGVHmZrq47jskyPEiw4lfZL5lODXPoQwxmWqBtCVLjqiaG+9StYtB0hKFxrphkyuadVUI6KDP8AkIKL6ymBXraxatQ3uZKtdmVlxMShM5+TDkPUShaeoFF+IV6Ky+qWZ6XmVI8PQT0PS5c1nlfS4MuLFly5c3oFwYAgxX1Jcf3ZW360TdWeIWha22IdCJjX5Yj4SjiIEF0ExuosGmtIjWtdD3SxF1tIfNL+vgj8opb/ADX9wDfRI+ISrmnzgMi1S2vl1i0LHfoed0D41qx6ELG+sXsYqTxTBDliJdaQIuQlcruPkTAOIoLtH/CNda1tHmY23Zdo5abR65gbrGeUo73pBvcay9YSaERd0eIiqqV970edpkh1C+8HaGorb138wfQ+i5ZKS+pasENZxL9S5USPosQ5ddoTT6OwF5JTYT86XvNGBqllxq7Xb/UfMM3LhLKHIjDlsab9EDbkOxueUrZSofd7nfZ9kc636OpRuNkl03rFFrF041pVTIhdIycG6WTXWh+Y9/Gkv+S3dpjBbTLOy01uniUI8ywOpRIVB2ZsJ2McbV878/7LjNHE16RrjWMnqmO62m8rI1q2m7isK2juE+c5MAdYtpOBkBXsDD4g1jO8dj0oqqev0nH5n9oOKILLh8GBKlRuXxYvJPNPFnW5fB9pyD7QUWajiMcNkpMJBCaOn85gLhGmq/qNWN6lXY/K4F111mEyyBkbf9gMcHyCLWm47D+3/k1Hps+JeDYYe/2lOo/KVTTPOLR9OYb2DcBmcS7t/wCfMTcDCYeAlhqdn5x0CHa5WzZQ5f2I2ey3qFuzSOzq9pmc8strEAdEKhD0VAta3jeVORPlKybtfKWiU5G0eCUs6mwKcToot3UqKOkgv9sz39WfspdosuwPhi8KY2hIUNlhKbu8cQy1F5EBQV4In91Kbvzh2fcjtRdv2p1+2fhI8b2nGPadb2nX9p0vadvsn5z0Lqh+q9FP9FA/ohOS4BKcE0phMsa2JT9YLTw3pKF0MTWxsUh0IWhQ13JQjYFuhNQ0jU6E6lliPWSrt6Ex3X6Pym0df7BfQHUuqqOcV1M6TTUYPqaIkpdSbyoaVdC27HLdAXe59oTRvqYGGqWxVdwXUNIO5oiDCRdpq7XmM48o4nK1QlrbHaUK/sksGsLCBUo0cogp6aMx196HVOwNbmwzpibLa7xGqN35mp0VB/eX2opeYJsHzhujOSF+32ld37Tte0Rl3sfV1UTzql87BmKBIX4/X4Kq+pWICciVPOX5lqvEGUWGtRoEvyUGZ/JUQPppd8zNk20uXeFgKbzGOY3k2QQcyosMCpjEDjzLs43YqOCqi6JzvGPhjtj6zDT3E/tNPYDQvme/iU/coqGJ3lcauIhoJBq4XaNCvlICtTuad3mEK+Jf0DbQje4HzGAWHDiWrM3OZg9JQb0EMNFzjJ5dhGPlEtB8yULWYsV0lzSzaJ147UvMxk2DHuynL7T54+LzeFl9m8RCZ4rHQSnftPNOhlCI8YWeESKm5CyFTERpeJrkzH8RtmFzKRDTtL4F+o8KW6vNtnmXSA4TVceloitqYvKklO0EGR3luz/so0sSwVXVDTuHrYzTXyhDfdhGNIw09C1mqITJ0TLN+aUxowQyIlpKG3JeYcIWs10lfnr0TlnfGjmCVlsC013me3jRI9Qx3cutNSYvCGNX5ulNu2msWmte5aOC98E/aTQl9M747kH0qgbwDLFIzzTzR7I9sYqGT85h6hBmDlcFmOz344qIAasIDj5mgKHEJVVuTqMND4YCUDkSoqwzMaWRA6FT3EGTWJtHCbHn6PtlWtSjAmuIdoFv6RiMDMLSpuB3qY7cmJNkLOSAOlsHgEqNdFwmsMMzIIvaC6L6W1ai5kluiG6TvGIeEXIn/PvKoCvBK+BqjiyWFYVoiv8Ap9Al9MHlBj8SmGHVAOMjIxnH1nGdUOqH7XN6Hkj2lyszXH0dYFYxiXdFwFxniKLP5oI4gM9D/IMbHmTEf5hljDqie0ObfuYB6iihw/lRM3Bl7nmYVjsTyrhuVh9xMF0SGb6CPKZsrE/3KmCphjYNObWMNeSo0ZIAh6HSvqOdca1LnJ6qK9A0SJQLG6iCbYgqtGcJMmIwCxRWZYhGjVSoqm+7NMCFs+Ic3+VxGjaLa4N88VQ8QBQiKHl5hUbHrKgIG6VjopXvKAWkX1LcRWOo+qegLisDOQ3mmEDoJb7qbhFawZPn6QFpBbO1faXObDAwew+85ELgus1Ap6QXNwD5n/CJUZMf6yl74Tfb5SvDXEef0y13mIsC0yophRItJFlnSahZ6m1LDgmW/UpD0DLVlmWSyVmWCP6h7vnDtRya9k0WN/h3uOc94+0XNQiXWb1jTjfKix7InnZDdiqOLleSFVf9kWMsCLTKHzaXNA/tmFutI4v8n5rqXcWMfXUeCUxfnEzty2ga7Tae9Ge0Wr6JO0pYbdTKBflK9GQY8xnLRXvLcdVfzgWuY0umaBJcuDLlzWX6BNAEtH/pYXug3Tt6C6xtinLHBBKJK49LxEGDEsfOHodMUanzIOQmWJzxAdHhDdPGPhq4GQljBd1zL5vpmaIoClERZjhr/pBpRKFmkQnOz8M02mqmjxc1Xc4Fni4pZux5+8oQTFssXoRFoMWZaSloS+7PIOY6lYCqFXiD8COBeUYRGB4i1WkygaMWmmM12VZL0QGaLhKhXFz+5VPwAlTGeafS9fiAqfR29Abikv8AguCtrwEtVMsB9ITUwm5hUCiCEVN1KrXUUjda+Ylzie33hlaHwjTBMD2ni9p+An5CfgJ+In5CfiI/pzhCOv2SmxeICiyZQ0IejMIiQsA8whBXEVvDtl9Reoy/EWs1JagVvD1X6IM6jqJNXyTQqSiu5pD7RNh05gD6bTFYXYekDnDtnAzACKW78AFxu9qC4MKDDBD0Oz2nfSlDzGWoD4DDLcSPV7x6vedR7zqPedJ7zq9N+Bgmg94jZTipeG8UWBO2AaD3J1HvOg951nvPF7zw+8GZfdDm3vH0wTIoE3VxN5gOqxcXn7pbzLY3FR2Xa5muy4OB4hrpgN4hvP8AYxfKQWBnzC+noPWQW4tojrOqFxOFA7h5w7MFzAbgQqtgKuppOR+Yb/szdehCbpdvjyJ3PpdcrxKcSnERWIi6zyg0SspKRlw0mzhkKal2qjeVCzWLOqhpW2ie4hMViYlERAnCiNoy448LiE2jHrgyR6YL48MGbsv1GX9MGXdHMP1wQIHrUCp3CI63qyW/09APys8ZqYf5ZX+KV/gn6adiU5TsTsTtRp1Tse07HtK5PaVze0rk9pXNE/xRP8krn7Iw+efNL4MYLOIBDFutZjQZly/UuXLjGFU45n09FymcErueJdtEbRjMA6mCUK9FUz8w9D1quq55YSh/BfouX6ZlcGVxZ0vtO57T9RP0Ux/a9de/Rxvx8yfkSdJ7J+Yekdvvn7GflM/IZf8AfPxEuQU8Svd9pTux7o8DHlSjd7zte8dj6o/sx/Nj+bAAqOZRgbzJBC7UweIEhlp6SKgQW/KBFNSTTMzdDPEMslPMq0UXqEfV+qfmWdD0Sn+ifop+mnQe0qShv9YnqfRR/wBSdb3jwYysjzfSPf7R7Y8LH9iPD6ovh7x4iPRHkJ3ntH9b0au70RWVoeTK8spz6gnxh3Tz+iCXF2zyZ5MyZwYHoqI1M5OIN1lIlRXLMi3SMyqXNAbS5cfRZa6zUGPCj/vRL+6UxCxrM+kLUzKp1X0Pj7zl9yPG9I872nknWx5nvPzs6s8Eevsl+vaeD2n4VO76TunYzsTuTuTuZ3R2Rfn3S3LLd+vblluWdzP3ExPPpRCb2QjT7woXBmaipzxF0SuCaH3ioJW57CUCeQCMoQ1qsSHmLKiBQ50XxKEvOIaCQi6mruNo8IvidJFuFvRNQPhw08STFHkJqQeRBJOj1bli0N35Ylt9sR/3EtVENazm9CdD2nX9p1fafmJ+Yn5SfkJf9Zfn7S/Oeeef4NlWVIUhSFIVhWFYHcqLQyoEkukzrDGLIgR4CZQVxFdy9hGDaRCaezBpbJHzm4gXV90JW7+ib1eCbh/xLdj5wWr8T6ksaAnun/EjNEDwfDfpcuX8S2oROvsRcveRG0IcMSjx+B1/iwBB6920Sj0YxLJuL94FJ/UpowQuAtauCEKA1D7nUOKdUDxEYOVTcWzRDMOCJ7xOMPBF5ioZv5MT+8/Az8LH9ifhZ+BlP2lP2lP39VF66zhQXUOhDegTUYTTQQ4RFaYn3YINNumdv6TtzsTs/AIO9L9dq4JXFHXnlZUqUb+lWDdRhv0XVtuPnORgtoAaRBvBQm5C6ma8IfRucaO0IneI3RffHmztx5nwLbufDNJ2p3vUTveiD3hPdzlgO8LaFNJBynDTXMTTVnVl53ICVlnPxqx1lPQGgvxmcM8s/wA8m3L5YAwBLiG8H1JrIhN7L3RN4zUl7xW78F/xvdfoNlbiWuOPgpq6xLl+twLeD3hNfRy4jTnLtM3CoLo+ud5fn00lYCOl6TerNCNyq9RNYLqE5O8Euq15mrFTUH4Ngx61MAMTk/xEfm4LamKlvSt/BeA4OIj6gWDUCs/CLmbtENYPMYhvMzdqguj8WXTdxW3UuauzTMS8yPBLUFdsTzMVfjo0Y6zsyx3L7YlvP8ZrDWRxy7t/gudpiNaE4Ylz6CIQrmCyO3xaAzVoU4ITfMZrAujD0zWGq4QLjEBZLVKnBFXX4kAW2Lx6VF3x5mKLv/3X6aqlbFmav4NEZqkdrONim8MPQgaQq5emf4S6LY7iuogx86Jqf/gmsQXh5fyZ9c1FlPPo7T/FaWq8RVcv/wAS8fxVLPEl96gIlnTFDWszpR/+wEM7WwSx5kn0vu5iOzPn/wCvUHoGs2yyuU9VIdScHvQK/wDp1Ah6D5wImXTVmANCV6UMtGYFzC5TXpjL6VSpUqVKlSpUqVKlSpXpXx1KlSpXrUqVKlSpUqVKlSpUqV8AIJIdYjgPn9zNMsn1IHUlmOOIOWZxEHSP/kOAAPGX4l+Jfhl+GX5S/KX5S/DLcMtwy3EtxKePRUqVKleiv4R70eiGCAfSktx+AxDsM8zlpCaj5I8zOxP3E/cT99O/7z8TPytni+s8H1ln+Ev9Utt6hDOlF/pl/ql8J4M+aV2nknmnmnmnmnmnnnnnWzrZ0s6WdLOidEr9U/EQ/Xn4yP6E6XtOh7S3D2luHtLcZ+FS3D2hfg+0Xsx2upoJbEYx9T0IPp0J0Z1Z0Z0J0Y8adadaPAnUTqJ0SioEpKcSiV1KJUqVKj/HUr4bly/g+X8L6//aAAwDAQACAAMAAAAQAAAAAB3ugx+whIAAAAAAAAQEVGrpYNXyAAAAA/LmFKUZLDAgAAAEDAAGpWgXPEQCIAAAAg4JA/vW7jAAAAAmHAAgEyAWXMJNwJIAACbnPJEiWcAhCK6DgMFqG2AAH0L+alQoFEd0zMstHxyTaLMoP2BapCASX/5+KQUAk9XBlZ6aOXbjHojwfBuDuvqAx5/wbq8fF8ZKiYFWPXyP2K337nPpKYRFDlf/AG/ag6pzgUjxLJi/ebJU55W+KPbrqplxgr3XvVL4ilRvAHgfZjY12gdQbk09fNEL/HNBWxW7d84P3hblqKmUKO66vt2jACkfQ19224xl3v7KKg/AP7lzSaTj0LwMRwnygECHZP8AYOQXzj/391GWR5d3OVjGPS87/f0kuHq0s8vMpKcc66rxxzJoSjXoVCiPefOTwhdt8tn3Ko8aYJKGYIvlAGvpamPppfGe7/7p1GOAJFPaDrKMlcNP8ffzXVDwREEFbci2tPu896f+u9tZhjVF9qZpp7efs4O2+3oVdLpCMOERp/8AJVh3Z9bq5Bn9cRB8KZrcs+LzmXpeO+6l4CWpHrfTu8t9rvTPD2LzCGBlUS2wueKfNSDDiiWvIDTTGsvzmAKMOdqsIiCCCADCBBBDDDBCKCADDWG+VKCCwIgACCCCCCDCDDDDDDDDDDDHKZHNqjHJGPCDCGPOOPPTzjP/AN4zgjRwC/U2/trN8lgJ9+4msu+343+wodPPKZf71vH5QQQwXv4g/YQgH/o43vo/PnXgQPoXnQf4/wD/xAAlEQADAAICAgICAwEBAAAAAAAAAREQITFBIFFhcTCBQJHBodH/2gAIAQMBAT8Q8XXgTU2obu1EjNEQlRqP8lFlN0tY+C/JSKLsNE+AljhCv2/I2IiCL3hrzuWxZYts0JChNbXsvk7T04UohMqf8hp9wjNGNJkkHx+RE06IZQL3Byf71/QrxVrX+NGiHDGNH4ewtY0NG25yIT3WhWk+x0nTFtRDrFE2a56DcQ11mOXCaWoU6yuRjW51OURUul75KEw2YuMJVVlIpSi2G2EkZ7FdMmTEEiIaUGnyU1C2IoQaaN2MYmrh4D/HFyLk4mhRjSPgigmlituxLNjRqCb6Edo20zROOo+Qa+cw4tRNByPsQ9TcIxrCJU/v/CHpwSIaCYTJ7K2NIUbJdBKug4aSHVt8Cdd/G9mxM3ojcp+AzkbFdjUzmMnyLa1Pvn+hI4yMbcj2EMnl+/RNwkRS5pS+COcQx7wT2JCpDU4R8RNys2LHz9CaS7LZVjQ6UxGdovj2ICYivVaKd+EXhKcYalYbI5f2NRTjF57Vo1JiIcqNj3rGlDXOEhkwkl1ep2X6qdkvB4ebMbaEiTehEI00Qa1SXDzcInZzvCeyGwvRR/f/AIMbG2mhvr3iC5Ikpx4ch4+8CuFv7Gd6f0NUmiQar8+jrBFE4J98EsgMSOR+JXhbmbaJr/QS+S/OeSkQ2N4axdXCy3ofvEIQhD7xCYaKikCjHiYTZQhCvi8048assgsIqKXLIRDWavAVvFJio5x+jfo2b8FiEIQSIQiGNshPCnJRRCYhKQhCEZGbxx4umz9jyszwqKiogqKioqKioqNYmOMtjy+CCIJFKV4TPganhBMDSRxlo+UcusN1uZpS5Y3io6EUuUqKLk14Ddy/ClLPuX1ouU2i+xtM3i1fA+deOyE8lodfx24UfQt/mUYsdlKXFKX8F8ENlKUpSjY8KUlH842LKKVeyCoqEhSoq7wpV7IwpTspSo+iTFOxDw+ToR2LHXk0hY78VnoQxc4//8QAIREAAwACAwADAQEBAAAAAAAAAAERECEgMUEwUWFxgVD/2gAIAQIBAT8Q4/3BtLsIpFDbWjZTE3o1+V4XY16aBY/Tk/oexjTYyJR+j4w9dChn8wnyhHxeF3gpdnTSP6P5EcSJ9qkpzumOi/p3iEmhuOJnvN8KOTSWF2Igxt2IU3YLFXYlfT4M10XWiZOplov6Mm5ZGOwR7j8FYrulaZKzdwpSFb9EnuWIA+31kn5E62K3eXtCQkjWF/gc6QiaFjZqHjgbGmSy6mmOlUTG20W3F3jb9RDZsY+sKyDQtqO9wS6DIIdYhONCfhR8UkJJFzCInaZq0o9ZEfsSbIzoSv8Ag3aVZoXQyU8A0oCbfRT9Hfo4EkdL414KGkGwQA1WPwQlBoxTUIaTFtsfpSLRkyMbJzJNm4dhqlYVxCEINOHQhMGhaF0Crwarp+CROLC09R4tE6Rm/sacE2NMZ9hrihD+GyMgho2JPhYdCShMa9EvRVOJFfo3jY0dCSSiN4omXeHZBM+uR4mYTNGTT0d26KJ7h1jvEIQcKPE0N0WeppGeiC8U6C9jEhEzoLWHqxJqB7AmQy7G2dYpS5u8OejTNNop9GVYQ02ITnSmstgivYds3cpE0SEymH2NjyuxdEzspeK4dOC0JhBpPskv2QNPOK7NYnHWbm4ZZZZZZWKdsRidickgSYhBLCERERYi+CiY2ilWGhJ6LFRpFSKiCRJhZRRWUUpS8IQhCEOiCWIaHMpFYLBCIhERGiIixFhDZWUonhSrFG3iNiERcWC4UbCXo9NJFCf3irNKU0TiyiLhcS9kSwuHejCoSzoiNll4Yut5pcTFKUuHsS5UuaUb4XCxeN/4FxMThCfFMQhCEIQmHmifBn9+ZfBSjwso84kLKw8sYh4efB4Wf//EACoQAQACAgEDAgYDAQEBAAAAAAEAESExQVFhcYGREKGxwdHwIOHxMEBQ/9oACAEBAAE/EP8AlUWRmIjco+o3GHv5JQ19bjpQYvAXXRVTzEMQFoagjBNsblvHWou636OrWu1RcviI+ZgikO+dKIXMfKgtgXQJBNsTqMt3k0VfoQSil08Ijgz3Dr/5W6o3Aor4giUBaxECrN6A46h99BbVKCjYXvv9qX/aVMC+La9OZZtiLfpqZ8THI5YQqRewPMqGxFXvEtaYkh4x6Z6QBFupdY/ty5ZtoDQvBC6oCHDQfr5jCsi99SjAbKrt3nAtGCmP+dh4cxSKLPDLeYiVGiShLZZi1b7wxHsAKd31jKqYAKaKDPERyUbworWIWRAbICpOt59oBWd00nD8GGKoXdgOh1dxddrIuinIdIj9BEZZcR0wH2ljGoFr4g1AIW2Q6RuxqbUDv5fARukax/5XXKG1Boj32ttdU1L5ir2ePL+IExgBhXJ7XUHWXUy24Vqt28Q0BR9m8B6mLO58HOvOKvevYeowiltpDSlY7hiJK547ddHOo1tiaDGXJFy2jYTIrfXbLIMhoaFKLrtMxcOzpWITWRogNENZDa+7/wA0aLNmqq/5g1e0G+T9DENg1SR50R4ELV1ZR5eQFL281cWILo5cbV6kpbEBvFIdxZSsNZ6pg2UIBdrgRYvFsZKDkavY/KCl4Ov9cXZgcij6TQ/QJZ4ZRMdIdA0hPSh9RPZ/gV2ps9rz/wCFgMBjhEbMHWTLmnXT0+KGn+iO1W/z/i83kwvQiZI4/N1JcNjKYMg1yTOMxLi60+b0jXULfLEMdBZazBRQ9iowpGgvMRcpEUqgL5SuagIedKcYMb/5nM8mb05hqwvOdmEOLq+PEQ4UhT4mUNMBqBtZSLwVmcRFGCOI7a9iGY7y16sXkaJQwDI+TFnlnCWAHuSiQ4rfrOYxXwceqy/gVeoCtmX2WMdBQF5QrPzP+bI8BoFuiAqFzkPqx3A6wWdXp7Eta8hZarx3T3/jUxl6QvMqaOCfNvq/Gli/4ytxz9X8K5rKdIbhY4W5S30LYALEamzoehqMeVrWjHF0LWe5lzVlsrOAK1Mw6t3avJqym2GAuyKpei8SkINNXqx5llFtu5YbT/k25tgcMXMK7kWcBZz1iC16tcMAmbP6SiGRQG7efEciyE1a0W95uA3BapYLKb6VC3osrpzCkxpV0ar7yszeA/eAW12wYv3xK6tdJQ67SgzQVdNxsDBRKRr4JV5WXowxqAxEcn5f8zMoLz+JTX5KB6lwMUmNAB64555J1hjUirfBemsfw2UDOKeJSi7NfCpdsMLQgeVo+bBsbDB/MatpzOBmyGoAN3d7feec/DK55XZaX0LfSPLU7k2Z34SoYJS7jv1EplBVTBQZMAGX4r5NzAO6BbrUqKoI7Sh+qZN6VX+IKAlZhFe7ntEqCkZP+NbiKA29Rzv5dpjgHCDtbLv8xUrOct3vmNrQqsQ6E7ldoOk/JTiwe8zNGCUuFD7M3QCtea/eF4R4sR/EfElNtyxRQXgKYzDoJwEiulxqAWi/nMRbhfQhQwFK3mEyFYE6l/mA4BImlOfy/wCYlhATSWJh6XGcoq3pjT4mGYaNALq3HOpVpYgVKTOi0ff+XE/adJWLukEEk3BEonnbjvHQEQeCse+MwUOOx5PiKSmgWgwmAkbACReOxFzQQtOjtAQthbpzymuJkk4VQ1VbpLvKXTvmUQZAUUwVbwOHLL3kTTocBarR5xLU0avRiuKNmh6U5xe+8AWsoN6VwLp3sIjfYI2r0JqRbxjyfzCzIAXa3XbHvcGihUfNVkgzrVY1bqtRM5M7A6+Ia5dFCmFFPMJIcAYaLw9INOlQu9j2p95YgZuz2sKIIXRUSiEQeLvmKm2LFBbyRU7WgyTCX5iaSEF8jUBcAyoELZoNPNavFynv5yllgx2zCdIOALON/X4loT0HMtUowLujjzK67acvo2KVBUdZKc9dDXWLX5olqyB5gitMUbe6F3FIwIBhheTs/KZYZKywfeTMv1CsrF1dPj4GgrH0lWcOxz1+F+VxDsaPfIHr8WwKW4MxHaEJoBFb7ogHYVdCi47XjrLAx7CqDjvC2JKOt2FcRsSDMpBtariX7BV6LR9E3FVdvn+O91R+cayvNJV85ZTmIoG6ZrtMCC8m7bWiGFlGR1xAXFpI/EFOGk7yimzq3bTaveCF8sLXsmfcNxa+VKcDT7RNIhJ3f4H2Q7tQqH4SnvqK/SeYIUff5SwWF2nyjuDOise8xyosBZ4SVZ65YXqYYxxgKdEx85kLnnSYzQoJeAfaL1sdge8FwBre7JvAwpZ7SpVFFUfkxCBZuGi24JzZrXc/qFCC+UlwUfLUYOW4z3ni8QdMr8q9Pg5xjKtVqzpz6S72HzY6DhYzhqgowt3gvemGgjbm+YBNDgtwsLU2L4F1UeXYaNqvdS2W8CLL41B5sho+9GLK5sCzen7y1hiQo23VwABsOtkuu1/A5LHHzQNUWpjYW1WgrXmO2VojkYOSoo22r+dZ+0uovEGhD80IGKTv4SjLpjqo0U0LrZL2Ow9WAAFFfpFqi1r8f5dKI4D7n2hQtfB6AUVNO4JxzqPbcVs1vCLZ9BmmjXtPZcvmXsW8WH0dRb0wNJjL33UxItwtLl7bx4hbNxiALRyJh7x+djgBrZxiRfdCgtnKro9ZZhq/pu5me5NfSA0iJeke2JhvnbU/e8IYIpWhmxem/SCPIF6u8DmWmCBoaXFtzCt2ZLJ84FJFHss/qaba04/OBLbLMGNpfgv1nLE2fkE1VaRFc14WXAyMYAyJwO7hJ93AAoZ6Qa3UFOFR4o4szRdTKQBgfiJsI3XND6pHOUh0hwV8/WMtVAlaXz4gPpoueF+8QND1NMybYTJ0RlIGlOaholhk4CCuk62MDVg0w3UY8aRuuYfeRCtdo7TbwOKPWELoNWIhtVSi0SKqum4zVZhpdtduDXeCrqZ4bZLpiAALqVcOG2Om/wBlm0GvxF9gCrS2BaqAkApxIrRt1BIGy6GTgCF67RrhVerYcvEJqg5uSy6feGh6BKLBBQvHB6kKdFoU5uLnhYQavYYLxz1jEABsNlfeRV+iKhwFxQ+F2cr2R94XI/KwZJtD5zIEWroz6Q1QFU0NNx1R2xhVwt+I6NUL3eI0gkMl48QP3lrxSApoW3eM8ebgy6clVFwegAqACy+UiA2k71/vwflF1NLSeuo/gta28U9cW94lb5jgVJ9IaAAIyQlwKVYJT2lUMnWr3qYWbTLb3jePFboop7x1BI+6yKFsLE0fUj2GlNMXiu8QpmD6wKzEXse3xas7QaCBvnT1cVzKO8FspdFKLi0O07qyrzE1AbtiuMrDA0ahbYinpDrZfKe2WozYjIfijB+UZ2AqHrr95jE6SaacC7v8J2bi/wC6C0lu8F9GBZ70CH4rigXO1p1itIwBV75h2Rew+0iJWgyLQM09oZlXLYrpeQXi0jMtYS1brSYmXiRe0ZrWCrjKL/bgLG3cw9wY6WRc14fHeMjMQGgW4eSOtC3ZuhVPQ+koUKUVajJcZv0pWADgUNy95h0KdasSk+aFcQ0SjGFgx2PtHSFUO2FrSS0aUUBdTbKEQMGj6Qzr7TdXQ+ANFsmdR/luODLX0/eWaoJeKgUO6cyUaNC29IDcd7XTYcJFBK0bRlnkoZfvUeHOQPSM92ugp7LNyx0AzypHp46JNGFxKqqoz40OtAkS0S1NwmGBKBnhge4pchZ0l+x6zJS3pzfSVzCLrEHHNIxqgcJKlxXG5kFXjL8x7WAsEX7wAAldIrmARgbKb6wpkKwmKrECGOAw1Myuq0ONwRAFzDPB6xFBXFZdIHtLX0MeqVN1r3gKrK6SraueWbDvJ90+xlF+RiosfYRV9+NKI98yg5ef10jYLQFyLF+F7zrn2m9TwRWrpsCAKqniOnr1McHL3RInIykpel1CSWi4X4HSb8X2lGDyrALB7t/KWx4Qo0Be2qi2jhzV1ns+7F33NlABtXivaUTRRABEyV7x1qisHiO1m91dUlTlZVaYbgYBoIvBES8fWRj3QGxziu2ppPZIQXDNrLZ7KTeAfWDMaUgtfKJKo5uhJbwKsvmLAYosC9V1xecQIAjdG0Pkxojtuwge7V0mQCoRSrdW5cnuzLQ+FC8HHQQiEDlPqRpiQBMJng6XL4Jbs3GWENNGDrAvkaLRzWMvbmVs+KeINKQN2TuqaPQWAqbhZstSimlbHMudQrq6W4en0miJU0/OWvd7geg87goA6GVj1ZddovHXXNMxhr1lZqVajrCYglFQDrdRC64VdHD3xEdrboj1ZmZbps59JqpBQJ2bhHiICWxpKNZ6YhKwa66lK9D2Jci0KF+st2xvrFZZ5g3zLSCi1uO3eNOwPywVZY4gkSxpLcyjmXuyXUoIKSbIcJeGxk6U9l+K1bYAX2gjncQPQYVY7ma5By6DpEbrQEmcoZb6wfKFMidmiM8QFghtLxF7iS7dIDLXIonaoRxmzoyyuK6s2QGAZ2OesQQgbZ0MYFRMmIYg3VF5cbNyAo3Wu0FVPYKXLFG+brmItXUQ5qniMoDQXAu3ylW1amoWlaCqgaRg9XmCkhVRewaqLWsqNQ6JSQ+uPvLZzS4UW1WniVUcHWM3mvl15fB6d3pFa+ULU5xw+Ji4xvDTblPMsh5G6IoD3M5GCJ6tEuvNEojznJgw4iSO0jDsc2XT6SjGBFkxv0SxrbfV9IMW4y/Blm6BbZ8ouk76Vlsy5ZjMyCHwDpBXigw74bPnM+OwEBptpOSG+0cthT2dHrHc1Ojqtv0PeLASwxDdJXx8LMUHcIwjsHK9LipL8zqQPwKdRfMX1lxvUXxQe+8nhLI1lLYiHY8WesrRy/bmMDBosL+cPF46n3maB5BmffLAWcnJ+IHsAFYCjOvMzF6BQyEZRqlK56EZh6KQTapoTpcYkywkGkth4z3jwDcZY7tvpmXaMaE/WzR6RDiVAnrxBU11a/Qsw7oqTnFXXEtIFwuD4dRLxF81V4IemGy2e47Fk6Xf6h5RfpFGk4q2b7xWyZllvb2Ui4g192n8S4HLJDFve45AQ6Y5Px6ytdJ0oc+QryR1CidQOXaKJcw9dB0fEFUiZ0dN8kx4MSZyyuh2g5DkGxRn3j2wyobSrc/KEfKnEj7Fab5jIAetSjQjjlC0gcUS3oSYS4X11EUxAG/eCcDbSfWCGdeOXR7sewvddVt+s9uA4IbNQVeY0dw5nMPJA8QrW1Bo6xUtiold5l95vTD1TTcWFIspS6IVVdMOkwFhy+UPXPrCEV4JuxLTCU/LiV3sf9UYsvxCTAelqJDEloW+xGzRCdABELq6H3mZLstahvyfSX02cujK8NDhxdAFxSC4e+/UTaveEqQK7eLV9o1hl05BwOxL4xThlzYo56QcUzJ+IG5Waxlru/SOLXzAXV+ho2pBcpR9P+Uw0EeomtGzuCXXYL6Gr8uglWHsIfKnrSL3YRxmrMYxzcPaEEjdqeqa92NktwnZ/uotyQg/5JaZVj0Ln50+qIsy2cLGE9F4NK9fMQLTXbhlbr1lXcIJg0txiXu/5OMguytqTnFRTjN7P4l2u+5UMcHqyyLutyjrNJeCLqsLhzY1kdQ2EaOqCnnsHzHHcj9H5rfSVnRubEFTIzXvNGkCV/RiHN/KC/ydh8oU63EdDU6TeajXNnZJY/JC+UPQjV+RUQgIknr6jLfMG2ss+0sVRbeAhN0xDsNntFbgIYu7wqRtSUKWcRdkODD6RUAnID8xBQMouYxYnD06xBuWcIhl5aSsnMsDg4c9YSQEEFZRwVQvcEQuwqejLfpCWdHFtbQhQHP9EfHiF9YjoF3NW7hWp5a1izXMqMEUacOeI4fM3MUJuB0C13drlgh7AM06cD57Y0CFVnv0lmUr262DwW+j1lLNB/JbTyxkp4cr8DXrK8mVBQeDUNmkjwVqvlAfsZHfmXo+tcPz6S4POomFQmc8H5N+kWTEBuyCnXdzIooqldG+ImGMoiCUqqKEBpz53Mfk2ug+sIus7mUXeCWeEokbpuGtAuuYQVhbK7F76gCHYTU5zfdjpRK2EZQAvFm4nAyIGo1xELZKsR+cDpfdJcSVX2hxh5TEaXm2U8DzaNmuWrFPEoMjDwArMZcHLfwX0Tu89+9MOZp4yvr9E6iQHtfV+ZkLb0fzKeQc0j7zgT8j5RN2yn1I66xiXvIjZnMBFA28neQH1gnXEaPD37sW2ClkAdeY5qYg/wAksdXG0jnJGZAeHjgCCyzUDUBgC6rfvAVCqgi06vnJDk1eZyAZIAxBFCpaL6O94i0mrqGyvWDEYCAvNw9l4yUcOXA+IacGGjGADRXBA9iiVdz/ACU7Q8OYhmXxHfoQLRG+HbHxbswAJHasSwoDBLjYhjTgTGoKzz2JUCxli7tPF4g+AHLI9IMdupVAHi3QZboXMJRDN1lCV6U/WL2i5Km+Cotq5ryuRzbeoN5ygFUWoAExaHrjrFuVZdC9YjJkVXUkrxzAo8tqEEefeD2MsEzYyqyart3Q1C9oFd+UsdKqzXWbjzIToO6/iHD/AALENsoP0Elf20Wy3oQLm8wJtnVuNDVkD78uwBeAg6K8gMYkQ7YXIu03xbzqW9blObYM7faZAsSN12V4l8V9IBKSJZCzV1C+DLxHpIKhY6rMEgGyruvow8eRWb+2T0i3f0UXdtdd45RchtS9fMQ7SNJL2aZlTVvKRUvAMVlbqCEovPSKCdU7FIh6L7RhXXBp78RooalhAC+8QpCkq+8rkAUxmsu6t+xOxiCp+c1GVh9xGKhrlmApPc+RS/MOsBatpVyuZ+4feBEAq7mq6TE68Gj2h9EYCfveYGQWLQi6IB2BvtmLFkaEHyO2LlZBCKKWyvvFuGlKHhK/SF2KvnHtBoyIo6ktMU5+UHC5i95fHXNcqjdflNA3eP5uviOj0U13YWoJiRuACVmzIlGkgCB7rNfsp1h7ysKI8MWYHwM43tMc7X4gzI30IN59iPL7qV2PsYF9+6ArJgVKc3iCI3WFa819WJ7lUWnslePkTJCzTCL2Yg5lLqAghWSLVAM2ESdxeoglQtDm0K7XoFfVlm+8YkS40aE5E6QSLwnBBx8o5/sY+kEfbP7xzL8qUHard6luIOre1+5ElRlrbAQafr7zTLIuF4uOBUycCu/x6Q3b4DEMPYgzrlUlW8jofePzt3fwwDVLi9kQMfJiLAeIgVbK2lg67TPPHSAtbVzMKNkzHhb6zLDhrRpcNhB4pUDjxFqKJm9xqtDBDxfFFCMpTE9Blc6CTskw1SvMKbuh6BOS5y/vaIRmQcoiSjA/vvGc5sbrNuyzAmt51BXxv0LBbPFK31KqKwwJvhewHUOcalhYo1TT3nENeJfVC+hKoPoXSP8AaEf76DD9WEg4ZVTol+dF0j0ihl9871fMRlffHbfefiNvPuPxDL0UDR3qNnNRaesNjUHZjRp79NRajdNlt6A4GZvd4mMb7mfpCsh4aXAamy6cbePSGCdoqBR9mFlH2H6RChRiMYe9tN/eNnGOi5K8X7RIC6s1TXmJsC8PiHaVqqy7MLK20Fc5gbstVsZW2PWokRcJSVsh0AAwGJVpHhmmt5hVLvGMcS9bZbXmVDkyhaIRcCpUgHocxRnNmLeInIhtDUALMPRv6S7PoxlR79mHJGuBfyjlnXUNGzmLcVXqDwRXMO8UNMzCFCmrlzSVJBqyx9o+SKBJzALQhGOq+Xsha3YAtYY28yTkL4mLyqIx05Q+hOd3Mg3FGCHSNu0V2gVlHpGoQq/pqCqhdMvxL/tr8RplgG0npM13uwNVoO0GfuvxLyi3svxH98+kXoOl04+zLIvnKzMeT3i9Ph1IKDlqPJoUsAFv1IFXlygMUd+twXaWeqsIb8yzDDoA1u/AivfKCrO+4A3/ABSe2JYShdVaK/RZiFlp1Vbet2kb0TW7H9esK6W7nqqWMwEd2n7RFK7AK5CNdLITai+Gn1gIqOzcXdzBVluP1gq0gGTruEIzb5g2ZOywFB92pRYMZqc8IZwPmX3lxexpYeAYIg6RAYZoFWV8VMkFOayX1nrFs2g+bRLWNCke1JCCRY6pXTsy0adyH5EXP4DWbybwsNAJcjTmFGAFrxM2HrLNURpJ2Sieo/SCOC+jBzqKCyxI12QYqUapzu5zGk2tDo95coq3wAOt8SjxLHEvGI2rLQ6zrAtAFoyr5E5gc6J15WPaGunIxCfmkbcDF+ZRlVHRhIXQxHwveosUeJQoyocXbH7uDu59I7E3CGuU1D2ExZWPDMIzhRyGX1i7pL6FRbYDpmK4Nw82iNug5JhfrsDmUyDdp7fdURqBGMlgnpbbFL0RdzZ9Ji1KFEdBc2setj5Tnh+u4cNXoxxfFU/aOv3Ld9LgfqDQxE5rF3airKYhRcTElTo5l1kkWQfM5mOus2y0cz2eJtsa7y9/YPLDwdVz6v3mGqIPg9oZsHtLksqlc3wkNkmBvV1/qFO9GDhyV1uKkJSd0mc1RiG4FG8StPPwB3OcRCsUWHiXH1Z80vaGGDE4bQlQsk6CLdONXEZV9LoAz0KJVqEULtRp3xLUtOgO26WeMEPWaAIAD1F8sCqMtKq/Sz5TeJas/esawbZzACa2oqKQzMzFAxK3OYQx4BBCjY47hBx22SplSlvOIO80DBT1941It3Obr7S0oLgTful3dxMWln6oiIxZjbSvvEbMAOEg+tfaOFFj3B+sB4qR/UTJAdasljmX6y0fMcSE3tFdYzsaivYLmCi4qC/Dw6vvLewjb1K7jUUxaLu5U4CHLE9iVtHOMvrCObb4XiCMnOP31vsFRky3EUhdQaabEDGWDXHL/s2InBTe9MFwhLGar3jFwHcK2evmHwfgLA3OPlzB8C2OOonHr6BV7BKa7TQEEj0aElHRk5kVMln1lE74x0qt9IeulVyzs0Y8KaoVlpgGXFA0qhuiwN8TP61RlN36oqv0AKLlawaIw8I0LKK07GCGUJSlF8E2KPLOw+CKBQ2XhLFn9P7jHAjC+sM23ezCyWZt1A6ww4WFnD1hBtQ3nbPvK+K4daqz0ggIZL5GZaaaD7wYQcrB6M96p+qYiHTPOPdgk37AfKMCsZ1Cz3iWHKDgzVyxwPhmGiHchOmztmCiOLogY0tUmVjFwLqYrQH9kQi0GJey16xep1Ii5cEokL3cQkQNARynMYeYyGKUFenArXzWWAj9UnG5+FmYE8f2i6apW15l4xz8GXEsGklJQHUMrq1xZuBQtwaNRLde3EnHy4i79udT6BOtYt4fIhCu1xCTKkpV3DSIFaAjfwNIoAOe0bFW1pM9q6mveMNAHpMnIGhbROfD9Zm5BOxhXRUKV4SndGESCL1gsp8NQeaurlBo2vT0lKD1P2jVo9jEbpQchKeu+tW+VRQU/YPtiV4jr+BDbiPBtuJ7+aJ5/WZABXFwCrTPW4ft4vHEwIAFuWhPvOMF9LgUu/UYmrS4WmvNEFVQeIR0gg5dyuXJ9CWyltfP+ECVB3ES1UHGmXzDRpnQKKtTofbg+PZj/SY/1SJb9hHTT3J+xJZr5X5gt0fGDuTFmRUcnATN+6EM+7BsGH+Qlv4Ey59QTBr2516+iIkB3m1ZPaLzE5xGtkXpKShEVgWI8/MzHjFs9jfyhv8AqgrSzJuXLNwGq+cooTyzElWp0ltQU6YlVQV5msHrFdPeDVUN7jQVKgJWG7YAT4sViwnbMu7ZV6wrrmCBd7s7eSYIezSOYMAq5q5PtD8YbgQjFxbC5p6wWCZ3iMtYB5ipZmqtX4uBAAdAv1l4WVxf8wGr8CfeBWCeJtB9IG5vEt75nr3mH+8AcSnkXvHnXvLeXvBMKLzepcS0GuT7xXdbZ5/ePUfeJZtqGDVsQJZ8xxQpuUx98wq26KsEKBekOa31SBFAPDEjdfZjsP1l+SqzovL7R1qw76lLzAcE6MT58W5Izi47altQR4rmZhQmdQ8Q9kpQByPwS4CknPmArD5H3mb94H8Q679E/MAJdnIf1KW8xDn1naY7wkKg43MuojjUassMYIXxAEPqOAl3mOXqybPZjuV8kE4P12lvg9P4h0/JndL4PzOgPT+Z/m/zMX235gvF+u8E1V4/uPavH9x/q/7j/Uf3HkL0/uDs+x/cf0H3mTF/66z9l+Zj/d848X6vMz5p8f3OW367y08HZ+Y0H0n5hAZ9hF4k3008x4fen+hHiMZDAYeXWCQroG4Wy3bzKGrtj1kpfJF1GunMcMtw2lQg5dzKJfiAlgqXdKdCZkse69wbPemvSGs5yqHKIMANn2IECDoQdVVveLjdPfUokqhsYIGNQUfaV0qpq7oOswVvDEvAiNicU3FLg41B7Qr1isNS+0l5bxcz0M9UnS9n4uFx/OQc+6guxi8KHE/qg7j3X4glXT5EWkR4S8VId/zSzjf05inH6O8qDJ9EVyy4/vvxHkL1/CdW79dJlL9n8Jvn3X4hVQCgogf3e8RbQ7H5gRxl2II3wuvdIuo9tN9+wlAXfMaWcDVBgHjBLnao6h0uZm4TNoK9IwRl9SN1HHSvQVAGiCjcqZBgveD0aBMkwxPLKgGvDEgE25fOJTqgVMzJN3a/eKradzOTe6AGj+nWUV9V/MpH6EAafRK/vmU69n+IUMHwCdDXrHhDzGoPmEN/s8wWWFG791BN/WhuD7wP9WA02OrXogtC9CcH3iK0vZOT9fpH6g4vvsRqvvE9HxFMVQvp9Eb8s9D4IK79ybBvVihlPVlHfzpYQtNp35ncxusqYkcL0jI8C3At5vpUrqNxDuQalSiPI8wdwDMKKZkCA6zAFC5zNKvgjkowZcTP2i5it+5NkUFHe2EBW2xcwrqFZjjCvMDrEUZgG3EGlqeLmAIe+INp98hL3dxNp7eOcRinB3lqQd2xTmMtlSwlqLTOWUTfvozNZ9zEVkPTEIPL9NYm6PowXJUI6X6RMxj7k4DfrtP9kNWPUWIrHz4sjTgMfsE757Iv/VHq/Yj374K/3swcvmNfH5nU96P918OL7Q7sAukX0Y48+89Ut37kD178/wBP4AIS1b8khzn2hDhC7JeolT9LX4gaBGgVxKAcDNrFEQHAuc7AVQoIph+Z0z3WX9WVTCu9y/iJlsd2JlsFDDy4IDNIBcSOSiFo68QYQVeWpg1KcGZoZoW4lVW2q1iXLyeqxTy9WP0T1YsQFWeQn7XrxGi76yFgVMX9YzlQ/TmG5HyINs/MlNv7ekb8fp6QGk/XaZg8aXJPj8k2ntLNEPRn1eD+J1w94coe8G/OnX/Z5nX/AGeYc4/XmDQ35x3EN+8HPJ/lkHz7ZDr9siP6CUD7BK/0Ee4ek/aI1/j/ABM/F6fiZfx/ifvET/pn65CgFJVoirTPV9IUkR0AKsuPsC7u/pK06cCy/biNnpA1FVmnSY9QYAXEVzvVNQsds0peaJc+Ryb1DyomV/U/aIqw9GI0nicBI7ADvX1QaNf1vyJnOzYSp9QT6SquOqfrYXTx0/BD6H7BKJRMVLO0R1Ip1PeU5fnEdT3lOp7yzqRTqRR+CQnK8k2Z9E4AeGo7XvXOIdrJopblPjMUbR5JTknDEpwfKJSnSIJXpcTySuMRJWMxHSUvUReoPSC8ETqpXo+0eyl/U+03z5qIss5rECZt3mC2wvdWvnGCsXY3DQUOhBSEqZa/udTmOwNj09Oov6juEG4RTR7CaX3Yl+w8EFJRepS4I1YdpwH0jGLYTQerANUguBLeZY380HNwJsw3YEOTGOgQ1aw6qR2UW8I7WA4++D4fvB6b6wM2vzApBzQblXpFdrG1T6MEwJrKeSbteseQdyCbLtAW+BNf0pnyal2vQfyiO/lxrZPcvEscs9Jdp+0t0vaWcWek7/2/qX2/T+o30D98Syyr1PxG77p+Jk+mvuQAwECa5YgXrFDAll3h1FzFekTpB6EzdLyAVPcdMdrjGfTJRbPeC4B4myEH3NaAd4G0q7zciujL+7wg5tfLGsEu6pLfF4my9yPc+5FvyRBn3p3fvDrZ3vww6qNG0rKtK+UAlTr3oDp+8p5+8D/NA0y95ySC24gHSLwfeNZZLR9WPi49mVN198y19wMNyX3zBPmUEbJTtv0h/Ui9iQ40g10JcW2eMxZcuZQ19SdzcytrHX+5iUt0PzEezT2DHpc1oePyficie5XtqVIzsVMM8Tfw4UPMvPSDGUCyoGj3l1ZX0ajud5he1l+ZZ0ILxFesV7y10TwSmZ5lMqU3MymMaCusRzzMtniZUtiD0DMCqcMzLlzHKs1fxFviXBmlmkU5vXwIOLah0+pOOHRbioATqblHV3eBiT4ZhAReIBraC5l2ymWc1KJknaj60Bl65w19Mx8UjlLfdgNKCYOYvXUzzTgixoHKxFE9cuBClww6+CGiJW76xe8PgMzhaXv8KhlE0ALs33YG7C3Mv4LLlvwuc/DKMTpEQQbZcbbGy8XLqawR3npHj40qg4FUBlGc/A5ZNNblI23/AAuA1GoUWJRV0ZUqnrBgVEIyl3mtEekCm4WzDvh3y3adii/Od5A/L4DGm+hBHAdVgQ7wWxCj9TMWVTxeJtFl/wACGEuWDizk4tr8ShoPE4A9zHgHhFtqXf8AAX1ly/hfSXHUUwbRKNIkwkAwBLlx/hdQZpmWgxv1JlnKrRmORB6EvpAb3vRdqVP8biWSKGxFYWmU01esKAiCyyXNWPrKOYd0xD3jCLefwRYMd4+FfVaIsjL2CKKlf5GyjYjB6znEHzKdgIlvC4kCoaE5/wCT/N/629I14jbYDvvCVtjQu5UdAHb+dzaESDPvKgVMBB9tlNdiBSzMNyhoaeeIyevVi3/wtwUFocECybEsuUeYLSMIrkm2ny/wz8H/ANeYLoXcQlsVT/mCtBmYIW9CLgXujKGyPT+BF/xPiorgt4jpReq/8j/1Wwtrp/yLS3UsRhAxRbAihLqpfGyWWimHDHT5D/ifDn/5vUltYhNmUfe+0EFgKI7zlgFcy6BRkQgTFfYMP2iV/wAX/k/xf4X/AOkIe6ZTEsdMpFkeox4DmZWcyjpFM3gYDpk8ibJWuKij4P8AKvjX8X+FSv4V8axKlTn4V8KlSpUr4V/xphGQmbEayEssFr5eCEUbehPHCRtDW4UFQl/sVYeswh0wQa3MS+kWcRcGy+pfpLy/w3uDNS/w2mnxAa18FZuI4iSpUqEFvg0iiVKYLM6IRaZfEVfw9X8F3/CKCqEPcu3M8Bgy9YDIi8uqA+t9pZFlVKO0qNpNNDUzaawowy4zHNyeOspDlzF6RRsnjFnE0njHtnjPGeEywkKnaOWCdFZm+o9k8IdrHpMQfRlur0IPp+0Fxf2n+dD+unbPSc/yJ/mQ/pp/kR5vYj1HtO49p3ktyMGmkj2w7J4zxnhPXPCHZ8J2Qg6CFHVxXiI1WUbdR337SlA04XlhIPdIlro1NMThqX4gXG6Sv9oNy/UdKB1UcWfWA6fgT7xVb9Bjc3+jxOd/R4gOH9HiZa92KNN8qUHAvv8Aknb+7zL4+3+U6N3l+Z2x0n0aPB7eHAHpiug9Mz2AfGd9Fmn7Ts9iV0/DaNGccE/pY6PrjLulj65NscOYc+GVHJ4nqHaU830gm37Q69geXRH0QfZ9sEZMvP7eVvw7EkJAH7DBcH3QvwUapTrw8Yioj1TOUXLOV18Z3DW5RxBsU1UtEm90xQynpFN2+I57HHSP9PH+unQ9mB13sTP9iIn2IH8Ea8e1H+ijgse0TQIgZCNF0ixgKiXhOxKJdShEGiUuUgDKiBqJfEohuBTAhS4wSjkhZaqU6EoOJRyEDtB6QUuk2uDzRMXoPSYHRMdFzXBLLwEFzLbCK1O8u7i7+BlT/9k=\"\n\nvar PlacaSujaInicio = PlacaSuja.indexOf(\"/9j/\");\nif(PlacaSujaInicio>=0)\n{\nPlacaLimpa = PlacaSuja.substring(PlacaSujaInicio);\nmsg.payload='curl -X POST -H \"Content-Type: text/plain\" --data \"' + PlacaLimpa + '\" \"https://api.openalpr.com/v2/recognize_bytes?recognize_vehicle=1&country=' + country + '&secret_key='+ secret_key + '\"';\nmsg.PlacaSujaInicio=PlacaSujaInicio;\nreturn msg;   \n}\n\n","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["fc7793fb.b24d4"]]},{"id":"fc7793fb.b24d4","type":"exec","z":"9cf9f63c.cd0358","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":180,"wires":[["fdc35eb2.a4293"],[],[]]},{"id":"fdc35eb2.a4293","type":"function","z":"9cf9f63c.cd0358","name":"trataBase64","func":"\nvar respostaopenlpr =  JSON.parse(msg.payload);\nconst placa = respostaopenlpr.results[0].plate;\nmsg.topic = `SELECT veiculoplaca FROM veiculos_lpr where veiculoplaca = '${placa}' AND veiculohabilitado = 1`;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":130,"y":280,"wires":[["8ac5e57b.fb44b8","9bee6aa5.538338"]]},{"id":"9e8eea28.7ed7e8","type":"jimp-image","z":"9cf9f63c.cd0358","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"30","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":230,"y":180,"wires":[["85e3691.00d2c98"]]},{"id":"ff301091.4af1c","type":"function","z":"9cf9f63c.cd0358","name":"Logica Camera","func":"if (!(msg.payload.length  == 0))\n{\n msg.topic = msg.device_atuador_codigo;\n msg.payload = '1';\n \n var msg1 = Object.assign({}, msg);\n msg1.topic = msg.device_atuador_codigo;\n msg1.payload = '0';\n return [msg, msg1];\n}\n","outputs":2,"noerr":0,"x":540,"y":280,"wires":[["ce82a98d.4e6858"],["fa8294.a7335d7","bbd5567d.1c3b98"]]},{"id":"9d8e6e8b.8bb88","type":"mqtt out","z":"537ac06c.7221e","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":324,"y":178,"wires":[]},{"id":"1578eeb8.c80631","type":"mysql","z":"9cf9f63c.cd0358","mydb":"e2f44265.69a06","name":"DB_LOCAL_LPR1","x":510,"y":60,"wires":[["7c07ac0e.5edef4","9bee6aa5.538338"]]},{"id":"e38b18f.9512ae8","type":"mqtt in","z":"9cf9f63c.cd0358","name":"Todos_Topicos_LPR","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":110,"y":60,"wires":[["39e6b8a3.3488a8","9c26604c.7d9e9"]]},{"id":"39e6b8a3.3488a8","type":"function","z":"9cf9f63c.cd0358","name":"Select  Camera","func":"if (msg.payload != \"1\")\n{\n    return;\n}\n\n\nvar topico = msg.topic;\nvar chavedispositivo = global.get(\"chavedispositivo\");\nvar numeroserial =  global.get(\"pin\");\nvar codigo_dispositivo = \"\";\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar subtopico = \"\";\n\nif (fim_sub_topico == -1)\n{\n    codigo_dispositivo = \"\";\n}\nelse\n{\n  const  codigo_dispositivo = topico.substring(fim_sub_topico + 1);\n  msg.codigo_dispositivo = codigo_dispositivo;\n  msg.subtopico = topico.substring(7, fim_sub_topico);\n  msg.topic = \"SELECT * FROM `cameralpr` WHERE device_sensor_codigo = '\" + codigo_dispositivo + \"' AND valor_device_trava_codigo = '1';\";\n\nreturn msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["1578eeb8.c80631"]]},{"id":"7c07ac0e.5edef4","type":"function","z":"9cf9f63c.cd0358","name":"trataBase64","func":"var outputMsgs = [];\nvar keys = Object.keys(msg.payload);\n\nif (!(msg.payload.length  == 0))\n{\n       for(var i =0; i<keys.length;i++)\n    {\n        \n               outputMsgs.push({\n               ip:                      msg.payload[keys[i]].ip_camera,\n               username:                msg.payload[keys[i]].usercamera,\n               password:                msg.payload[keys[i]].senha_camera,\n               country:                 msg.payload[keys[i]].country,\n               secret_key:              msg.payload[keys[i]].secret_key,\n               device_atuador_codigo:   msg.payload[keys[i]].device_atuador_codigo,\n               device_trava_codigo:     msg.payload[keys[i]].device_trava_codigo,\n               delay:                   (msg.payload[keys[i]].delay) * 1000,\n               });\n\n    }\n   return [outputMsgs];\n}\n","outputs":1,"noerr":0,"x":750,"y":60,"wires":[["64a7ae27.d63a6"]]},{"id":"8ac5e57b.fb44b8","type":"mysql","z":"9cf9f63c.cd0358","mydb":"e2f44265.69a06","name":"DB_LOCAL_LPR2","x":330,"y":280,"wires":[["ff301091.4af1c"]]},{"id":"ce82a98d.4e6858","type":"mqtt out","z":"9cf9f63c.cd0358","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":770,"y":240,"wires":[]},{"id":"fa8294.a7335d7","type":"delay","z":"9cf9f63c.cd0358","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":340,"wires":[["ce82a98d.4e6858","9bee6aa5.538338"]]},{"id":"9c26604c.7d9e9","type":"function","z":"9cf9f63c.cd0358","name":"Update Camera","func":"const topico = msg.topic;\nconst carga = msg.payload;\n\nmsg.topic = `UPDATE cameralpr SET valor_device_trava_codigo = '${carga}' WHERE cameralpr.device_trava_codigo = '${topico}';`\n\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["b7cf8f6f.53f0c"]]},{"id":"b7cf8f6f.53f0c","type":"mysql","z":"9cf9f63c.cd0358","mydb":"e2f44265.69a06","name":"DB_LOCAL_LPR1","x":530,"y":380,"wires":[[]]},{"id":"9bee6aa5.538338","type":"debug","z":"9cf9f63c.cd0358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":220,"wires":[]},{"id":"bbd5567d.1c3b98","type":"debug","z":"9cf9f63c.cd0358","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","targetType":"msg","x":870,"y":280,"wires":[]},{"id":"489ed276.3ab73c","type":"udp in","z":"5878e260.04cb9c","name":"Entrada","iface":"","port":"1979","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":350,"y":360,"wires":[["e457ca22.b11fd8"]]},{"id":"e457ca22.b11fd8","type":"debug","z":"5878e260.04cb9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"7dae2834.475258","type":"mqtt in","z":"fa125156.f17d2","name":"Topico Zigbee","topic":"/housezigbee/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":75,"y":37,"wires":[["3d132aa0.8990e6"]]},{"id":"f5e69da.4e97e6","type":"function","z":"fa125156.f17d2","name":"Analise Topico 2","func":"var topico = msg.topic;\nvar carga = msg.payload;\nvar valorzigbee = msg.valorzigbee;\nvar outputMsgs = [];\nvar keys = Object.keys(msg.payload);\n\n\ntry {\nvar valorzigbee_json =  JSON.parse(valorzigbee);\n}\ncatch (e) {\nvalorzigbee_json =  {}; \n}\n\n\nvar valorzigbee_publicado = \"\";\nif (!msg.payload) \n\t{\n  //no results\n\t} \nelse \n\t{\n\t\t   for(var i =0; i<keys.length;i++)\n\t\t\t{\n\t\t\t  \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'contact') && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.contact.toString() == \"true\") || (valorzigbee_json.contact.toString() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"0\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.contact.toString() == \"false\") || (valorzigbee_json.contact.toString() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"1\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  // Para Sensor de Movimento\n\t\t\t  else if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'occupancy') && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.occupancy.toString() == \"true\") || (valorzigbee_json.occupancy.toString() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"1\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.occupancy.toString() == \"false\") || (valorzigbee_json.occupancy.toString() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"0\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \t\t\t    // Para Sensor de Porta\n\t\t\t  else if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].carga == 'state')  && (msg.payload[keys[i]].modelo === \"\"))  // Para Lampadas Aqara\n\t\t\t  {\n        \t\t\t  if ((valorzigbee_json.state.toString() == \"true\") || (valorzigbee_json.state.toString().toLowerCase() == \"on\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"On\"; \n        \t\t\t  }\n        \t\t\t  \t\t\t  if ((valorzigbee_json.state.toString() == \"false\") || (valorzigbee_json.state.toString().toLowerCase() == \"off\") )\n        \t\t\t  {\n        \t\t\t     valorzigbee_publicado = \"Off\"; \n        \t\t\t  }\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \n\t\t\t  else if (valorzigbee_json.hasOwnProperty('click') && (msg.payload[keys[i]].carga == valorzigbee_json.click)   && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t  valorzigbee_publicado = msg.payload[keys[i]].acao; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if (valorzigbee_json.hasOwnProperty('action') && (msg.payload[keys[i]].carga == valorzigbee_json.action)  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n        \t\t\t // valorzigbee_publicado = valorzigbee_json.action; \n        \t\t\t // outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n        \t\t\t valorzigbee_publicado = msg.payload[keys[i]].acao; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if (valorzigbee_json.hasOwnProperty('state_top') && (msg.payload[keys[i]].carga == 'state_top')  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t        const cargaTemp = valorzigbee_json.state_top;\n\t\t\t        \n                    if (cargaTemp == \"ON\"){\n                        valorzigbee_publicado = \"1\"; \n                    }else if (cargaTemp == \"OFF\"){\n                        valorzigbee_publicado = \"0\"; \n                    }\n        \t\t\t \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \t else if (valorzigbee_json.hasOwnProperty('state_bottom') && (msg.payload[keys[i]].carga == 'state_bottom')  && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t        const cargaTemp = valorzigbee_json.state_bottom;\n\t\t\t        \n                    if (cargaTemp == \"ON\"){\n                        valorzigbee_publicado = \"1\"; \n                    }else if (cargaTemp == \"OFF\"){\n                        valorzigbee_publicado = \"0\"; \n                    }\n        \t\t\t \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  \telse if (valorzigbee_json.hasOwnProperty(msg.payload[keys[i]].carga) && (msg.payload[keys[i]].modelo === \"\")) \n\t\t\t  {\n\t\t\t          const tipoSensor = msg.payload[keys[i]].carga;\n        \t\t\t  valorzigbee_publicado = valorzigbee_json[tipoSensor]; \n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:msg.payload[keys[i]].topico});\n\t\t\t  }\n\t\t\t  else if(msg.payload[keys[i]].modelo !== \"\")\n\t\t\t  {\n\t\t\t      confirmaZigbee();\n\t\t\t  }\n\t\t\t  \n\t\t    }\n\t\t  return [outputMsgs];\n//\treturn msg\n\t}\n\n\t\t\tfunction confirmaZigbee(){\n\t    \n                     const tipoAcao = msg.payload[keys[i]].acao;\n                     \n        \t\t\t  if (valorzigbee_json.hasOwnProperty(tipoAcao))\n        \t\t\t  {\n        \t\t\t        if ((valorzigbee_json[tipoAcao].toString() == \"true\") || (valorzigbee_json[tipoAcao].toString().toLowerCase() == \"on\") )\n                    \t\t\t  {\n                    \t\t\t     valorzigbee_publicado = \"On\"; \n                    \t\t\t  }\n        \t\t\t  \t    else if ((valorzigbee_json[tipoAcao].toString() == \"false\") || (valorzigbee_json[tipoAcao].toString().toLowerCase() == \"off\") )\n                    \t\t\t  {\n                    \t\t\t     valorzigbee_publicado = \"Off\"; \n                    \t\t\t  }\n                    \t\t\t  \n                        const fim_sub_topico =  msg.payload[keys[i]].topico.indexOf(\"/\" , 9); \n                        codigo_dispositivo = msg.payload[keys[i]].topico.substring(fim_sub_topico + 1);\n                        const topic = \"/house/confirma/\" + codigo_dispositivo; //  \n        \t\t\t    outputMsgs.push({payload:valorzigbee_publicado,topic:topic}); \n        \t\t\t    \n        \t\t\t  }\n\t}\n\n\n ","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["639c751b.24adbc","9f42cf75.16072"]]},{"id":"3d132aa0.8990e6","type":"function","z":"fa125156.f17d2","name":"Analise Topico","func":"var topico = msg.topic;\nvar carga = msg.payload;\n\nif ((topico == '/housezigbee/bridge/log') || (topico == '/housezigbee/bridge/config'))\n{\n   return; \n}\n\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nmsg.valorzigbee = carga;\nmsg.codigo = codigo;\nmsg.topic = \"SELECT * FROM `zigbeedevice` WHERE serialzigbee = '\" +  codigo +  \"'\";\n\n   return msg; \n\n","outputs":1,"noerr":0,"x":251,"y":36,"wires":[["d3cb0dc3.38e44"]]},{"id":"d3cb0dc3.38e44","type":"mysql","z":"fa125156.f17d2","mydb":"e2f44265.69a06","name":"autohome","x":425,"y":36,"wires":[["f5e69da.4e97e6"]]},{"id":"639c751b.24adbc","type":"mqtt out","z":"fa125156.f17d2","name":"Mqtt_zigbee","topic":"","qos":"0","retain":"true","broker":"8b47545.6bac3a8","x":890,"y":100,"wires":[]},{"id":"9384a648.1388a8","type":"mqtt in","z":"fa125156.f17d2","name":"MQTT GERAL","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":85,"y":157,"wires":[["44338169.1220b"]]},{"id":"44338169.1220b","type":"function","z":"fa125156.f17d2","name":"Analise Topico Atuador","func":"var topico = msg.topic;\nvar cargarecebida = msg.payload;\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar codigo = topico.substring(fim_sub_topico + 1); \nmsg.cargarecebida = cargarecebida;\nmsg.codigo = codigo;\nmsg.topic = \"SELECT * FROM `zigbeedevice` WHERE topico = '\" +  topico +  \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":157,"wires":[["40aa292e.fa2168"]]},{"id":"40aa292e.fa2168","type":"mysql","z":"fa125156.f17d2","mydb":"e2f44265.69a06","name":"autohome","x":470,"y":157,"wires":[["2206e64e.1c91ba","6f22c782.095be8"]]},{"id":"2206e64e.1c91ba","type":"function","z":"fa125156.f17d2","name":"Analise Topico 2","func":"var topico = msg.topic;\nvar carga = msg.payload;\nconst cargarecebida = msg.cargarecebida.trim();\nvar outputMsgs = [];\nvar keys = Object.keys(msg.payload);\nvar valorzigbee_publicado = \"\";\n\n\ntry {\nvar valorzigbee_json =  JSON.parse(cargarecebida);\n}\ncatch (e) {\nvalorzigbee_json =  {}; \n}\n\n\nif (!msg.payload) \n\t{\n  //no results\n\t} \nelse \n\t{\n\t\t   for(var i =0; i<keys.length;i++)\n\t\t\t{\n\t                if (msg.payload[keys[i]].modelo == 'ZNLDP12LM')\n\t\t            {\n\t\t\t  \n                        funcZNLDP12LM();\n\t\t\t  \t\t\t   \n\t\t\t        }\n\t\t\t         else if (msg.payload[keys[i]].modelo == 'ZW-EU-0')\n\t\t            {\n\t\t\t  \n                        funcZWEU02();\n\t\t\t  \t\t\t   \n\t\t\t        }\n\t\t\t        else if (msg.payload[keys[i]].modelo == 'ADomoZig')\n\t\t            {\n\t\t\t  \n                        funcADomoZig();\n\t\t\t  \t\t\t   \n\t\t\t        }else{\n\t\t\t            if (msg.payload[keys[i]].modelo !== \"\")\n\t\t\t            {\n\t\t\t                \t\t\t            funcADomoZig();\n\t\t\t            }\n\t\t\t        }\n\t\t\t        \n\t\t\t        \n\t\t\t\n\t\t    }\n\t\t  return [outputMsgs];\n\t}\n\t\n\t\n\tfunction funcZNLDP12LM(){\n\t    \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if ((msg.payload[keys[i]].acao == 'state') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"On\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"Off\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida === \"X\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state\":\"TOGGLE\",\"brightness\":255,\"color_temp\":200, \"rgb\": \"r078,128,000\"}'; \n        \t\t\t  }\n        \t\t\t  else \n        \t\t\t  {\n        \t\t\t      \n        \t\t\t      if (valorzigbee_json.hasOwnProperty(\"state\") && valorzigbee_json.hasOwnProperty(\"brightness\") && valorzigbee_json.hasOwnProperty(\"color_temp\"))\n                            {\n                             const state = valorzigbee_json.state.toString();\n                             const brightness = valorzigbee_json.brightness.toString();\n                             const color_temp = valorzigbee_json.color_temp.toString();\n                             \n                             valorzigbee_publicado = '{\"state\": \"' + state + '\",  \"brightness\": ' + (brightness * 2.55) + ', \"color_temp\": ' + (color_temp * 4) + '}';\n                             \n                            }\n\n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t}\n\t\n\t\tfunction funcZWEU02(){\n\t    \n\t\t\t    // Para Sensor de Porta\n\t\t\t  if ((msg.payload[keys[i]].acao == 'state_right') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == 'X')\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_right\":\"TOGGLE\"}'; \n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t\t\t  else if \n\t\t\t  ((msg.payload[keys[i]].acao == 'state_left') ) \n\t\t\t  {\n        \t\t\t  if (cargarecebida == \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"X\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"state_left\":\"TOGGLE\"}'; \n        \t\t\t  }\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t  const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t  const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t  outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n        \t\t\t  \n        \t\t\t  \n\t\t\t  }\n\t}\n\t\n\t\t\tfunction funcADomoZig(){\n\n                    const estado = msg.payload[keys[i]].acao;\n        \t\t\t  if (cargarecebida== \"1\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"On\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"0\")\t\t  \n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"Off\"}'; \n        \t\t\t  }\n        \t\t\t  else if (cargarecebida == \"X\")\n        \t\t\t  {\n        \t\t\t     \tvalorzigbee_publicado = '{\"' + estado + '\":\"TOGGLE\"}'; \n        \t\t\t  }\n\n        \t\t\t  const topicoZigBee = \"/housezigbee/\" + msg.payload[keys[i]].serialzigbee + \"/set\"\n        \t\t\t  outputMsgs.push({payload:valorzigbee_publicado,topic:topicoZigBee});\n        \t\t\t  \n        \t\t\t // const valorzigbee_resposta =  JSON.parse(valorzigbee_publicado);\n        \t\t\t // const topicoConfirma = \"/house/confirma/\" + msg.codigo;\n        \t\t\t // outputMsgs.push({payload:valorzigbee_resposta.state,topic:topicoConfirma});\n        \t\t\t  \n\t \n\t}\n","outputs":1,"noerr":0,"x":630,"y":158,"wires":[["639c751b.24adbc"]]},{"id":"16f9a8a9.4a7b87","type":"mqtt in","z":"b0b92433.d70e68","name":"Confirma Iluminação","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":95,"y":26,"wires":[["90b16abb.55bd88"]]},{"id":"b64fac28.3e91c","type":"http request","z":"b0b92433.d70e68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":970,"y":140,"wires":[["de55a751.c7e4e8"]]},{"id":"eed18ae7.b42928","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"if (!msg.payload) {\n\n} else {\nvar keys = Object.keys(msg.payload);\n\nif(keys.length === 0)\n{\n    msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + \"A22\" + \"-\" +  msg.valor + \"-\" + msg.topico;\n    return msg;\n    \n}\nelse\n{\n    //msg.url = \"http://192.168.10.101/topico_mqtt.php?valor=\" + msg.payload + \"&topico=\" + msg.topic; \n    msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + msg.payload[0].id + \"-\" + msg.payload[0].valor + \"-\" + msg.payload[0].setPubTopic0;\n    return msg;\n    \n}\n\n}","outputs":1,"noerr":0,"x":720,"y":60,"wires":[["b64fac28.3e91c","d0f97506.59b538"]]},{"id":"2313b1cd.f785de","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":492,"y":62,"wires":[["eed18ae7.b42928"]]},{"id":"90b16abb.55bd88","type":"function","z":"b0b92433.d70e68","name":"Update RX433mhz","func":"\nif (!msg.payload) {\n  //no results\n} else {\n    \n    msg.valor = msg.payload;\n    msg.topico = msg.topic;\n    \n    if ((msg.topico == '/housezigbee/bridge/log') || (msg.topico == '/housezigbee/bridge/config'))\n{\n   return; \n}\n\n\n\n //  msg.topic = \"UPDATE `autohome`.`rx433mhz` SET `carga` = '1', data_ms = \" + time_click + \" WHERE `topico_confirma` = '\" + msg.topic +  \"' and `carga` = '0';  SELECT id, codigo, carga, topico, descricao FROM `rx433mhz` WHERE topico_confirma = '\" + msg.topic +  \"' and (\" + time_click + \" - data_ms < 1000);\";\n   msg.topic =  \"SELECT id, '\" + msg.payload + \"' valor, setPubTopic0  FROM `widget` where `widget`.`setPubTopic0` = '\" + msg.topic +  \"'\";\n   return msg;\n\n}\n","outputs":1,"noerr":0,"x":319.1484375,"y":62.16796875,"wires":[["2313b1cd.f785de"]]},{"id":"d363b4c1.af08c8","type":"mqtt in","z":"b0b92433.d70e68","name":"Zigbee","topic":"/housezigbee/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":58,"y":84,"wires":[["90b16abb.55bd88"]]},{"id":"999f21b5.021d","type":"mqtt in","z":"b0b92433.d70e68","name":"NewDevice Habilitar","topic":"/houseconf/nablenewdevice/habilitar","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":90,"y":240,"wires":[["9fc672d9.6196d"]]},{"id":"cb427703.b24bd8","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"\n   \n   msg.url =  \"http://nodediverso:8085/api/notificar?notificacao=\" + \"A22\" + \"-\" +  msg.payload + \"-\" + msg.topic;\n   msg.topic =  \"UPDATE `servidor` SET `adddevicehabilitado` = '\" + msg.payload +\"' WHERE `servidor`.`id` ='1'\";  \n   \n\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["3804d2d6.7b559e","b64fac28.3e91c","d0f97506.59b538"]]},{"id":"3804d2d6.7b559e","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":1280,"y":220,"wires":[[]]},{"id":"9fc672d9.6196d","type":"trigger","z":"b0b92433.d70e68","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"120","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":310,"y":240,"wires":[["cb427703.b24bd8"]]},{"id":"e64d4c83.39314","type":"mqtt in","z":"b0b92433.d70e68","name":"SaveVersion","topic":"/house/device/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":70,"y":360,"wires":[["d6fa535f.0ba9a"]]},{"id":"d6fa535f.0ba9a","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"let inforDevice = msg.payload;\nmsg.inforDevice = msg.payload;\n// [09AA0681679B,192.168.0.174,DC:4F:22:11:8F:0A,c400000000000000,20200920]\ninforDevice = inforDevice.replace(\"[\", \"\");\ninforDevice = inforDevice.replace(\"]\", \"\");\ninforDevice = inforDevice.split(\",\");\nconst pinDevice = inforDevice[0];\nconst ipDevice = inforDevice[1];\nconst macDevice = inforDevice[2];\nconst versionDevice = inforDevice[4];\nconst codigoTipoDevice = inforDevice[5];\nmsg.payload = versionDevice;\n\nconst pin3primeiro = pinDevice.substring(0, 3);\nconst pinresto = pinDevice.substring(4);\n\n//const pincorrigido = \"14A%2956DCCD\";\nconst pincorrigido = pin3primeiro + \"%\" + pinresto;\n\nconst topic = \"UPDATE `widget` SET `setName1` = '\" + ipDevice + \"', `setName2`= '\" + macDevice + \"', `setName3`= '\" + versionDevice + \"'   WHERE REPLACE(`widget`.`username_iphone`, ':', '') LIKE '\" + pincorrigido +\"';\"\nmsg.topic = topic;\nmsg.url = \"http://otahttp.autodomo.com.br/device/\" + codigoTipoDevice  + \".json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["3804d2d6.7b559e","dccb9296.8aaf"]]},{"id":"3c31180.a3691e8","type":"http request","z":"b0b92433.d70e68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":690,"y":360,"wires":[["400a125b.7db24c"]]},{"id":"400a125b.7db24c","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"const versaoatual = JSON.parse(msg.payload);\nlet inforDevice = msg.inforDevice\n// [09AA0681679B,192.168.0.174,DC:4F:22:11:8F:0A,c400000000000000,20200920]\ninforDevice = inforDevice.replace(\"[\", \"\");\ninforDevice = inforDevice.replace(\"]\", \"\");\ninforDevice = inforDevice.split(\",\");\nconst pinDevice = inforDevice[0];\nconst ipDevice = inforDevice[1];\nconst macDevice = inforDevice[2];\nconst versionDevice = inforDevice[4];\nconst codigoTipoDevice = inforDevice[5];\nmsg.payload = versionDevice;\n\n\nconst topic = \"UPDATE `widget` SET `setName1` = '\" + ipDevice + \"', `setName2`= '\" + macDevice + \"', `formatMode`= '\" + versaoatual.versaoatual.toString() + \"', `setName3`= '\" + versionDevice + \"'   WHERE REPLACE(`widget`.`username_iphone`, ':', '') = '\" + pinDevice +\"';\"\nmsg.topic = topic;\nmsg.url = \"http://otahttp.autodomo.com.br/device/\" + codigoTipoDevice  + \".json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":360,"wires":[["a6c08127.c2544"]]},{"id":"dccb9296.8aaf","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":500,"y":360,"wires":[["3c31180.a3691e8"]]},{"id":"a6c08127.c2544","type":"mysql","z":"b0b92433.d70e68","mydb":"e2f44265.69a06","name":"autohome","x":1120,"y":360,"wires":[[]]},{"id":"ca6eeacc.d40818","type":"debug","z":"e8b80ae9.697808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":260,"wires":[]},{"id":"cd222c28.ebe2a","type":"function","z":"b0b92433.d70e68","name":"Update Push Status","func":"let inforDevice = msg.payload;\nmsg.inforDevice = msg.payload;\n// [09AA0681679B,192.168.0.174,DC:4F:22:11:8F:0A,c400000000000000,20200920]\ninforDevice = inforDevice.replace(\"[\", \"\");\ninforDevice = inforDevice.replace(\"]\", \"\");\ninforDevice = inforDevice.split(\",\");\nconst pinDevice = inforDevice[0];\nconst ipDevice = inforDevice[1];\nconst macDevice = inforDevice[2];\nconst versionDevice = inforDevice[4];\nconst codigoTipoDevice = inforDevice[5];\nmsg.payload = versionDevice;\nconst pin3primeiro = pinDevice.substring(0, 3);\nconst pinresto = pinDevice.substring(4);\n\n//const pincorrigido = \"14A%2956DCCD\";\nconst pincorrigido = pin3primeiro + \"%\" + pinresto;\n\n//const topic = \"SELECT widget.Descricao, widget.setPubTopic0, widget.username_iphone, servidor.pin FROM `widget`, servidor WHERE REPLACE(`widget`.`username_iphone`, ':', '') = '\" + pinDevice +\"';\"\nconst topic = \"SELECT widget.Descricao, widget.setPubTopic0, REPLACE(`widget`.`username_iphone`, ':', '') username_iphone, servidor.pin FROM `widget`, servidor WHERE REPLACE(`widget`.`username_iphone`, ':', '') LIKE  '\" + pincorrigido +\"';\"\nmsg.topic = topic;\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":440,"wires":[[]]},{"id":"77c044c4.18636c","type":"mqtt out","z":"b0b92433.d70e68","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":1070,"y":500,"wires":[]},{"id":"d0f97506.59b538","type":"debug","z":"b0b92433.d70e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":1040,"y":60,"wires":[]},{"id":"18b85a1c.f858a6","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"\nvar comando = msg.payload.trim();\nvar numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\n\nmsg.md5in = numeroserial + chavedispositivo;\nmsg.comando =  comando;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["ed44f29a.46b5"]]},{"id":"b8e5047d.4134b8","type":"mqtt in","z":"8890c82a.0dfa48","name":"Todos_Topicos_firebase","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":140,"y":60,"wires":[["18b85a1c.f858a6","a93ec716.c5ecd8"]]},{"id":"ed44f29a.46b5","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":510,"y":80,"wires":[["db62311d.ac77f","5344c7b7.a7c268","c05198fd.1f4168"]]},{"id":"db62311d.ac77f","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"\nvar d = new Date();\nvar topico = msg.topic;\nvar numeroserial =  global.get(\"pin\");\nvar codigo_dispositivo = \"\";\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar subtopico = \"\";\n\nif (fim_sub_topico == -1)\n{\n    codigo_dispositivo = \"\";\n    return\n}\nelse\n{\n  codigo_dispositivo = topico.substring(fim_sub_topico + 1);\n  msg.codigo_dispositivo = codigo_dispositivo;\n  msg.subtopico = topico.substring(7, fim_sub_topico);\n  if (msg.subtopico ==  \"confirma\")\n  {\n    \n        msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + codigo_dispositivo + \"/setSubTopic3/\";\n        msg.payload= msg.comando;\n        topic1 = 'UPDATE `widget` SET `setSubTopic3` = \"' + msg.comando + '\" WHERE  REPLACE(widget.username_iphone,\":\",\"\") = \"' + codigo_dispositivo + '\";';\n        topic2 = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + codigo_dispositivo + '\" and widget.ambiente = ambiente.id;';\n        msg.topic = topic1 + \" \" + topic2;\n        return [ null,   msg,  null, null, null ];\n  }\n  else if (msg.subtopico ==  \"remover\")\n  {\n        msg.payload = {\"md5\" : msg.md5out, \"codigo_dispositivo\" : codigo_dispositivo};\n        return [ null,  null, msg, null, null ];\n  }\n    else if (msg.subtopico ==  \"enablemobile\")\n  {\n        msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/enableMobile\";\n        let jsonEnable = JSON.parse(msg.comando);\n        jsonEnable.md5 = msg.md5out;\n        jsonEnable.comandomobile = 'enablemobile';\n      //  enablemobile_imei = enablemobile._imei;\n      //  msg.childpath = \"/lais/\" +  msg.md5out + \"/enablemobile/\" + enablemobile_imei + \"/liberacao\" ;\n        msg.payload= jsonEnable;\n        return [ null,  null, null, msg, null ];\n  }\n      else if (msg.subtopico ==  \"selectdevicebymobile\")\n  {\n        msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/enableMobile\";\n        let selectjsonEnable = JSON.parse(msg.comando);\n        selectjsonEnable.md5 = msg.md5out;\n        selectjsonEnable.comandomobile = 'selectdevicebymobile';\n        msg.payload= selectjsonEnable;\n        return [ null,  null, null, msg, null ];\n  }\n  else\n  {\n    if ((msg.subtopico ==  \"iluminacao\") || (msg.subtopico ==  \"switch\") || (msg.subtopico ==  \"rgb\"))\n    {\n        return;\n    }\n    else if (msg.subtopico ==  \"ifredarc\")\n    {\n        const comandoAr = JSON.parse(msg.payload);\n        msg.payload = comandoAr.device + \"-\" + comandoAr.direction + \"-\" + comandoAr.fan + \"-\" +  comandoAr.mode + \"-\" +  comandoAr.power + \"-\" +  comandoAr.temp;\n        msg.topic = \"/house/confirma/\" + codigo_dispositivo;\n        return [  null,  null, null, null, msg ];\n        \n    }\n        msg.topic = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + codigo_dispositivo + '\" and widget.ambiente = ambiente.id;';\n        return [  msg,  null,  null, null, null ];\n  }\n\nreturn msg;\n}\n\n\n\n\n\n","outputs":5,"noerr":0,"x":740,"y":260,"wires":[["c3aae7eb.54d3a8"],["e8b332c.44c04d"],["b9792e51.2e6cd"],["adc9a3dc.643bc"],["8d176618.a86be8"]]},{"id":"c3aae7eb.54d3a8","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE1","x":990,"y":180,"wires":[["58883c81.294404"]]},{"id":"58883c81.294404","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"//msg.payload[0].setSubTopic2 = msg.comando;\n//msg.payload[0].label2 = msg.md5out;\n//msg.payload = msg.payload[0];\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\n//msg.url =\"https://us-central1-autodomo-73076.cloudfunctions.net/makeDeviceLais\";\n//return msg;\n\nmsg.payload[0].setSubTopic2 = msg.comando;\nmsg.payload = msg.payload[0];\nmsg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1200,"y":180,"wires":[["53e7dc13.225f14"]]},{"id":"e8b332c.44c04d","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE2","x":990,"y":220,"wires":[["70177aec.ff1ee4","3cc33621.cbdeda"]]},{"id":"fe99eb51.370608","type":"firebase.on","z":"8890c82a.0dfa48","name":"Busca","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","atStart":true,"eventType":"value","queries":[],"x":572.5,"y":406,"wires":[["eee2a43d.f12638"]]},{"id":"eee2a43d.f12638","type":"function","z":"8890c82a.0dfa48","name":"Atua Dispositivo","func":"const  { name, imei, emailVerified, topico, IpServidor, comando }  = msg.payload;\nmsg.carga =  msg.payload;\nmsg.topic = `SELECT usuario.habilitado FROM usuario WHERE imei = '${imei}'`;\nvar numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\nmsg.md5in = numeroserial + chavedispositivo;\nreturn msg;","outputs":1,"noerr":0,"x":726.5,"y":406,"wires":[["6e70bc12.14e5a4"]]},{"id":"7bc0c2d7.fb4aac","type":"firebase.on","z":"8890c82a.0dfa48","name":"Busca","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","atStart":true,"eventType":"child_changed","queries":[],"x":573.5,"y":633,"wires":[["c2a96caf.53d82"]]},{"id":"c2a96caf.53d82","type":"function","z":"8890c82a.0dfa48","name":"GetMobile","func":"const  { name, email,  emailVerified, imei, uid, casa, token }  = msg.payload;\nconst queryget = `SELECT id FROM usuario WHERE imei = '${imei}'`;\nconst queryinst = `INSERT INTO usuario (id, email, administrador, imei, token, fone, data_criacao, ultimo_Acesso, habilitado, notificacao, somente_local, CASA) VALUES (NULL, '${email}', '0', '${imei}', '${token}', '', now(), now(), '0', '1', '0', '${casa}')`;\nconst queryupdate = `UPDATE usuario SET email = '${email}', fone = '', casa = '${casa}', token = '${token}'   WHERE imei = '${imei}';`;\nmsg.topic = queryget;\nmsg.queryinst = queryinst;\nmsg.queryupdate = queryupdate;\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":633,"wires":[["303b2513.7574aa"]]},{"id":"303b2513.7574aa","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE3","x":904.5,"y":633,"wires":[["5921bd58.0df994"]]},{"id":"5921bd58.0df994","type":"function","z":"8890c82a.0dfa48","name":"GetMobile2","func":"\nif (!(msg.payload.length  == 0))\n{\nmsg.topic = msg.queryupdate; \nreturn msg \n}\nelse\n{\nmsg.topic = msg.queryinst; \nreturn msg   \n}","outputs":1,"noerr":0,"x":1085,"y":633,"wires":[["283ef683.2075ba","e3b36c75.51c69"]]},{"id":"283ef683.2075ba","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE4","x":1249.5,"y":562,"wires":[[]]},{"id":"5beb2e56.8cced","type":"mysql","z":"8890c82a.0dfa48","mydb":"e2f44265.69a06","name":"DB_LOCAL_FIRE5","x":1046,"y":407,"wires":[["dae6c952.8b6a28","8502482d.c72c68","7f03b6a6.2adb58"]]},{"id":"dae6c952.8b6a28","type":"function","z":"8890c82a.0dfa48","name":"Atua Dispositivo2","func":"const  {  emailVerified, topico,  comando }  = msg.carga;\n\nif (!msg.payload[0])\n{\n    return;\n}\nconst   habilitado = msg.payload[0].habilitado;\n\nif (habilitado == 1)\n{\nmsg.topic = topico; \nmsg.payload =  comando;\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1249,"y":365,"wires":[["8d176618.a86be8"]]},{"id":"8d176618.a86be8","type":"mqtt out","z":"8890c82a.0dfa48","name":"","topic":"","qos":"2","retain":"true","broker":"8b47545.6bac3a8","x":1430,"y":340,"wires":[]},{"id":"af1e25f2.302498","type":"mqtt out","z":"8890c82a.0dfa48","name":"","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":1150,"y":60,"wires":[]},{"id":"a93ec716.c5ecd8","type":"function","z":"8890c82a.0dfa48","name":"Dispositivo padrao Fake e add","func":"if (msg.topic == \"/house/iluminacao/01AA99999999\")\n{\n    msg.topic = \"/house/confirma/01AA99999999\";\n    if (msg.payload == \"1\")\n    {\n        msg.payload = \"On\";\n    }\n    else{\n        msg.payload = \"Off\" ; \n    }\n    return msg; \n}\nelse if (msg.topic == \"/house/iluminacao/01AA99999999\")\n{\n    msg.topic = \"/house/confirma/01AA99999999\";\n    if (msg.payload == \"1\")\n    {\n        msg.payload = \"On\";\n    }\n    else{\n        msg.payload = \"Off\" ; \n    }\n    return msg; \n}\n// else if (msg.topic == \"/house/incluir/device\")\n// {\n//     // topico =  msg.payload;\n//     // msg.topic = topico;\n//     // msg.payload = \"aaa\";\n//     // return msg; \n//     msg.topic = 'SELECT widget.*, ambiente.Descricao nome_ambiente FROM widget, ambiente WHERE REPLACE (username_iphone, \":\", \"\") = \"' + msg.payload + '\" and widget.ambiente = ambiente.id;';\n//     return msg;\n// }\n","outputs":1,"noerr":0,"x":890,"y":42,"wires":[["af1e25f2.302498"]]},{"id":"70177aec.ff1ee4","type":"function","z":"8890c82a.0dfa48","name":"Saida Firebase","func":"//msg.payload[1][0].label2 = msg.md5out;\n//msg.payload = msg.payload[1][0];\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\n//const url =\"https://us-central1-autodomo-73076.cloudfunctions.net/makeDeviceLais\";\n//msg.url = url;\n//return msg;\n\nmsg.payload = msg.payload[1][0];\nmsg.childpath = \"/lais/\" +  msg.md5out + \"/device/\" + msg.codigo_dispositivo;\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":1260,"y":240,"wires":[["53e7dc13.225f14","3cc33621.cbdeda"]]},{"id":"e3b36c75.51c69","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1219,"y":707,"wires":[]},{"id":"8502482d.c72c68","type":"function","z":"8890c82a.0dfa48","name":"Salva Historico","func":"const  { name, imei, emailVerified, topico, IpServidor, comando }  = msg.carga;\n\nif (!msg.payload[0])\n{\n    return;\n}\n\nconst   habilitado = msg.payload[0].habilitado;\nvar d = new Date();\nvar timestamp = d.getTime();\n\nlet historico = {\n  name,\n  imei,\n  topico,\n  comando,\n  habilitado,\n  timestamp,\n  md5 : msg.md5out,\n  \n};\n\nmsg.payload=historico;\nmsg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistorico\";\nlet msg1 = Object.assign({}, msg);\n\nmsg1.payload=historico;\nmsg1.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistoricoGeral\";\n\n return [  msg,  msg1  ];\n\n\n\n\n","outputs":2,"noerr":0,"x":1300,"y":460,"wires":[["adc9a3dc.643bc"],["adc9a3dc.643bc"]]},{"id":"6e70bc12.14e5a4","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":881,"y":406,"wires":[["5beb2e56.8cced"]]},{"id":"6bda7e3c.d6fd6","type":"inject","z":"8890c82a.0dfa48","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"70","x":150,"y":380,"wires":[["b8e399db.c5b3a8"]]},{"id":"b8e399db.c5b3a8","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"var numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\nmsg.md5in = numeroserial + chavedispositivo;\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["f6aa884b.2f61a8"]]},{"id":"f6aa884b.2f61a8","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":290,"y":500,"wires":[["7e938862.36ea48"]]},{"id":"7e938862.36ea48","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"\nconst md5 = msg.md5out;\nmsg.childpath = \"/lais/\" +  md5 + \"/publica\";\n\nvar msg1 = Object.assign({}, msg);\n\nmsg1.childpath = \"/lais/\" +  md5 + \"/mobile\";\n\nreturn [ msg,   msg1];","outputs":2,"noerr":0,"x":430,"y":500,"wires":[["fe99eb51.370608"],["7bc0c2d7.fb4aac"]]},{"id":"5344c7b7.a7c268","type":"function","z":"8890c82a.0dfa48","name":"Historico Lais","func":"let d = new Date();\nlet timestamp = d.getTime();\nlet topico = msg.topic;\nlet numeroserial =  global.get(\"pin\");\nlet codigo_dispositivo = \"\";\nlet fim_sub_topico = topico.indexOf(\"/\" , 9); \nlet subtopico = \"\";\nlet comando = msg.comando;\n\n  codigo_dispositivo = topico.substring(fim_sub_topico + 1);\n  msg.codigo_dispositivo = codigo_dispositivo;\n  msg.subtopico = topico.substring(7, fim_sub_topico);\n       carga = {\n           codigo_dispositivo,\n           numeroserial,\n           timestamp,\n           value: comando,\n           fim_sub_topico,\n           subtopico: msg.subtopico,\n           md5: msg.md5out\n       }\n       msg.payload = carga;\n       msg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/salvarHistoricoPorTipo\";\n       return msg;\n\n","outputs":1,"noerr":0,"x":1120,"y":120,"wires":[["adc9a3dc.643bc"]]},{"id":"7f03b6a6.2adb58","type":"function","z":"8890c82a.0dfa48","name":"Apaga Publica","func":"if (!msg.payload[0])\n{\n    return;\n}\n\nconst   habilitado = msg.payload[0].habilitado;\n\n\nif (habilitado == 1)\n{\nmsg.payload = {\nIpServidor:  \"192.168.10.101\",\naleatorio: \"1979\",\ncomando: \"0\",\nemail: \"invalido@autodomo.com.br\",\nemailVerified: false,\nimei: \"0000000\",\ntopico:  \"/house/invalido/050519791200\",\nmd5: msg.md5out\n};\n//msg.childpath = \"/lais/\" +  msg.md5out + \"/publica\";\n//msg.payload = JSON.stringify(publicaapagado); \nmsg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/atuaDeviceLais\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":1240,"y":300,"wires":[["adc9a3dc.643bc"]]},{"id":"3cc33621.cbdeda","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1610,"y":500,"wires":[]},{"id":"adc9a3dc.643bc","type":"www-request","z":"8890c82a.0dfa48","name":"","method":"POST","ret":"txt","url":"","follow-redirects":true,"persistent-http":true,"tls":"","x":1710,"y":280,"wires":[[]]},{"id":"b9792e51.2e6cd","type":"www-request","z":"8890c82a.0dfa48","name":"","method":"POST","ret":"txt","url":"https://us-central1-autodomo-73076.cloudfunctions.net/removerDevice","follow-redirects":true,"persistent-http":true,"tls":"","x":1730,"y":360,"wires":[[]]},{"id":"8bd92d3f.477c5","type":"debug","z":"8890c82a.0dfa48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"md5out","targetType":"msg","x":1750,"y":60,"wires":[]},{"id":"9539614f.9dbd4","type":"inject","z":"8890c82a.0dfa48","name":"Vivo","topic":"payload","payload":"[{\"id\":0},[{\"id\":19,\"id_ligado\":0,\"Descricao\":\"Lâmpada Aguiar 1\",\"username_iphone\":\"vivo\",\"pin_iphone\":\"453-83-172\",\"ordem\":105,\"tipo\":1,\"tipo_geral\":14,\"ambiente\":9,\"dispositivo_fisico\":1,\"proprietario\":1,\"setName0\":\"Lâmpada Aguiar 1\",\"setName1\":\"\",\"setName2\":\"\",\"setName3\":\"\",\"setSubTopic0\":\"/house/switch/14AA00000004\",\"setSubTopic1\":\"\",\"setSubTopic2\":\"\",\"setSubTopic3\":\"On\",\"setPubTopic0\":\"/house/switch/14AA00000004\",\"publishValue\":\"1\",\"publishValue2\":\"0\",\"label\":\"\",\"label2\":\"ae08f2ab2d99a2c2b861f3d2ed679a5f\",\"additionalValue\":\"\",\"additionalValue2\":\"\",\"additionalValue3\":\"\",\"setPrimaryColor0\":0,\"setPrimaryColor1\":0,\"setPrimaryColor2\":0,\"setPrimaryColor3\":0,\"retained\":1,\"decimalMode\":0,\"mode\":2,\"onShowExecute\":\"\",\"onReceiveExecute\":\"\",\"formatMode\":\"\",\"habilitado\":1,\"convidado\":0,\"device_id_kappelt\":18096,\"type_kappelt\":\"Outlet\",\"traits_type_kappelt\":\"OnOff\",\"requiresActionTopic_kappelt\":1,\"requiresStatusTopic_kappelt\":1,\"nome_ambiente\":\"Sala Aguiar\"}]]","payloadType":"json","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":40,"wires":[["c27a77b9.71eeb8"]]},{"id":"c27a77b9.71eeb8","type":"function","z":"8890c82a.0dfa48","name":"Hash","func":"var numeroserial =  global.get(\"pin\");\nvar chavedispositivo = global.get(\"chavedispositivo\");\n\n\nmsg.md5in = numeroserial + chavedispositivo;\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":40,"wires":[["98a6a5a0.328b48"]]},{"id":"98a6a5a0.328b48","type":"md5","z":"8890c82a.0dfa48","name":"","fieldToHash":"md5in","fieldTypeToHash":"msg","hashField":"md5out","hashFieldType":"msg","x":1570,"y":40,"wires":[["8bd92d3f.477c5"]]},{"id":"53e7dc13.225f14","type":"firebase modify","z":"8890c82a.0dfa48","name":"AutoDomoFireBase_Set","firebaseconfig":"19342f51.a68f81","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1640,"y":220,"wires":[[]]},{"id":"edd9d24d.43c31","type":"debug","z":"8890c82a.0dfa48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":640,"y":340,"wires":[]},{"id":"c05198fd.1f4168","type":"function","z":"8890c82a.0dfa48","name":"Trigger","func":"const topico = msg.topic;\nconst carga  = msg.payload;\nconst fim_sub_topico = topico.indexOf(\"/\" , 9); \n\nconst subtopico = topico.substring(7, fim_sub_topico);\n\nif(subtopico == \"confirma\"){\n    return;\n}\n\nconst url = \"https://us-central1-autodomo-73076.cloudfunctions.net/execRotinaTrigger\";\nconst body = {\n    \"DeviceTriggerRotina\": topico , \n    \"comandoDeviceTriggerRotina\" : carga,\n    \"_md5_\" : msg.md5out\n    \n};\n    \nmsg.url = url;\n//msg.payload = JSON.stringify(body);\nmsg.payload = body;\nmsg.method = \"POST\";\n//https://us-central1-autodomo-73076.cloudfunctions.net/execRotinaTriggermsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["c3b839dc.9d12f8"]]},{"id":"c3b839dc.9d12f8","type":"www-request","z":"8890c82a.0dfa48","name":"Triger FireBAse","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":false,"tls":"","x":420,"y":160,"wires":[["6ed5a3bc.d00c4c"]]},{"id":"7372b2e1.c2b14c","type":"www-request","z":"8890c82a.0dfa48","name":"Triger FireBAse","method":"use","ret":"txt","url":"","follow-redirects":true,"persistent-http":false,"tls":"","x":480,"y":280,"wires":[["edd9d24d.43c31"]]},{"id":"6ed5a3bc.d00c4c","type":"function","z":"8890c82a.0dfa48","name":"Trigger","func":"if(msg.statusCode == 500){\n   return msg; \n}\n","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["7372b2e1.c2b14c"]]},{"id":"de55a751.c7e4e8","type":"debug","z":"b0b92433.d70e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":120,"wires":[]},{"id":"e494d361.d052e","type":"mqtt in","z":"b0b92433.d70e68","name":"MQTTDelay_Entrada","topic":"/delay/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":130,"y":500,"wires":[["c08f47f4.dbcde8"]]},{"id":"c08f47f4.dbcde8","type":"function","z":"b0b92433.d70e68","name":"MQTTDelay_Function","func":"// /delay/3600/house/ilumincacao/01AA00000001\n\nconst delay = msg.topic.substring(7, 11);\nconst topico = msg.topic.substring(11);\n\nmsg.delay = Number(delay) * 1000;\nmsg.topic = topico;\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["b4bf5921.94ffb8"]]},{"id":"b4bf5921.94ffb8","type":"delay","z":"b0b92433.d70e68","name":"MQTTDelay","pauseType":"delayv","timeout":"1750","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":500,"wires":[["77c044c4.18636c"]]},{"id":"90daf6ec.284538","type":"amazon-echo-hub","z":"51413e3.3101cc","port":"8080","processinput":0,"discovery":true,"x":220,"y":200,"wires":[["4eef8e81.20c5"]]},{"id":"4eef8e81.20c5","type":"amazon-echo-device","z":"51413e3.3101cc","name":"Casa Raspi 2","topic":"","x":460,"y":200,"wires":[[]]},{"id":"a78dadf5.6c7b2","type":"debug","z":"537ac06c.7221e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"71362a30.3c1bd4","type":"http response","z":"51413e3.3101cc","name":"","statusCode":"","headers":{},"x":190,"y":280,"wires":[]},{"id":"6f22c782.095be8","type":"debug","z":"fa125156.f17d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"cargarecebida","targetType":"msg","x":850,"y":320,"wires":[]},{"id":"9f42cf75.16072","type":"debug","z":"fa125156.f17d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":240,"wires":[]},{"id":"1f05b0f3.6c6cdf","type":"function","z":"a8a27c9a.91072","name":"TuyaSendComans","func":"var keys = Object.keys(msg.deviceTuya);\nvar outputMsgs = [];\nvar confOutputMsgs = [];\n\nfor(var i =0; i<keys.length;i++)\n\t{\n\t\tconst tuyaIDevice = msg.deviceTuya[keys[i]].tuyaIDevice;\n\t\tconst code = msg.deviceTuya[keys[i]].code; \n\t\tconst access_token = JSON.parse(msg.payload)[0].access_token;\n\t\tlet cargaTuya;\n\t\tlet cargaTuyaConf;\n\t\t\n\t\tif (msg.cargaTuya == \"1\"){\n\t\t    cargaTuya = true;\n\t\t    cargaTuyaConf = \"On\";\n\t\t}else{\n\t\t    cargaTuya = false;\n\t\t    cargaTuyaConf = \"Off\";\n\t\t}\n\t\t\n\t\tconst body = { \n                \"access_token\": access_token, \n                \"device_id\" : tuyaIDevice, \n                \"body\": \n                    { \n                        \"commands\":[\n                            {\n                                \"code\": code,\n                                \"value\": cargaTuya\n                                \n                            }\n                            ]\n                        \n                    }\n                    \n                };\n                \n    const bodyString = JSON.stringify(body);\n    let headers = {};\n    headers['Content-Type'] = 'text/plain';\n    const url = \"https://us-central1-autodomo-73076.cloudfunctions.net/sendCommands\";\n    outputMsgs.push({payload:bodyString, url:url, headers:headers});\n    confOutputMsgs.push({payload:cargaTuyaConf, topic:\"/house/confirma/14AC40F52030\"});\n\n\t}\n\t\t\t      \nreturn [ outputMsgs,   confOutputMsgs ];","outputs":2,"noerr":0,"x":830,"y":200,"wires":[["438e63d2.e6f5cc"],["3305aaf0.317c26","ef0fb718.3f0db8"]]},{"id":"438e63d2.e6f5cc","type":"http request","z":"a8a27c9a.91072","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1030,"y":180,"wires":[[]]},{"id":"a78f01f2.7377b","type":"debug","z":"a8a27c9a.91072","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"deviceTuya","targetType":"msg","x":680,"y":300,"wires":[]},{"id":"af46aadc.5e5bc8","type":"function","z":"a8a27c9a.91072","name":"getToken","func":"msg.deviceTuya = msg.payload\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'text/plain';\n\n\nmsg.url = \"https://us-central1-autodomo-73076.cloudfunctions.net/execGetToken\";\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["1064999.5ec3f66"]]},{"id":"1064999.5ec3f66","type":"http request","z":"a8a27c9a.91072","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":630,"y":200,"wires":[["1f05b0f3.6c6cdf","a78f01f2.7377b"]]},{"id":"226699b8.a00e26","type":"function","z":"a8a27c9a.91072","name":"getDeviceTuyaFunc","func":"const topic = msg.topic;\nmsg.cargaTuya = msg.payload;\ntopico = \"SELECT * FROM `tuyaDevice` WHERE topico = '\" + topic + \"'\";\nmsg.topic = topico;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["f14c0e6a.2f2ee"]]},{"id":"f14c0e6a.2f2ee","type":"mysql","z":"a8a27c9a.91072","mydb":"e2f44265.69a06","name":"getDeviceTuya","x":900,"y":80,"wires":[["af46aadc.5e5bc8"]]},{"id":"ef0fb718.3f0db8","type":"debug","z":"a8a27c9a.91072","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":340,"wires":[]},{"id":"15b6c027.8354d","type":"mqtt in","z":"a8a27c9a.91072","name":"Tuya MQTT","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":230,"y":80,"wires":[["226699b8.a00e26"]]},{"id":"3305aaf0.317c26","type":"mqtt out","z":"a8a27c9a.91072","name":"Confirmação Tuya","topic":"","qos":"1","retain":"","broker":"8b47545.6bac3a8","x":1050,"y":220,"wires":[]},{"id":"2f5bdc6a.ea1d14","type":"debug","z":"1a910664.f749aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":100,"wires":[]},{"id":"d8be48c0.6e4728","type":"debug","z":"5878e260.04cb9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"fimCarga","targetType":"msg","x":510,"y":100,"wires":[]},{"id":"c4652b80.83e628","type":"mqtt out","z":"21b80430.90483c","name":"Mqtt Saida Cameras","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":900,"y":100,"wires":[]},{"id":"323d5f07.5196c","type":"mqtt in","z":"827f49e3.691098","name":"Mqtt Entrada","topic":"/house/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":170,"y":160,"wires":[["fb858c3.bfaae7"]]},{"id":"fb858c3.bfaae7","type":"function","z":"827f49e3.691098","name":"Tratar_Topicos_To_Tago","func":"const topico = msg.topic\nconst carga = msg.payload\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar semi_topico = topico.substring(7, fim_sub_topico);\nvar pinDevice = topico.substring(fim_sub_topico + 1); \nconst tipoDevice = pinDevice.substring(0, 2);\n\nif (semi_topico == \"sinal\"){\n            const pinDeviceCorrigido = pinDevice + \"_dbm\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"dBm\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n}else if (tipoDevice == \"01\"){\n    if (semi_topico == \"iluminacao\"){\n        if ((carga.substr(0, 1) == \"R\")){\n            return;\n        }\n            const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"confirma\"){\n            const pinDeviceCorrigido = pinDevice + \"_Status\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"smartinterruptor\"){\n           const pinDeviceCorrigido = pinDevice + \"_Secao\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }\n}else if (tipoDevice == \"02\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"%\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"03\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"04\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"Lux\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"05\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"06\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"%\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"07\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"Psi\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"08\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"m\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"09\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"12\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"W\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"13\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"14\"){\n    if (semi_topico == \"switch\"){\n        if ((carga.substr(0, 1) == \"R\")){\n            return;\n        }\n            const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"confirma\"){\n            const pinDeviceCorrigido = pinDevice + \"_Status\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }else if (semi_topico == \"smartinterruptor\"){\n           const pinDeviceCorrigido = pinDevice + \"_Secao\";\n            const payload = {\n            \"variable\" : pinDeviceCorrigido,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n            msg.payload = payload;\n            return msg;\n    }\n}else if (tipoDevice == \"15\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"16\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"17\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"18\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"19\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"20\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"21\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"22\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"24\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}else if (tipoDevice == \"03\"){\n    \n    const payload = {\n            \"variable\" : pinDevice,\n            \"unit\" : \"°C\",\n            \"value\" : carga\n            };\n\n   msg.payload = payload;\n   return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["5ce28102.98702"]]},{"id":"5ce28102.98702","type":"mqtt out","z":"827f49e3.691098","name":"Tago","topic":"tago/data/post","qos":"","retain":"","broker":"ed9e6cbc.e10e7","x":650,"y":160,"wires":[]},{"type":"tab","label":"Gbridge","id":"1a12526.c8edbae","info":"Conexão com o Gbridge Google Home","z":"1a12526.c8edbae"},{"id":"e0986c21.341249","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico17","func":"if(msg.topic == \"/house/persiana/09ABE0986C21\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":100,"wires":[["e0986c21.41249a"]]},{"id":"d8f15b8b.518820","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico21","func":"if(msg.topic == \"/house/agrupamento/15AAD8F15B8B\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":150,"wires":[["d8f15b8b.18820a"]]},{"id":"00000003.293183","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico3","func":"if(msg.topic == \"/house/iluminacao/01AA00000003\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["00000003.93183a"]]},{"id":"00000002.346998","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico5","func":"if(msg.topic == \"/house/iluminacao/01AA00000002\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":250,"wires":[["00000002.46998a"]]},{"id":"00000004.919682","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico7","func":"if(msg.topic == \"/house/iluminacao/01AA00000004\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["00000004.19682a"]]},{"id":"00000001.081433","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico15","func":"if(msg.topic == \"/house/rgb/05AA00000001\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":350,"wires":[["00000001.81433a"]]},{"id":"e0986c21.591872","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico22","func":"if(msg.topic == \"/house/door/17ABE0986C21\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["e0986c21.91872a"]]},{"id":"00000001.030207","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico23","func":"if(msg.topic == \"/house/garage/20AA00000001\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":450,"wires":[["00000001.30207a"]]},{"id":"06d6df72.655199","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico9","func":"if(msg.topic == \"/house/switch/14AA06D6DF72\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["06d6df72.55199a"]]},{"id":"06d6df72.325410","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico10","func":"if(msg.topic == \"/house/switch/14AB06D6DF72\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":550,"wires":[["06d6df72.25410a"]]},{"id":"06d6df72.145261","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico11","func":"if(msg.topic == \"/house/switch/14AC06D6DF72\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":600,"wires":[["06d6df72.45261a"]]},{"id":"00000001.711538","type":"function","z":"1a12526.c8edbae","name":"Tratar Topico24","func":"if(msg.topic == \"/house/iluminacaodim/24AA00000001\"){\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":650,"wires":[["00000001.11538a"]]},{"id":"e0986c21.41249a","type":"nora-blinds","z":"1a12526.c8edbae","devicename":"Persiana Sala","roomhint":"AutoDomo","name":"Persiana Sala","passthru":false,"invert":false,"nora":"d3c8442d.b94d08","topic":"/house/persiana/09ABE0986C21","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":100,"wires":[["e0986c21.41249b"]]},{"id":"e0986c21.41249b","type":"function","z":"1a12526.c8edbae","name":"Tratar Persiana17","func":"\n//var valorzigbee_json =  JSON.parse(msg.payload);\nvar valorzigbee_json =  msg.payload;\ncarga = \"00\"  + valorzigbee_json.openPercent.toString();\nmsg.payload =  \"P\" + carga.substr(-3);\nreturn msg;\n","outputs":1,"noerr":0,"x":1300,"y":100,"wires":[["e7e77ad0.97d118"]]},{"id":"d8f15b8b.18820a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Grupo Luz","roomhint":"AutoDomo","name":"Grupo Luz","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/agrupamento/15AAD8F15B8B","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":150,"wires":[["e7e77ad0.97d118"]]},{"id":"00000003.93183a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Vermelha","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bancada","name":"Luz Vermelha","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/01AA00000003","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":200,"wires":[["e7e77ad0.97d118"]]},{"id":"00000002.46998a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Bancada","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bancada","name":"Luz Bancada","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/01AA00000002","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":250,"wires":[["e7e77ad0.97d118"]]},{"id":"00000004.19682a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Bancada 2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bancada","name":"Luz Bancada 2","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/iluminacao/01AA00000004","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":300,"wires":[["e7e77ad0.97d118"]]},{"id":"00000001.81433a","type":"nora-light","z":"1a12526.c8edbae","devicename":"RGB Sala","lightcolor":true,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"roomhint":"Sala","name":"RGB Sala","passthru":false,"statepayload":true,"brightnessoverride":"","nora":"d3c8442d.b94d08","topic":"/house/rgb/05AA00000001","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":350,"wires":[["00000001.81433b"]]},{"id":"00000001.81433b","type":"function","z":"1a12526.c8edbae","name":"Tratar RGB 1_15","func":"\n//var valorzigbee_json =  JSON.parse(msg.payload);\nvar valorzigbee_json =  msg.payload;\n//carga = \"00\"  + valorzigbee_json.openPercent.toString();\n\nconst ligado = valorzigbee_json.on;\n\nif (ligado)\n    {\n    \n        const cor = {\n            \n        \"brightness\" : valorzigbee_json.brightness,\n        \"hue\" : valorzigbee_json.color.spectrumHsv.hue,\n        \"saturation\" : valorzigbee_json.color.spectrumHsv.saturation,\n         \"value\" : valorzigbee_json.color.spectrumHsv.value\n        }\n        \n        msg.payload =  cor;\n        return msg;\n\n    }\n    \nelse\n    {\n    \n    const cor = { \n    \"brightness\" : 0,\n    \"hue\" : 0,\n    \"saturation\" : 0,\n    \"value\" : 0\n    }\n    \n    msg.payload =  cor;\n    return msg;\n\n}\n\n\n\n","outputs":1,"noerr":0,"x":1300,"y":350,"wires":[["00000001.81433c"]]},{"id":"00000001.81433c","type":"color-convert","z":"1a12526.c8edbae","input":"hsv","output":"rgb","outputType":"object","scaleInput":true,"x":1600,"y":350,"wires":[["00000001.81433d"]]},{"id":"00000001.81433d","type":"function","z":"1a12526.c8edbae","name":"Tratar RGB 2_15","func":"\n//var valorzigbee_json =  JSON.parse(msg.payload);\nvar corJson =  msg.payload;\n//carga = \"00\"  + valorzigbee_json.openPercent.toString();\nlet red = \"000\" + corJson.red;\nlet green = \"000\" + corJson.green;\nlet blue = \"000\" + corJson.blue;\n\nlet redCorrigido = red.substr(-3);\nlet greenCorrigido = green.substr(-3);\nlet blueCorrigido = blue.substr(-3);\n\nconst mensagem = \"r\" + redCorrigido + \",\" +  greenCorrigido + \",\" + blueCorrigido + \"#\";\n\n\nmsg.payload =  mensagem;\nreturn msg;\n","outputs":1,"noerr":0,"x":1900,"y":350,"wires":[["e7e77ad0.97d118"]]},{"id":"e0986c21.91872a","type":"nora-lock","z":"1a12526.c8edbae","devicename":"Porta Sala","lightcolor":false,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"roomhint":"Sala","name":"Porta Sala","passthru":false,"statepayload":true,"brightnessoverride":"","nora":"d3c8442d.b94d08","topic":"/house/door/17ABE0986C21","lockValue":true,"lockValueType":"bool","unlockValue":false,"unlockValueType":"bool","jammedValue":true,"jammedValueType":"bool","unjammedValue":false,"unjammedValueType":"bool","x":1000,"y":400,"wires":[["e7e77ad0.97d118"]]},{"id":"00000001.30207a","type":"nora-garage","z":"1a12526.c8edbae","devicename":"Garagem","roomhint":"Sala","name":"Garagem","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/garage/20AA00000001","openvalue":"P100","openvalueType":"str","closevalue":"P000","closevalueType":"str","x":1000,"y":450,"wires":[["e7e77ad0.97d118"]]},{"id":"06d6df72.55199a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Cozinha","roomhint":"Cozinha","name":"Luz Cozinha","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/switch/14AA06D6DF72","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":500,"wires":[["e7e77ad0.97d118"]]},{"id":"06d6df72.25410a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Mesa","roomhint":"Cozinha","name":"Luz Mesa","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/switch/14AB06D6DF72","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":550,"wires":[["e7e77ad0.97d118"]]},{"id":"06d6df72.45261a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Quintal","roomhint":"Cozinha","name":"Luz Quintal","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"statepayload":true,"brightnessoverride":"","passthru":false,"nora":"d3c8442d.b94d08","topic":"/house/switch/14AC06D6DF72","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":600,"wires":[["e7e77ad0.97d118"]]},{"id":"00000001.11538a","type":"nora-light","z":"1a12526.c8edbae","devicename":"Luz Dimerizada","lightcolor":false,"brightnesscontrol":true,"turnonwhenbrightnesschanges":true,"roomhint":"Cozinha","name":"Luz Dimerizada","passthru":false,"statepayload":true,"brightnessoverride":"","nora":"d3c8442d.b94d08","topic":"/house/iluminacaodim/24AA00000001","onvalue":"1","onvalueType":"str","offvalue":"0","offvalueType":"str","x":1000,"y":650,"wires":[["e7e77ad0.97d118"]]},{"id":"d3c8442d.b94d08","type":"nora-config","z":"1a12526.c8edbae","name":"AutoDomoToken","group":"","notify":false},{"id":"885ddb14.2547f8","type":"function","z":"1a12526.c8edbae","name":"Tratar GoogleHome","func":"const topico = msg.topic\nconst carga = msg.payload\nvar fim_sub_topico = topico.indexOf(\"/\" , 9); \nvar semi_topico = topico.substring(7, fim_sub_topico);\nvar pinDevice = topico.substring(fim_sub_topico + 1); \nconst tipoDevice = pinDevice.substring(0, 2);\n\n\n\nif(semi_topico != \"confirma\"){\n    return;\n}\n\nelse if (tipoDevice == \"01\"){\n    \n    msg.topic = \"/house/iluminacao/\" + pinDevice;\n    \n    if(carga == \"On\" || carga == \"on\" || carga == \"1\"){\n        msg.payload = \"1\";\n    }else if (carga == \"Off\" || carga == \"off\" || carga == \"0\"){\n        msg.payload = \"0\";\n    }\n    \n    return msg;\n}\n\nelse if (tipoDevice == \"14\"){\n    \n    msg.topic = \"/house/switch/\" + pinDevice;\n    \n    if(carga == \"On\" || carga == \"on\" || carga == \"1\"){\n        msg.payload = \"1\";\n    }else if (carga == \"Off\" || carga == \"off\" || carga == \"0\"){\n        msg.payload = \"0\";\n    }\n    \n    return msg;\n}\n\nelse if (tipoDevice == \"09\"){\n    \n    const cargaCorrigida = {\"openPercent\": msg.payload}\n    msg.topic = \"/house/persiana/\" + pinDevice;\n    msg.payload  = cargaCorrigida\n    \n    return msg;\n}else if (tipoDevice == \"20\"){\n    \n    msg.topic = \"/house/garage/\" + pinDevice;\n\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":350,"wires":[["e0986c21.341249","d8f15b8b.518820","00000003.293183","00000002.346998","00000004.919682","00000001.081433","e0986c21.591872","00000001.030207","06d6df72.655199","06d6df72.325410","06d6df72.145261","00000001.711538"]]},{"id":"fdff8d15.86e92","type":"mqtt in","z":"1a12526.c8edbae","name":"Mqtt Entrada","topic":"/house/confirma/#","qos":"2","datatype":"auto","broker":"8b47545.6bac3a8","x":130,"y":350,"wires":[["885ddb14.2547f8"]]},{"id":"e7e77ad0.97d118","type":"mqtt out","z":"1a12526.c8edbae","name":"Mqtt Saida 2","topic":"","qos":"","retain":"","broker":"8b47545.6bac3a8","x":2200,"y":350,"wires":[]}]